{% load i18n %}

<div id="feedback-overview">
    <h2>Feedback abschicken?</h2>
    <div id="feedback-overview-description">
        <div id="feedback-overview-description-text"><h3>{% trans 'Dein Feedback' %}</h3>
            <!--<h3 class="feedback-additional">{% trans 'Additional info' %}</h3>
            <div id="feedback-additional-none"><span>{% trans 'None' %}</span></div>
            <div id="feedback-browser-info"><span>{% trans 'Browser Info' %}</span></div>
            <div id="feedback-page-info"><span>{% trans 'Page Info' %}</span></div>
            <div id="feedback-page-structure"><span>{% trans 'Page Structure' %}</span></div>-->
        </div>
        <div id="feedback-overview-error">{% trans 'Schreib noch was!' %}</div>
    </div>
    <div id="feedback-overview-screenshot"><h3>{% trans 'Bildschirmfoto' %}</h3></div>
    <div class="feedback-buttons">
        <!--<a id="feedback-overview-back">{% trans 'zurück' %}</a>-->
        <button id="feedback-submit" class="button button--yellow">{% trans 'Abschicken!' %}</button>
    </div>
    <i class="fa fa-times feedback-wizard-close" aria-hidden="true"></i>
</div>