{% load i18n %}
<div id="feedback-overview">
    <div class="feedback-logo">{% trans 'Hinweise, Lob, Kritik.' %}</div>
    <div id="feedback-overview-description">
        <div id="feedback-overview-description-text"><h3>{% trans 'Dein Feedback' %}</h3>
            <!--<h3 class="feedback-additional">{% trans 'Additional info' %}</h3>
            <div id="feedback-additional-none"><span>{% trans 'None' %}</span></div>
            <div id="feedback-browser-info"><span>{% trans 'Browser Info' %}</span></div>
            <div id="feedback-page-info"><span>{% trans 'Page Info' %}</span></div>
            <div id="feedback-page-structure"><span>{% trans 'Page Structure' %}</span></div>-->
        </div>
        <div id="feedback-overview-error">{% trans 'Schreib noch was!' %}</div>
    </div>
    <div id="feedback-overview-screenshot"><h3>{% trans 'Bildschirmfoto' %}</h3></div>
    <div class="feedback-buttons">
        <button id="feedback-submit" class="feedback-submit-btn feedback-btn-blue">{% trans 'Senden' %}</button>
        <button id="feedback-overview-back" class="feedback-back-btn feedback-btn-gray">{% trans 'zurück' %}</button>
    </div>
    <div class="feedback-wizard-close"></div>
</div>