{% extends "offcanvas.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="small-12 medium-10 large-8 columns small-centered">
	  <div class="callout">
	    <h2 class="text-center">Schicke uns ein Zitat!</h2>
	    <p class="text-center">Wir gucken es uns an und veröffentlichen es, sofern es jugendfrei ist.</p>
	    <form method="post"> {% csrf_token %}
	      {{ form }}
	      <input class="button button--yellow" type="submit" value="Abschicken" />
	      <a class="text-link-special pull-right" onClick="javascript:history.go(-1);">Raus hier.</a>
	    </form>
	  </div>
	</div>
</div>
{% endblock content %}


