build
# db.sqlite3

socialee/static/bower_components/
socialee/static/css/
media/

Gemfile.lock

.bundle
.tox

# Python boilerplate.
__pycache__
*.pyc
.python-version
socialee.sublime-project
socialee.sublime-workspace

models.png

# Screenshots from --splinter-screenshot-dir=tests/screenshots (setup.cfg).
tests/screenshots/

*.sublime-project
*.sublime-workspace