.button {
  letter-spacing: 0.05rem;
  font-weight: 600;
  text-transform: uppercase;

    &.hollow {
      border: 2px solid $orange;
      color: $orange;

        &:hover {
          border-color: $hover-color;
          color: $hover-color;
          text-decoration: none;
        }
    }
}

.button--icon i {
  padding-right: 5px;
}

.button--upload  {
	margin-left: rem-calc(40px);
}
