.callout {
	@include callout-base;
	margin-top: 1rem;
	padding: 3rem 2rem 4rem 2rem;

	@include breakpoint(small only) {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 2rem;
	padding-bottom: 4rem;
	}
}