.connections-footer {
	background-color: $grey;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.img-wrapper {
    position: relative;
}

.connections-footer img {
    position: absolute;
    top: -260px;
    left: -45px;
    max-width: none;
}
