footer {
	background-color: c(black, 1);
	.menu {
		padding:rem-calc(40px) 0;
		@include breakpoint(medium) {
				padding: 1rem 0 0.5rem 0;
	  }
		li a {
			font-size: 28px;
			font-weight: 700;
			padding: 1rem 1rem;
 		}
	}
}
