.c-form {
  background-color: c(special, white);
  padding: 3rem 3.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

  @include breakpoint(medium) {
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
}

// .c-section__callout {
//   background-color: c(special, white);
//   padding: 3rem 3.5rem;
//   margin-bottom: 1.5rem;
//     margin-top: 1.5rem;
//   @include breakpoint(medium) {
//       margin-bottom: 3rem;
//       margin-top: 3rem;
//     }
// }

.c-form__fieldset {

}

.c-form__title {
  text-align: center;
}

.c-form__footer {
  padding-top: rem-calc(40px);
}

.second-form-label {
 display: inline;
 margin-left: 2rem;
 color: grey;
}
