.c-form {
  @include callout; // further adjustments via settings.py
  @include breakpoint(medium) {
      margin-bottom: 3rem;
      margin-top: 3rem;
    }

  @include breakpoint(small only) {
      padding: 2rem 2rem;
    }
}

.help-text {
    margin-top: $helptext-margin-top;

    &.error {
      color: $alertred;
    }
}

.second-form-label {
 display: inline;
 margin-left: 2rem;
 color: $form-label-color;
}

//////////////////////////////////////

.c-form__title {
  text-align: center;
}

.c-form__footer {
  padding-top: rem-calc(20px);
}
