.hero {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-repeat: repeat;
  background-image: url(../img/app/pattern.jpg);

  &__profile {
    padding: 4rem;
    background-color: $white;
    border-radius: 4px;
  }



    &__profile img {
      border-radius: 100%;
    }
}

.profile {

  &__name {
    font-size: 54px;
    font-weight: 700;
    color: $socialee-black;
  }

  &__tagline {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 38px;
    font-weight: 700;
    color: $socialee-black;
    margin-bottom: 20px;
  }

  &__tags {
    font-size: 28px;
    font-weight: 700;
    color: $socialee-black;
  }
}

