.hero {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-repeat: repeat;
  background-image: url(../img/app/pattern.jpg);
  @include breakpoint(small only) {
    	padding-top: rem-calc(160px);
	}

  &__wrapper {
    background-color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    float: left;
	 //    @include breakpoint(medium) {
	 //    	padding: rem-calc(60px)  rem-calc(50px) ;
		// }
    }

  &__profile {
    background-color: $white;
    border-radius: 4px;
    padding: rem-calc(0);
    padding-bottom: 4rem;
    padding-top: 6rem;
  }



    &__profile img {
      border-radius: 100%;
      @include breakpoint(small only) {
    	 max-width: 180px;
    	 position: absolute;
    	 top: 60px;
    	 left: 50%;
    	 margin-left: -90px;
		}

    }
}

.profile {

  &__tagline {
    line-height: 38px;
    margin-bottom: 20px;
  }

  &__tags {
    font-size: 28px;
    font-weight: 700;
    color: $socialee-black;
  }
}

.media-object {
    @include breakpoint(small only) {
    	padding: rem-calc(40px);
	}
}

.media-object-section.main-section {
    padding-bottom: rem-calc(0px);
}

.media-object-section:last-child:not(:nth-child(2)) {
    padding-left: 0rem;
}

.media-object-section:first-child {
    padding-right: 0rem;
}

.c-section--hero {
    padding-top: 20% !important;
    padding-bottom: 20% !important;
}

.c-section--hero::after {
background-image: url(../img/landingpage_bg/Landingpage_Footer.jpg);
}
