.hero {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-repeat: repeat;
  background-image: url(../img/app/pattern.jpg);

  &__profile {
    padding: 4rem;
    background-color: $white;
    border-radius: 4px;
  }

    &__profile img {
      border-radius: 100%;
    }
}
