.card-icons {
  visibility: hidden;
  position: relative;
  z-index: 100;
  

  color: $socialee-orange;
  
  .expand-icon {
    margin: 0.5rem;
    position: absolute;
    left: 0;
    &:hover {
    color: red; // change this color!
    cursor: pointer;
    }
  }

  .turn-icon {
    margin: 0.5rem;
    position: absolute;
    right: 0;
    &:hover {
    color: red;
    cursor: pointer;
    }
  }

}

.show-login-option {
  padding: 0;
  margin: 0;
  position: relative; 
  display: none;
}

.grid {
  padding-top: 3rem;
  padding-bottom: 3rem; 
  margin: 0 auto;
  @include breakpoint(small only) {
    padding-bottom: 1rem; 
  }
}

/* item is invisible, but used for layout */
.grid-item {
  width: 320px;
  @include breakpoint(small only) {
    width: 290px;
  }
}

.idea-card-front, .idea-card-back {
  width: 320px;
  height:auto;
  text-align: center;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 3rem;
  transition: box-shadow 0.3s;
  -webkit-transition: width 0.2s; /* Safari */
    transition: width 0.2s;
  @include breakpoint(small only) {
    width: 290px;
  }

  h2 {
    font-size: 28px;
    color: #302F35;
    letter-spacing: 0px;
    line-height: 30px;
    margin-top: 0.8rem;
  }

  p {
    font-size: 16px;
    color: #302F35;
    letter-spacing: 0px;
    line-height: 24px;
    margin-bottom: 0;
  }

  a {
    font-size: 16px;
  }

  .idea-image img {
    padding: 0;
    &:hover {
      cursor: pointer;
    }
  } 

  .idea-details {
    padding: 0.9rem;
    &:hover {
      cursor: default;
    }
  }

  .idea-heart, .idea-hand, .idea-money {
    color: #FF9E1A;
    position: relative;
    bottom:-27px;
    font-size: 0.9rem;
    strong {
      font-size: 0.8rem;
      color: white;
    }
    span {
    &:hover {
      color: $socialee-hover;
      cursor: pointer;
    }}
  }
  &:hover {
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.18);
  }
}

.idea-card-back
{
  overflow: hidden;
}
.grid-item:hover .card-icons
{
  visibility: visible;
}

.front_card
{
  position: relative;
  height:auto;
}

/* both item and item content change size */
.grid-item.is-expanded,
.grid-item.is-expanded .idea-card {
  width: 670px;
  z-index: 2;
  @include breakpoint(small only) {
  width: 290px;
  z-index: 2;
  }
  @include breakpoint(medium only) {
  width: 320px;
  z-index: 2;
  }
}

.text-link-special {
  border-bottom: 4px solid;
  font-weight: bold;
  &:hover {
    text-decoration: none; 
  }
}

.status-unpublished {
  background-color: #302f35;
  p { 
    font-weight: bold;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: white; 
  }
}