.landingpage-head {
    background-image: url("../img/landingpage_bg/lilienthal.png"), url("../img/landingpage_bg/landingpage_bg.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 500% 68%, center center;
    background-size: 110%, cover;
    h1 {
      margin-top: 8rem;
      @include breakpoint(small only){
        margin-top: 4rem;  
      }
    } 
}

.landingpage-bottom {
  background-image: url("../img/landingpage_bg/ship.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 15rem;
  padding-bottom: 5rem;
  z-index: 0;
}