html.profile_view body {
    background-color: #302F35;
}

.off-canvas-content {
    background-repeat: repeat;
    background-image: url(../img/app/pattern.jpg);
}

.site-content {
    background-color: #fff;
    padding-top: 80px;
}

.grey {
  color: #5D5C67;
}

.green {
	color: map-get($foundation-palette, green);
}

.blue {
	color: map-get($foundation-palette, blue);
}

i.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #ebebeb;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -16px;
}

i.icon::before {
  content: "";
  display: block;
  background: #c2c2c2;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 5px;
}

i.icon::after {
  content: "";
  display: block;
  background: #c2c2c2;
  width: 20px;
  height: 10px;
  border-radius: 1000px 1000px 0 0;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 15px;
}

h6.byline {
  position: relative;
  margin-bottom: 15px;
  margin-top: 10px;
}

h6.byline a {
  font-size: 26px;
}

h6.byline .label {
  font-size: 60%;
}

.time {
  text-transform: uppercase;
  font-size: 15px;
}

a.thick {
	text-decoration: none;
	border-bottom: 4px solid;

	&:hover {
		border-bottom: 4px solid #CD931F;
	}
}

h6 {
 font-weight: 700;
}

.tags-wrapper h6 {
    margin-left: 10px;
}
