.c-section {
  padding: 0;
}

.c-section--white {
  @extend .c-section;
  background-color: c(special, white);
}

.c-section--grey {
  @extend .c-section;
  background-color: c(grey, f8);
}

.c-section--bg-img {
  	@extend .c-section;
  	padding-top: 10rem;
 		padding-bottom: 10rem;
 		z-index: 0;
		position: relative;
	  // background-color: #3F3E47;
	  display: table;
	  width: 100%;
	  height: auto;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  background-size: cover;
	  -o-background-size: cover;
	  @include breakpoint(small only) {
	    padding: 1rem;
	  }
}

.c-section--bg-img::after {
	content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.033;
    z-index: -1;
}

.c-section--img {
	position: relative;
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.c-section-img-wrapper {
	position: relative;
}

.c-section-img-wrapper .section-img {
	position: absolute;
    left: 50%;
}

.c-section--quotes {
background-color: c(blue, 3);

}

.c-section--quotes::after {
background-image: url(../img/landingpage_bg/Landingpage_Footer.jpg);
}

.c-section--connections-footer .section-img {
    top: -280px;
    margin-left: -44px;
}

.c-section--quotes .section-img {
    top: -280px;
    margin-left: -44px;
}

.c-section__callout {
	background-color: c(special, white);
	padding: 3rem;
	margin-bottom: 1.5rem;
    margin-top: 1.5rem;
	@include breakpoint(medium) {
    	margin-bottom: 3rem;
    	margin-top: 3rem;
  	}
}

.home .c-section--quotes {
    background-color: c(black, 1);
}
