.hero__tabs {
  // float: none;
  // position: relative;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  // width: 100%;
  //padding-top: 2.5rem;
  background: transparent;
  border: 0;
}

.hero__tabs li {
  // float: none;
  // display: inline-flex;
  // flex-grow: 1;
  // text-align: center;
  // width: 49.8%;
}

.hero__tabs li a {
  @include breakpoint(medium) {
    padding: 2.1rem 1rem;
    // font-size: 34px;
  }
  color: #ffe;
  text-transform: normal;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out;
  width: 100%;
  background-color: $socialee-darkgreen;
  color: #fff;
}

.hero__tabs li a.is-active {
  background: rgba(250, 250, 250, 0.15);
}

.hero__tabs li a:hover {
  background: $socialee-darkgreen;
  transition: all 0.35s ease-in-out;
  text-decoration: none;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background: $socialee-darkgreen;
    color: $socialee-orange;
}

.tabs-title > a {
   font-size: inherit;
}

.tabs-content {
    border: 0;
    margin-bottom: 8rem;
    padding-top: 4rem;
}

.tabs-panel {
   padding: 0;
}
