{% extends "account/allauth_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block allauth_content %}


  <h1>Schön, dass du dabei bist!</h1>
  <p>Es gibt viele gute Menschen mit guten Ideen, gewöhnen wir uns daran, diese auch umzusetzen. Willkommen bei Socialee!</p>

    <form method="POST" id="form_id" enctype="multipart/form-data">{% csrf_token %}

    <div class="fieldWrapper"></br></div>
    {% for field in form %}
    <div class="fieldWrapper">
      {{ field.errors }}
      <div class="form-label">{{ field.label | safe }}</div>
        {% if field.help_text %}
          <div class="second-form-label">{{ field.help_text|safe }}</div>
        {% endif %}
      {{ field }}
    </div>
    {% endfor %}

    <div class="fieldWrapper">
      <input class="button button--yellow" type="submit" value="Registrieren" />
    </div>
    <p>Ach nee, ich hab ja schon eine Konto.<a href="{% url 'account_login' %}"> Ich will mich anmelden.</a></p>
    </form>


{% endblock allauth_content %}


