{% extends "account/allauth_base.html" %}
{% load static %}

{% block allauth_content %}


  <h1 class="h-mb-40">Schön, dass du da bist!</h1>
  <p>Willkommen bei Socialee! Wir sind in der Entwicklungs-Phase, hab Nachsicht mit allem, was noch keinen Sinn macht. Du kannst dir gerne ein Konto eröffnen und alles austesten. Wenn du schon ein Konto hast, <a href="{% url 'account_login' %}"> hier lang.</a></p>

  <form method="POST" id="form_id" enctype="multipart/form-data">{% csrf_token %}

    <div class="row">
    <!-- <div class="fieldWrapper"></br></div> -->
      {% for field in form %}
      <div class="medium-6 columns">
        <label>{{ field.label | safe }}</label>
          {% if field.help_text %}
            <!-- <div class="second-form-label">{{ field.help_text|safe }}</div> -->
          {% endif %}
        {{ field }}
        {{ field.errors }}
      </div>
      {% endfor %}

      <div class="fieldWrapper">
        <input class="button button--yellow large" type="submit" value="Registrieren" />
      </div>
    </div>
  </form>


{% endblock allauth_content %}


