.breadcrumbs {
  @include breadcrumbs-container;
  margin-bottom: 0.5rem;
  a {
    font-weight: bold;
    font-size: 1.1rem;
    color: rgba(165, 185, 181, 0.8);
  }
  li {
    font-weight: bold;
    font-size: 1.1rem;
    color: rgba(165, 185, 181, 0.8);
  }
  li:not(:last-child)::after {
   color: rgba(165, 185, 181, 0.8);
  }
}