.breadcrumbs {
  @include breadcrumbs-container;
  a {
  font-size: 1.1rem;
  }
  li {
  font-size: 1.1rem;
  color: $primary-color;
  }
  li:not(:last-child)::after {
    color: $primary-color;
  }
}