.top-bar-blog {
  @include top-bar-container;
  ,.top-bar-blog ul {
    background-color: rgba($topbar-background, 0.6);
  }
  span {
    color: $primary-color;
  }
  #welcomeblog { margin:auto; }
  @include breakpoint(small only) {
    span {
    font-size: 0.9rem;
    }
  }
}