.blog-background {
  min-height: 100vh;
  background-image: url('../img/landingpage_bg/background-assets/background.jpg'), url('../img/landingpage_bg/background-assets/pattern.jpg');
  background-repeat: no-repeat, repeat;
  @include breakpoint(small only) {
    background-image: url('../img/landingpage_bg/background-assets/pattern.jpg');
    background-repeat: repeat;
    }
}

.blog-image {
  margin: 0.5rem;
  figcaption {
    font-size: 0.9rem;
    text-align: left;
    color: gray;
  }
}

.continue-reading {
  display: inline;
  text-align: right;
}

h2.entry-title {
  font-weight: bold;
  margin-bottom: 0rem;
  a {
    color: inherit;
    font-size: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.entry-summary {
  p, a {
    font-size: 1.25rem;
  }
}

.entry-content {
  text-align: left;
  font-size: 1.25rem;
  p, a {
    padding: 1rem;
  }
  @include breakpoint(small only){
  font-size: 1.1rem;
  p, a {
    padding: 0.5rem;
  }
  }
}