.blog-time-published {
  line-height: 1.7rem;
}

.blog-background {
  min-height: 100vh;
  background-image: url('../img/landingpage_bg/background-assets/background.jpg'), url('../img/landingpage_bg/background-assets/pattern.jpg');
  background-repeat: no-repeat, repeat;
  @include breakpoint(small only) {
    background-image: url('../img/landingpage_bg/background-assets/pattern.jpg');
    background-repeat: repeat;
    }
}

.blog-card {
  padding: 1.5rem;
  @include breakpoint(small only) {
    width: 350px;
  }
}

.blog-image {
  margin: 0 0 1rem 0;
  figcaption {
    font-size: 0.9rem;
    text-align: left;
    color: gray;
  }
}

.continue-reading {
  display: inline;
  text-align: right;
}

h2.entry-title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.34rem;
  a {
    color: inherit;
    font-size: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.entry-summary {
  // p, a {
  //   font-size: 1rem;
  // }
}

.entry-content {
  p {margin: 0 0 1rem 0;}
  text-align: left;
}