{% extends "account/allauth_base.html" %}
{% load static %}

{% block allauth_content %}


  <h2>Willkommen bei Socialee!</h2>
  <p>Wir sind in der Entwicklungs-Phase, habe Nachsicht mit allem, was noch keinen Sinn macht oder nicht funktioniert. Du kannst dich registrieren und nach Herzenslust testen. Schick uns gerne dein Feedback. Wenn du schon ein Konto hast, <a class="text-link-special" href="{% url 'account_login' %}"> melde dich an.</a></p>

    <form class="mt-20" method="POST" id="form_id" enctype="multipart/form-data">{% csrf_token %}

    <div class="row">
      {% include "snippet_formfield.html" with field=form.first_name size="small-12 medium-6" %}
      {% include "snippet_formfield.html" with field=form.email size="small-12 medium-6" %}
      {% include "snippet_formfield.html" with field=form.message size="small-12" %}
      {% include "snippet_formfield.html" with field=form.newsletter size="small-12" %}
    </div>

    <div class="c-form__footer">
      <input class="button" type="submit" value="registrieren" />
    </div>

    </form>


{% endblock allauth_content %}
