{% extends "account/allauth_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block allauth_content %}


  <h1>Schön, dass du da bist!</h1>
  <p>Willkommen bei Socialee! Wir sind in der Entwicklungs-Phase, hab Nachsicht mit allem, was noch keinen Sinn macht. Du kannst dich gerne anmelden und alles austesten. Wenn du schon ein Konto hast, <a href="{% url 'account_login' %}"> logge dich ein.</a></p>

    <form method="POST" id="form_id" enctype="multipart/form-data">{% csrf_token %}

    <div class="row">
      {% for field in form %}
      <div class="medium-6 columns">
        {{ field.errors }}
        <div class="form-label">{{ field.label | safe }}</div>
          {% if field.help_text %}
            <div class="second-form-label">{{ field.help_text|safe }}</div>
          {% endif %}
        {{ field }}
      </div>
      {% endfor %}
    </div>

    <div class="fieldWrapper">
      <input class="button button--yellow" type="submit" value="anmelden" />
    </div>
    
    </form>


{% endblock allauth_content %}