{% extends "account/allauth_base.html" %}
{% load static %}

{% block allauth_content %}


  <h2>Schön, dass du da bist!</h2>
  <p class="-lead">Willkommen bei Socialee! Wir sind in der Entwicklungs-Phase, hab Nachsicht mit allem, was noch keinen Sinn macht. Du kannst dich gerne anmelden und alles austesten. Wenn du schon ein Konto hast, <a href="{% url 'account_login' %}"> logge dich ein.</a></p>

    <form method="POST" id="form_id" enctype="multipart/form-data">{% csrf_token %}

    <div class="row">

      <div class="columns medium-6">
          {{ form.first_name.errors }}
          <label>{{ form.first_name.label }}</label>
            {% if form.first_name.help_text %}
             <span class="second-form-label">{{ form.first_name.help_text|safe }}</span>
            {% endif %}
          {{ form.first_name }}
      </div>

      <div class="columns medium-6">
          {{ form.email.errors }}
          <label>{{ form.email.label }}</label>
            {% if form.email.help_text %}
             <span class="second-form-label">{{ form.email.help_text|safe }}</span>
            {% endif %}
          {{ form.email }}
      </div>

      <div class="columns medium-12">
          {{ form.message.errors }}
          <label>{{ form.message.label|safe }}</label>
            {% if form.message.help_text %}
             <span class="second-form-label">{{ form.message.help_text|safe }}</span>
            {% endif %}
          {{ form.message }}
      </div>
      <div class="columns medium-12">
          {{ form.newsletter.errors }}
          <label>{{ form.newsletter.label }}</label>
            {% if form.newsletter.help_text %}
             <label class="second-form-label">{{ form.newsletter.help_text|safe }}</label>
            {% endif %}
          {{ form.newsletter }}
      </div>

    </div>

    <div class="fieldWrapper">
      <input class="button button--yellow" type="submit" value="anmelden" />
    </div>

    </form>


{% endblock allauth_content %}
