<div class="top-bar">
  <div class="top-bar-title">
    <strong>Socialee</strong>
  </div>
  <div class="top-bar-right-todo"> <!-- TODO: Flexbox is messing with topbar -->
    <ul class="dropdown menu" data-dropdown-menu>
      {% if not request.user.is_authenticated %}
      <li><a href="{% url 'account_login' %}">Log in</a></li>
      {% else %}
      <li><a href="{% url 'user_profile' %}">
      {% if request.user.first_name %}
      {{ request.user.first_name }}
      {% else %}
      {{ request.user.email }}
      {% endif %}</a></li>
      <li><a href="{% url 'account_logout' %}">Log out</a></li>
      {% endif %}
        <li>
        <button type="button" class="button" data-toggle="offCanvas">Menü</button>
      </li>
    </ul>
  </div>
</div>