.l-site-content {
  background-color: #fff;
  padding-top: rem-calc(20px);

  @include breakpoint(large) {
    padding-top: rem-calc(80px);
  }
}

.l-section {
  padding: 0;
}

.l-section--white {
  @extend .l-section;
  background-color: c(special, white);
}

.l-section--grey {
  @extend .l-section;
  background-color: c(grey, f8);
}

.l-section--img {
	position: relative;
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.l-section-img-wrapper {
	position: relative;
}

.l-section-img-wrapper .section-img {
	position: absolute;
    left: 50%;
}

.l-tabs {
  background-repeat: repeat;
  background-image: url(../img/app/pattern.jpg);
}

.l-text-box {
  background-color: map-get($foundation-palette, black);
  color: c(special, white);
  padding-top: rem-calc(87px);
  padding-bottom: rem-calc(116px);
}

.l-multi-column {
  @include breakpoint(medium) {
  	@include col-cstm(150px, 2, 20px, 1px outset transparent)
  }
}
