.full-height-100 {
  min-height: 100vH;
}

.full-height-75 {
  min-height: 75vH;
}

.full-height-33 {
  min-height: 33vH;
}


// used for moving up idea-gallery on Landingpage
.move-up {
  z-index: 2;
  top: -12rem;
  @include breakpoint(small only) {
  top: -6rem;
  }
  @include breakpoint(xxlarge) {
  top: -20rem;
  }
}

// used for moving up idea-gallery on Landingpage
section.move-up {
  margin-bottom: -24rem;
  @include breakpoint(small only) {
    margin-bottom: -6rem;
  }
  @include breakpoint(xxlarge) {
    margin-bottom: -10rem;
  }
}

/////////////////////

.l-site-content {
  // background-color: #fff;
  // padding-top: rem-calc(20px);

  // @include breakpoint(large) {
  //   padding-top: rem-calc(80px);
  // }
}

.l-tabs {
  background-repeat: repeat;
  background-image: url(../img/app/pattern.jpg);
}

.l-text-box {
  background-color: $black;
  color: $white;
  padding-top: rem-calc(87px);
  padding-bottom: rem-calc(116px);
}

// .l-multi-column {
//   @include breakpoint(medium) {
//   	@include col-cstm(150px, 2, 20px, 1px outset transparent)
//   }
// }
