.masonry-layout {
	box-sizing: border-box;
	column-count: 4;
	column-gap: rem-calc(1px);
	position: relative;
	@include breakpoint(small only){
		column-count: 2;
	}
}

.masonry-layout-ideas {
	box-sizing: border-box;
	column-count: 3;
	column-gap: rem-calc(15px);
	position: relative;
	@include breakpoint(medium only){
		column-count: 2;
	}
	@include breakpoint(small only){
		column-count: 1;
	}
}

.masonry-layout * {
	box-sizing: border-box;
}
.ml-panel {
  margin: 0;
  padding: 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.ml-panel-ideas {
  margin: 0px;
  padding: 10px 10px 0 10px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.ml-panel-content {
  // border-radius: 10px;
  overflow: hidden;
  // padding: 10px;
  width: 100%;
}
.ml-cluster {
  display: flex;
  padding: 0;
}

.ml-cluster-vertical {
  flex-direction: row;
}

.ml-cluster-horizontal {
	flex-direction: column;
}
.ml-cluster-segment {
	display: flex;
	flex: 1 1 auto;
	overflow: hidden;
}
.ml-cluster-segment-row {
	display: flex;
	flex-direction: row;
}
.ml-cluster-segment-column {
	flex-direction: column;
}

.ml-cluster-segment-half {
  flex-basis: 50%;
}
.ml-cluster-segment-quarter {
  flex-basis: 25%;
}