{% extends "base.html" %}
{% load i18n %}


{% block title %}{% trans "Server error" %}{% endblock title %}

{% block body-class %}error-500{% endblock body-class %}

{% block content %}
<div class="row align-center">
	<div class="medium-8 columns text-center full-height">
		<div class="callout">
			<h2>{% trans "Server error" %}</h2>
			<p>{% trans "There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience." %}</p>
		</div>
	</div>
</div>
{{ block.super }}
{% endblock content %}
