<div id="cafeModal" class="reveal-modal large" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    
    <h3 id="modalTitle">Hier findest Du alle Informationen zum Crowdcafé.</h3>

	<ul class="tabs" data-tab role="tablist">
	  <li class="tab-title active" role="presentational" ><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1"><i class="fi-wrench"></i> Inventarliste</a></li>
	  <li class="tab-title" role="presentational" ><a href="#panel2-2" role="tab" tabindex="0"aria-selected="false" controls="panel2-2"><i class="fi-lightbulb"></i> Service</a></li>
	  <li class="tab-title" role="presentational"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" controls="panel2-3"><i class="fi-calendar"></i> Kalender</a></li>
	  <li class="tab-title" role="presentational" ><a href="#panel2-4" role="tab" tabindex="0" aria-selected="false" controls="panel2-4"><i class="fi-map"></i> Location</a></li>
	</ul>

	<div class="tabs-content">
	  <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
	    <h2>First panel content goes here...</h2>
	  </section>
	  <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
	    <h2>Second panel content goes here...</h2>
	  </section>
	  <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
	    <h2>Third panel content goes here...</h2>
	  </section>
	  <section role="tabpanel" aria-hidden="true" class="content" id="panel2-4">
	    <h2>Fourth panel content goes here...</h2>
	  </section>
	</div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>

</div>