{% extends "base.html" %}

{% block content %}

<div class="my-custom-class medium-vertical four-up left">
  <a class="item" href="http://www.socialee.de">
    <img src="../static/img/Iconsets/Entypo+/SVG/address.svg" >
    <label>Alpha-Version</label>
  </a>
  <a class="item" href="http://www.socialee.de/kontakt.html" target="blank">
    <img src="../static/img/Iconsets/Entypo+/SVG/mail.svg" >
    <label>Kontakt</label>
  </a>
  <a class="item" href="https://www.facebook.com/wirmachendasjetztmal" target="blank">
    <img src="../static/img/Iconsets/Entypo+/SVG/facebook.svg" >
    <label>Social</label>
  </a>
  <a class="item" href="https://www.google.com/maps/place/Mehringpl.+7,+10969+Berlin,+Deutschland/@52.498916,13.392677,17z/data=!3m1!4b1!4m2!3m1!1s0x47a8502afb3e906f:0xc6a14ac0d4fa1ae1" target="blank">
    <img src="../static/img/Iconsets/Entypo+/SVG/location-pin.svg" >
    <label>Büro</label>
  </a>
</div>

<div class="row">
	<div class="small-2 colums left" id="schild">
		<img src="../static/img/landingpage_bg/Baustellenschild.png">
	</div>
	<div class="medium-5 small-centered columns">
		<img src="../static/img/logos/Logo_rgb_transparent.png">
    <p class="panel callout radius">Wir arbeiten derzeit fleißig an der beta-Version der Seite. Im Juli wird sie fertig sein. Wenn Du ein Anliegen hast, schreibe uns eine Mail oder komm im Büro vorbei!</p>
	</div>
</div>



{% endblock %}