{% extends "offcanvas.html" %}
{% load cms_tags static %}

{% block content %}


<div class="row expanded align-center align-middle lp-fullscreen-image" style="background-image:url('{% static 'img/landingpage_bg/werft.jpg' %}');">
<div class="lp-fullscreen-overlay"></div>
  <div class="large-12 columns">
    <div class="text-center">
    {% placeholder landingpage_headline %}
    <a class="button" href="{% url 'project_overview' %}">Die ersten Socialee-Projekte.</a><br />
    <a href="{% url 'invite_me' %}">Ladet mich sofort ein!</a>
    </div>
  </div>
</div>

<!--<div class="row align-center">
  <div class="large-8 columns">
    <div class="flex-video widescreen vimeo">
      <iframe src="https://player.vimeo.com/video/90407201" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>-->

<!--<div class="row align-center">
  <div class="large-10 columns text-center s-container">

  </div>
</div>-->
{% include "manifest.html" %}
{% endblock %}


<!--<div class="fullscreen background parallax" style="background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_6648.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</div>-->