<div id="logInModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="row">
        <div class="small-12 small-centered columns">
            <h2 id="modalTitle">Hak dich ein, los geht's.</h2>
            <p class="lead">Wir machen das jetzt mal.</p>

            <form>
            <div class="row collapse">
                <div class="small-4 large-2 columns">
                    <span class="prefix">User</span>
                </div>
                <div class="small-8 large-10 columns">
                    <input type="text" placeholder="Benutzername oder email">
                </div>           
            </div>
            <div class="row collapse">
                <div class="small-4 large-2 columns">
                    <span class="prefix">Passwort</span>
                </div>
                <div class="small-8 large-10 columns">
                    <input type="text" placeholder="Dein Passwort bitte">
                </div>           
            </div>
            </form>
            <div class="row-collapse">
            <div class="small-9 large-10 columns">
                <p>Noch keinen Account? <a href="#" data-reveal-id="signInModal"> Anmelden!</a></p>
            </div>
            <a href="#" class="socialee-button right">Log In</a>
            </div>
        </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
</div>