<div id="manifestModal" class="reveal-modal full" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<div class="row">
		<div class="small-9 small-centered columns">
			<h2>Manifest.</h2>
			<h4>1) Wir machen das jetzt mal.</h4>
			<p>Gute Ideen gibt’s wie Sand am Meer. Jedoch wissen wir auch, dass es nicht immer einfach ist, sie umzusetzen. Wir glauben mit euch an eure Ideen und dafür sorgen, dass sie nicht versanden.</p>
			<h4>2) Du bist komplex und das ist auch gut so.</h4>
			<p>Es heißt immer, eine gute Idee muss schnell auf den Punkt gebracht werden. In diesen Zeiten fühlen wir den Zwang, uns möglichst professionell und in möglichst kurzer Zeit zu vermarkten. Wir setzen dem etwas entgegen: Du bist mehr als 140 Zeichen. Du bist mehr als ein Werbeslogan. Du hast es verdient, dass man dir zuhört, weil du etwas zu sagen hast. Verkauf dich nicht. Sei du selbst.</p>
			<h4>3) Wir sind Geld und das, was Geld nicht kaufen kann.</h4>
			<p>Socialee ist eine soziale Plattform, die dir vieles geben kann. Wenn dein Projekt finanzielle Unterstützung benötigt, werden wir dir dabei helfen, die richtige Crowd zu finden. Aber da, wo andere Plattformen aufhören, fangen wir erst richtig an: Socialee hilft, Mitstreiter und Mitträumer zu finden. Wir organisieren Räume, Partner oder auch den Traktor, der dein Auto aus dem Graben holt. Die Grenzen fangen erst an, wo die Fantasie aufhört.</p>
			<h4>4) Wir sind alles und nichts.</h4>
			<p>Deine Ideen sind unsere Inhalte. Wo keine Ideen sind, können wir keine Inhalte liefern. Socialee ist die Summe seiner Mitstreiter. Kommt und streitet mit uns, damit wir uns verbessern können.</p>
			<h4>5) Wir sind digital und analog.</h4>
			<p>Wir sind online und offline, genau wie du. Socialee findet nicht nur im Netz statt, man kann uns auch anfassen. Wir glauben an die Verbindung der digitalen und der realen Welt und daran, dass die eine nicht ohne die andere funktioniert. So findest du uns nicht nur im Internet, sondern auch in unserem Crowdcafe in Berlin, wo du mit uns reden, streiten und schweigen kannst. Ob du uns auf der Website posten oder lieber auf einen Kaffee vorbeikommen willst – die Wahl liegt bei dir.</p>
			<a href="#projekte" class="socialee-button left">Projekte</a>
		</div>
	</div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>

</div>