<div id="manifestModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<div class="row">
		<div class="small-12 small-centered columns">
      <h3>Ach Menschheit, Menschheit....</h3>
			<p>Ach Menschheit. Wie schön für Dich Menschheit, dass Du endlich erwachsen geworden bist. Dass Du nach all der Unterdrückung, all den Revolutionen und geköpften Herrschern endlich erwachsen geworden bist. Sie schimpfen es noch Kapitalismus, Neoliberalismus, ... aber in Wirklichkeit ist es die Freiheit, die schmerzt. Nutze Deine Freiheit gut, Menschheit. Und wende Dich ab von alten Dämonen, denn sie sind nicht mehr da. Wende Dich hin zu etwas Neuem, etwas Aufregendem, etwas, das noch erfunden werden wird. Und es ist schon da.</p>
		</div>
	</div>
	<div class="row">
      <div class="small-12 small-centered columns">
        <h2 style="margin-bottom:0;">Manifest</h2><hr style="padding-top:0;margin-top:0;margin-bottom:15px;"/>
        <div id="jui_accordion">
            <h3>1) Wir machen das jetzt mal.</h3>
              <div>
                <p>Es gibt viele gute Ideen. Gewöhnen wir uns daran, sie umzusetzen.</p>
              </div>
              <h3>2) Wir sind digital und analog.</h3>
              <div>
               <p>Wir machen Netzwerk in Cafés. Wir machen Internet für Deine Oma. Wir machen Lagerfeuer und reden über die Welt.</p>
              </div>
              <h3>3) Du bist mehr als 140 Zeichen.</h3>
              <div>
                <p>Immer dieser Stress. Diese Selbstvermarktung diese Widerliche. Unsereins braucht Jahre, bis ein guter Gedanke formuliert ist. Deshalb können wir auch so gut zuhören.</p>
              </div>
              <h3>4) Die Revolution der Werte.</h3>
              <div>
                <p>Eine Firma, deren innere Moralstrukturen sich mit denen der Kunden deckt. Wie wär das?</p>
              </div>
              <h3>5) Wir seid die, auf die wir gewartet haben.</h3>
              <div>
                <p>Wir alle. Wir sind erwachsen. Wir sind es, die das in die Welt bringen, was wir sehen wollen. Das ist doch der Hammer!</p>
              </div>
              <h3>6) Das Ende der Knappheit.</h3>
              <div>
                <p>Was für eine Enttäuschung - die Knappheit eine Illusion.</p>
              </div>
          </div>
        <br/>

        <!--<a href="#" class="socialee-button left">Projekte</a>-->
        <!--<a class="show-for-large-up" href="/accounts/signup" id="mach_mit">Sei dabei!</a>-->
      </div>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>

</div>