<div id="manifestModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<div class="row">
		<div class="small-10 small-centered columns">
			<h2>Brief an die Menschheit.<small> // Platzhalter</small></h2>
			<p>Meine Damen, meine Herren, liebe Freunde überall auf der Welt, an alle Reichen und alle Armen, liebe Mitmenschen, Befürworter und Gegner, liebe Linke und liebe Rechte, liebe Konservative und Progressive, Menschen aller Religionen und Sprachen, liebe Erwachsene, Alte und Kinder! Wir verkünden hier und heute feierlich und mit großer Freude eine der wohl größten Errungenschaften in der Geschichte der Menschheit: DAS ENDE DER KNAPPHEIT. *Beifall, Jubel und Getöse* Danke! Es mangelt an nichts. So geht hinaus und werdet glücklich..</p>
		</div>
	</div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>

</div>