{% extends "base.html" %}

{% block before_content %}
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        {% include "navbar.html" %}

        <aside class="right-off-canvas-menu">
            <ul class="off-canvas-list">
              {% if not request.user.is_authenticated %}
              <li><a href="{% url 'account_signup' %}" class="button offcanvas-button">Anmelden!</a></li>
              {% else %}
              <li><a href="{% url 'account_logout' %}" class="button offcanvas-button">Log out!</a></li>
              {% endif %}
              <li><label>Menü</label></li>
              <li><a href="/blog">zum Blog</a></li>
              <li><a href="https://www.facebook.com/wirmachendasjetztmal?ref=hl" target="blank">zur Facebook Seite</a></li>
              <li><a href="/impressum">Impressum</a></li>
              <li><label>Projekte</label></li>
              <li><a href="/projekte/antonsreise">Antons Reise</a></li>
              <li><a href="/#projects/1">Flüchtlingspaten</a></li>
              <li><a href="mailto:hello@socialee.de?Subject=Hallo%20liebe%20Jungs%20und%20Mädels%20von%20Socialee">Dein Projekt, schreibe uns!</a></li>
            </ul>
        </aside>
{% endblock %}

{% block content %}
{% endblock %}

{% block after_content %}
    </div>
</div>
{% endblock %}
