<div class="top-bar">
  
  <div class="tob-bar-left">
    <div class="top-bar-title">
      <a style="text-decoration: none;" href="{% url 'home' %}"><strong>Socialee</strong></a>
    </div>
  </div>
  
  <div class="top-bar-right###DOES_NOT_WORK"> <!-- TODO: Flexbox is messing with topbar -->
    <ul class="dropdown menu" data-dropdown-menu>
      {% if request.user.is_authenticated and request.user.is_staff %}
      <li><a href="/admin">Socialee Admin</a></li>
      {% endif %}
      {% if not request.user.is_authenticated %}
      <li><a href="{% url 'account_login' %}">Log In</a></li>
      {% else %}
      <li><a href="{% url 'welcome' %}">
      {% if request.user.first_name %}
      Home von {{ request.user.first_name }}
      {% else %}
      {{ request.user.email }}
      {% endif %}</a></li>
      {% if request.user.is_authenticated %}
      <li><a aria-describedby="messageCount" href="#">News</a></li>
      <li class="s-badge" id="messageCount">3</li>
      {% endif %}
      <li><a href="{% url 'account_logout' %}">Log out</a></li>
      {% endif %}
      <li><a href="{% url 'startproject' %}">Idee starten</a></li>
        <li>
        <button type="button" class="button" data-toggle="offCanvas">Menü</button>
      </li>
    </ul>
  </div>

</div>