<div class="top-bar">
  
  <div class="tob-bar-left">
    <div class="top-bar-title">
      <a style="text-decoration: none;" href="{% url 'home' %}"><strong>Socialee</strong></a>
    </div>
  </div>
  
  <div class="top-bar-right###DOES_NOT_WORK"> <!-- TODO: Flexbox is messing with topbar -->
    <ul class="dropdown menu" data-dropdown-menu>
      {% if not request.user.is_authenticated %}
      <li><a href="{% url 'account_login' %}">Log in</a></li>
      {% else %}
      <li><a href="{% url 'user_profile' %}">
      {% if request.user.first_name %}
      {{ request.user.first_name }}
      {% else %}
      {{ request.user.email }}
      {% endif %}</a></li>
      <li><a href="{% url 'account_logout' %}">Log out</a></li>
      {% endif %}
        <li>
        <button type="button" class="button" data-toggle="offCanvas">Menü</button>
      </li>
    </ul>
  </div>

</div>