{# switch off navbar in production for now #}
{% if not PROD %}

<div class="top-bar">
  
  <div class="top-bar-left">
    <div class="top-bar-title">
      <a style="text-decoration: none;" href="{% url 'home' %}"><strong>Socialee</strong></a>
    </div>
  </div>
  
  <div class="top-bar-right###DOES_NOT_WORK"> <!-- TODO: Flexbox is messing with topbar -->
    <ul class="dropdown menu" data-dropdown-menu>
      {% if not request.user.is_authenticated %}
      <li><a href="{% url 'account_login' %}">Log In</a></li>
      {% else %}
      <li>
        <a href="#">
            <i class="fa fa-home" aria-hidden="true"></i>
            {% if request.user.first_name %}
              {{ request.user.first_name }}
            {% else %}
              {{ request.user }}
            {% endif %}
          </a>
        <ul class="menu">
          <li><a href="{% url 'welcome' request.user %}">Übersicht</a></li>
          <li><a href="{% url 'profile_detail' request.user %}">Profil anzeigen</a></li>
          <li><a href="{% url 'update_profile' request.user %}">Profil bearbeiten</a></li>
        </ul>
      </li>
      <li><a href="{% url 'account_logout' %}">Log out</a></li>
      {% endif %}
      <li><a href="{% url 'startproject' %}"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Idee starten</a></li>
        <li>
        <button type="button" class="button" data-toggle="offCanvas">Menü</button>
      </li>
    </ul>
  </div>
</div>

{% endif %}