{% extends "base.html" %}

{% block before_content %}
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-right" id="offCanvas" data-off-canvas data-position="right">

        <!-- Close button -->
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>

        <!-- Menu -->
        <ul class="vertical menu">
            <li><a class="button" href="{% url 'startproject' %}">Idee starten</a></li>
            <li><a href="{% url 'home' %}">Landingpage</a></li>
            <li><a href="{% url 'project_overview' %}">empfohlene Projekte</a></li>
            <li><a href="">...</a></li>
            <li><a href="">...</a></li>
            <li><a href="">...</a></li>
            <li><a href="">...</a></li>
            <li><a href="">...</a></li>
            <li><a href="">...</a></li>
            <li><a href="">...</a></li>
            <li><a href="">...</a></li>
            <li><a href="">...</a></li>
            <li><a href="">...</a></li>
        </ul>

      </div>

      <div class="off-canvas-content" data-off-canvas-content>
{% endblock before_content %}

    {% block content %}
    {# Content from all other templates goes here #}
    {% endblock content %}

{% block after_content %}
      </div>
    </div>
  </div>
{% endblock after_content %}