{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags%}

{% block content %}

{% addtoblock "css" strip %}
<link type="text/css" rel="stylesheet" href="{% static "webflow/css/normalize.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "webflow/css/webflow.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "webflow/css/antons-reise.webflow.css" %}" />
{% endaddtoblock %}

{% addtoblock "js_head" strip %}
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Oswald:300,400,700"]
      }
    });
  </script>
  <script type="text/javascript" src="{% static "webflow/js/modernizr.js" %}"></script>
{% endaddtoblock %}

  <div class="contain-all" data-ix="nav-closed">
    <div class="w-nav socialee-nav" data-collapse="none" data-animation="default" data-duration="400" data-contain="1" data-ix="keep-nav-open">
      <a class="w-nav-brand w-hidden-small w-hidden-tiny" href="#"><img class="logo" src="images/socialee v.1.1_color_klein.png" height="40">
      </a>
      <div class="w-container">
        <nav class="w-nav-menu socialee-nav-menu" role="navigation"><a class="w-nav-link socialee-nav-menu-link" href="#">Home</a><a class="w-nav-link socialee-nav-menu-link" href="#">Projekte</a><a class="w-nav-link socialee-nav-menu-link" href="#">Sign Up</a>
        </nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="w-section w-clearfix _wf-header-img-wrapper" id="first-section" data-ix="fade-in-from-right"><img class="aufklappen" src="images/arrowdown.png" data-ix="nav-open">
      <div class="w-container _wf-titlediv">
        <div class="w-row _wf-titlerow">
          <div class="w-col w-col-6 w-col-stack _wf-projecttitle">
            <h1 data-ix="fade-down">Antons Reise</h1>
            <p class="_wf-untertitel" data-ix="fade-in-slowly">Ein Roadtrip von Westfalen nach Berlin</p>
          </div>
          <div class="w-col w-col-6 w-col-stack">
            <ul class="w-list-unstyled w-hidden-tiny _wf-header-list">
              <li class="_wf-label-header" data-ix="fade-in-from-right">Datum:</li>
              <li class="_wf-label-header _wf-var" data-ix="fade-in-slowly">25.7.</li>
              <li class="_wf-label-header" data-ix="fade-in-from-right">letztes großes Erlebnis:</li>
              <li class="_wf-label-header _wf-var" data-ix="fade-in-slowly">Bauer Jakob getroffen</li>
              <li class="_wf-label-header" data-ix="fade-in-from-right">Wetter heute:</li>
              <li class="_wf-label-header _wf-var" data-ix="fade-in-slowly">Regen und Sturm, ächz.</li>
              <li class="_wf-label-header" data-ix="fade-in-from-right">gefahrene Kilometer:</li>
              <li class="_wf-label-header _wf-var" data-ix="fade-in-slowly">124 km</li>
              <li class="_wf-label-header" data-ix="fade-in-from-right">Wo sind wir gerade:</li>
              <li class="_wf-label-header _wf-var" data-ix="fade-in-slowly">Ratsiek im Weserbergland</li>
              <li class="_wf-label-header" data-ix="fade-in-from-right">Dieselverbrauch:</li>
              <li class="_wf-label-header _wf-var" data-ix="fade-in-slowly">68 Liter</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="w-widget w-widget-facebook facebook">
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FAntons-Reise%2F1109292709086173&amp;layout=standard&amp;locale=de_DE&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 220px; height: 39px;"></iframe>
      </div>
    </div>
    <div class="w-nav _wf-nav-bar" data-collapse="small" data-animation="default" data-duration="400" data-contain="1" data-ix="fade-in-slowly">
      <div class="w-container w-hidden-small w-hidden-tiny _wf-nav-bar-container">
        <nav class="w-nav-menu _wf-nav-menu" role="navigation"><a class="w-nav-link _wf-nav-menu-link" href="#first-section">Übersicht</a><a class="w-nav-link _wf-nav-menu-link" href="#second-section">Karte</a><a class="w-nav-link _wf-nav-menu-link" href="#third-section">Logbuch</a><a class="w-nav-link _wf-nav-menu-link" href="#fourth-section">Video</a><a class="w-nav-link _wf-nav-menu-link" href="#">Musik</a><a class="w-nav-link _wf-nav-menu-link" href="#">Geschichten</a><a class="w-nav-link _wf-nav-menu-link" href="#">Bilder</a><a class="w-nav-link _wf-nav-menu-link" href="#">Kontakt</a>
        </nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="w-section map-section" id="second-section"><img class="_wf-map-image" src="{% static "webflow/images/Reiseroute_neu.jpg" %}">
    </div>
  </div>
  <div class="w-section log-section" id="third-section">
    <div class="w-row">
      <div class="w-col w-col-6">
        <h2 class="logbuch-header">Logbuch</h2>
        <div class="logbuch-div">
          <ul class="w-list-unstyled">
            <li class="logbuch-list">
              <p class="_wf-label-header">1.9. / Tag 1:</p>
              <p class="_wf-label-header _wf-var">von Vogelsang nach Lippstadt</p>
              <p class="log-eintr-ge">Heute geht es los! Trecker Anton springt ohne zu mucken an und wir fahren los. Lorem ipsum lorem ipsum dolor sit amet. Ich sag lorem ipsum lorem ipsum dolor sit amet yeah. Das ist der Lorem Ipsum Trecker Blues.</p>
            </li>
            <li class="logbuch-list">
              <p class="_wf-label-header">1.9. / Tag 1:</p>
              <p class="_wf-label-header _wf-var">von Vogelsang nach Lippstadt</p>
              <p class="log-eintr-ge">Heute geht es los! Trecker Anton springt ohne zu mucken an und wir fahren los. Lorem ipsum lorem ipsum dolor sit amet. Ich sag lorem ipsum lorem ipsum dolor sit amet yeah. Das ist der Lorem Ipsum Trecker Blues.</p>
            </li>
            <li class="logbuch-list">
              <p class="_wf-label-header">1.9. / Tag 1:</p>
              <p class="_wf-label-header _wf-var">von Vogelsang nach Lippstadt</p>
              <p class="log-eintr-ge">Heute geht es los! Trecker Anton springt ohne zu mucken an und wir fahren los. Lorem ipsum lorem ipsum dolor sit amet. Ich sag lorem ipsum lorem ipsum dolor sit amet yeah. Das ist der Lorem Ipsum Trecker Blues.</p>
            </li>
            <li class="logbuch-list">
              <p class="_wf-label-header">1.9. / Tag 1:</p>
              <p class="_wf-label-header _wf-var">von Vogelsang nach Lippstadt</p>
              <p class="log-eintr-ge">Heute geht es los! Trecker Anton springt ohne zu mucken an und wir fahren los. Lorem ipsum lorem ipsum dolor sit amet. Ich sag lorem ipsum lorem ipsum dolor sit amet yeah. Das ist der Lorem Ipsum Trecker Blues.</p>
            </li>
            <li class="logbuch-list">
              <p class="_wf-label-header">1.9. / Tag 1:</p>
              <p class="_wf-label-header _wf-var">von Vogelsang nach Lippstadt</p>
              <p class="log-eintr-ge">Heute geht es los! Trecker Anton springt ohne zu mucken an und wir fahren los. Lorem ipsum lorem ipsum dolor sit amet. Ich sag lorem ipsum lorem ipsum dolor sit amet yeah. Das ist der Lorem Ipsum Trecker Blues.</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="w-col w-col-6">
        <h2 class="logbuch-header">letztes Video</h2>
        <div class="w-embed w-video" style="padding-top: 56.20608899297424%;">
          <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FKeOaSs_sgwQ%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DKeOaSs_sgwQ%26feature%3Dyoutu.be&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FKeOaSs_sgwQ%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section video-slider-section" id="fourth-section">
    <div class="w-slider video-slider" data-animation="slide" data-duration="500" data-infinite="1">
      <div class="w-slider-mask video-slider-mask">
        <div class="w-slide videoslide">
          <div class="w-embed w-video" style="padding-top: 56.20608899297424%;">
            <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FKeOaSs_sgwQ%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DKeOaSs_sgwQ%26feature%3Dyoutu.be&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FKeOaSs_sgwQ%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
        <div class="w-slide videoslide">
          <div class="w-embed w-video" style="padding-top: 56.20608899297424%;">
            <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FKeOaSs_sgwQ%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DKeOaSs_sgwQ%26feature%3Dyoutu.be&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FKeOaSs_sgwQ%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
        <div class="w-slide videoslide">
          <div class="w-embed w-video" style="padding-top: 56.20608899297424%;">
            <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FKeOaSs_sgwQ%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DKeOaSs_sgwQ%26feature%3Dyoutu.be&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FKeOaSs_sgwQ%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
        <div class="w-slide videoslide">
          <div class="w-embed w-video" style="padding-top: 56.20608899297424%;">
            <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FKeOaSs_sgwQ%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DKeOaSs_sgwQ%26feature%3Dyoutu.be&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FKeOaSs_sgwQ%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
      <div class="w-slider-arrow-left left-arrow">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right right-arrow">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-round"></div>
    </div>
  </div>

  {% addtoblock "js" strip %}
  <script type="text/javascript" src="{% static "webflow/js/webflow.js" %}"></script>
  {% endaddtoblock %}

{% endblock %}
