{% extends "offcanvas.html" %}
{% load staticfiles%}

{% block content %}

{# Slider #}
<div class="row project-header-slider-container">
	<div class="small-12 columns">
		<div class="project-header-slider">
			<div class="project-header-slide"><img src="{% static 'img/landingpage_bg/test_1.jpg' %}"></div>
			<div class="project-header-slide"><img src="{% static 'img/landingpage_bg/test_2.jpg' %}"></div>
			<div class="project-header-slide"><img src="{% static 'img/landingpage_bg/test_3.jpg' %}"></div>
		</div>
	</div>
	{# Titel und so weiter #}
	<div class="project-header-titel">
		<div>
			<h1>{{ object.title }}</h1>
			<p>{{ object.tagline }}</p>
		</div>	
	</div>
	<div class="project-header-details">
		<div>
			<li>tag 1</li>
			<li>tag 2</li>
			<li>tag 3</li>
			<li>tag 4</li>
		</div>	
	</div>
	{% if request.user == project.created_by %}
		<div class="edit-project-button">
			<a class="warning button" href="{% url 'project_updateview' project.slug %}">bearbeiten</a>
		</div>	
	{% endif %}
	
</div>

{# Status Bar #}
<div class="row">
	<div class="column project-status-bar">
		<div class="row">
			<div class="small-4 large-4 columns">
				<div class="row align-spaced align-middle text-center">
					<i class="fa fa-users columns" aria-hidden="true"></i>
					<i class="fa fa-heart-o columns" aria-hidden="true"></i>
					<i class="fa fa-comment-o columns" aria-hidden="true"></i>
				</div>
			</div>
			<div class="small-4 large-4 columns">
				<div class="row align-spaced align-middle text-center">
					<i class="fa fa-users columns" aria-hidden="true"></i>
				</div>
			</div>
			<div class="small-2 large-2 columns">
				<div class="row align-spaced align-middle text-center">
					<i class="fa fa-users columns" aria-hidden="true"></i>
				</div>
			</div>
			<div class="small-2 large-2 columns">
				<div class="row align-spaced align-middle text-center">
					<i class="fa fa-user" aria-hidden="true"></i>
					Ein Projekt von
					<a href="{% url 'profile_view' project.created_by %}">{{ project.created_by.first_name }} {{ project.created_by.last_name }}</a>
				</div>
			</div>
		</div>
	</div>
</div>

{# Content in Tabs #}
<div class="row project-content">
	<div class="small-12 columns">
		<ul class="tabs" data-tabs id="example-tabs">
  			<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Übersicht &amp; Dashboard</a></li>
  			<li class="tabs-title"><a href="#panel2">Diskussion &amp; Kommunikation</a></li>
  			<li class="tabs-title"><a href="#panel2">Unterstützer &amp; Netzwerk</a></li>
		</ul>
		<div class="tabs-content" data-tabs-content="example-tabs">
		  <div class="tabs-panel is-active" id="panel1">
		    <p></p>				
				<h2>{{ object.title }}</h2>
				<p>{{ object.tagline }}</p>
				<p>{{ object.description }}</p>				
		  </div>
		  <div class="tabs-panel" id="panel2">
		    <p>Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
		  </div>
		  <div class="tabs-panel" id="panel3">
		    <p>Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
		  </div>
		</div>
	</div>
</div>

{% endblock %}
