<div id="signInModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            
            <h2 id="modalTitle2">Noch nicht dabei?</h2>
            <p class="lead">Na dann rein mit dir!</p>
            
            <form>
                <div  class="row collapse">
                    <div class="small-4 large-2 columns">
                        <span class="prefix">Benutzername</span>
                    </div>
                    <div class="small-8 large-10 columns">
                        <input type="text" placeholder="Dein Benutzername hier">
                    </div>           
                </div>
                <div  class="row collapse">
                    <div class="small-4 large-2 columns">
                        <span class="prefix">Passwort</span>
                    </div>
                    <div class="small-8 large-10 columns">
                        <input type="text" placeholder="Dein Passwort hier">
                    </div>           
                </div>
                <div  class="row collapse">
                    <div class="small-4 large-2 columns">
                        <span class="prefix">Passwort nochmal</span>
                    </div>
                    <div class="small-8 large-10 columns">
                        <input type="text" placeholder="Dein Passwort nochmal">
                    </div>           
                </div>
                <div  class="row collapse">
                    <div class="small-4 large-2 columns">
                        <span class="prefix">(!37)^1/6</span>
                    </div>
                    <div class="small-8 large-10 columns">
                        <input type="text" placeholder="Lösung ?">
                    </div>           
                </div>
            </form>
            
                     
                
                     <a href="#" class="button right">Sign In</a>
                
            
            
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            
        </div>
