{% load socialaccount %}
{% include "socialaccount/snippets/login_extra.html" %}

<div id="signInModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="row">
        <div class="small-12 small-centered columns">
        <h2 id="modalTitle2">Noch nicht dabei?</h2>
        <p class="lead">Na dann rein mit Dir!</p>

        <form>
            <div  class="row collapse">
                <div class="small-4 large-2 columns">
                    <span class="prefix">Vorname</span>
                </div>
                <div class="small-8 large-10 columns">
                    <input type="text" placeholder="Peter vielleicht? Oder Petra?">
                </div>
            </div>
            <div  class="row collapse">
                <div class="small-4 large-2 columns">
                    <span class="prefix">Nachname</span>
                </div>
                <div class="small-8 large-10 columns">
                    <input type="text" placeholder="...">
                </div>
            </div>
            <div  class="row collapse">
                <div class="small-4 large-2 columns">
                    <span class="prefix">Passwort</span>
                </div>
                <div class="small-8 large-10 columns">
                    <input type="text" placeholder="ein schönes Passwort">
                </div>
            </div>
            <div  class="row collapse">
                <div class="small-4 large-2 columns">
                    <span class="prefix">Passwort</span>
                </div>
                <div class="small-8 large-10 columns">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div  class="row collapse">
                <div class="small-4 large-2 columns">
                    <span class="prefix">2+4=?</span>
                </div>
                <div class="small-8 large-10 columns">
                    <input type="text" placeholder="Und, Mensch oder Maschine?">
                </div>
            </div>
        </form>
        <a href="#" class="socialee-button right">Anmelden</a
    </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
</div>
