{% load staticfiles %}
<div class="socialee-cafe-bg-slider">
	<div class="cafe-bg-slide" style="background: url(../static/img/cafe/crowdcafe_1.jpg) no-repeat center center"></div>
	<div class="cafe-bg-slide" style="background: url(../static/img/cafe/crowdcafe_2.jpg) no-repeat center center"></div>
	<div class="cafe-bg-slide" style="background: url(../static/img/cafe/crowdcafe_3.jpg) no-repeat center center"></div>
	<div class="cafe-bg-slide" style="background: url(../static/img/cafe/crowdcafe_4.jpg) no-repeat center center"></div>
	<div class="cafe-bg-slide" style="background: url(../static/img/cafe/crowdcafe_5.jpg) no-repeat center center"></div>
	<div class="cafe-bg-slide" style="background: url(../static/img/cafe/crowdcafe_6.jpg) no-repeat center center"></div>
</div>