{% load staticfiles %}
<div class="socialee-lp-slider">
	<!--<div class="lp-slide" style="background: url('../static/img/landingpage_bg/Anton.jpg') no-repeat center center"></div>
	<div class="lp-slide" style="background: url('../static/img/landingpage_bg/davinciConcept_1.jpg') no-repeat center center"></div>
	<div class="lp-slide" style="background: url('../static/img/landingpage_bg/davinciConcept_2.jpg') no-repeat center center"></div>
	<div class="lp-slide" style="background: url('../static/img/landingpage_bg/davinciConcept_3.jpg') no-repeat center center"></div>-->
</div>