{% load staticfiles %}



	<!--Projekt 1-->
	<div class="slide" style="background: url('../static/img/landingpage_bg/Anton.jpg') no-repeat center center; background-size: cover">
		<div class="row">
  			<div class="small-6 medium-4 large-5 large-offset-2 medium-offset-1 columns">
    			<div id="welcome_text">
    				<span class="warning label"><strong>Socialee featuring:</strong></span>
		            <h1>Antons Reise</h1>
		            <h3>Ein Roadtrip von Westfalen nach Berlin.</h3>
		            <p class="large-10 colums show-for-medium-up">Die beiden Freunde Neil und Moritz fahren mit einem uralten Trecker 1000 km durch Deutschland. Sie wagen ein Experiment der Langsamkeit und des menschlichen Austausches. <a href="#" data-reveal-id="videoModal">Schau Dir das Video an.</a></p>
		            <a href="/antons-reise" class="socialee-button left">zum Projekt</a>
	              	<hr noshade>
    			</div>
  			</div>   
		</div>
	</div>

	<!--Projekt 2-->
	<div class="slide" style="background: url('../static/img/landingpage_bg/refugeeca.jpg') no-repeat center center; background-size: cover">
		<div class="row">
  			<div class="small-6 medium-4 large-6 large-offset-2 medium-offset-1 columns">
    			<div id="welcome_text">
	              <h1>re:Fugee:ca</h1>
	              <h3>Eine Konferenz von und mit geflüchteten Menschen.</h3>
	              <p class="large-10 colums show-for-medium-up">Sieh Dir an, wie Socialee mit Daniel Seyde zusammenarbeitet, um seine Idee zu realisieren.</p>
	            <a href="#" data-reveal-id="videoModal" class="socialee-button left">Das Video</a>
              	<a href="#" id="mach_mit">zum Projekt</a>
    			</div>
  			</div>   
		</div>
	</div>

	<!--Projekt 3-->
	<!--<div class="slide" style="background: url('../static/img/landingpage_bg/kai.jpg') no-repeat center center; background-size: cover">
		<div class="row">
  			<div class="small-6 medium-4 large-6 large-offset-2 medium-offset-1 columns">
    			<div id="welcome_text">
	              <h1>The King of Late Night</h1>
	              <h3>Eine Webserie von Kai Gero Lenke und Matthias Weidenhöfer.</h3>
	              <p class="large-10 colums show-for-medium-up">Sieh Dir an, wie Socialee mit Kai und Matthias zusammenarbeitet, um ihre Idee zu realisieren.</p>
	            <a href="#" data-reveal-id="videoModal" class="socialee-button left">Das Video</a>
              	<a href="#" id="mach_mit">zum Projekt</a>
    			</div>
  			</div>   
		</div>
	</div>-->
