{% load staticfiles %}

  <!--Projekt 1-->
  <div class="slide" style="background: url('../static/img/landingpage_bg/Anton.jpg') no-repeat center center; background-size: cover">
    <div class="row low2">
      <div class="small-10 medium-4 large-5 large-offset-2 small-offset-1 columns">
        <div id="welcome_text">
          <span class="warning label"><strong>Socialee featuring:</strong></span>
          <h1>Antons Reise</h1>
          <h3>Ein Roadtrip von Westfalen nach Berlin.</h3>
          <p class="large-10 colums show-for-medium-up">Die beiden Freunde Neil und Moritz fahren mit einem Trecker namens Anton 1000 km durch Deutschland. Sie wagen ein Experiment der Langsamkeit und des menschlichen Austausches.<br/><a href="#" data-reveal-id="videoModal">Schau Dir das Video an.</a></p>
          <a href="/projekte/antonsreise" class="socialee-button left">zur ProjektSeite</a>
        </div>
      </div>
    </div>
  </div>

  <!--Projekt 2-->
  <div class="slide" style="background: url('../static/img/landingpage_bg/woman-peering-over-crowd-001.jpg') no-repeat center center; background-size: cover">
    <div class="row low2">
      <div class="small-10 medium-4 large-5 small-offset-1 large-offset-2 columns">
        <div id="welcome_text">
          <span class="warning label"><strong>Socialee featuring:</strong></span>
          <h1>Flüchtlingspaten</h1>
          <h3>Anfangen leicht gemacht.</h3>
          <p class="large-10 colums show-for-medium-up">Ralf hat das Projekt Flüchlingspaten ins Leben gerufen. Wir verbinden Menschen, die im gleichen Ort wohnen, und organisieren Treffen mit allen Interessierten. Um einen Anfang leicht zu machen.</p><hr/>

          <form id="form_fluechtlingspaten" method="post" action="{{ request.path }}#projects/1">
            <div class="row collapse">
              <div class="small-3 large-2 columns">
                <span class="prefix">PLZ</span>
              </div>
              <div class="small-9 large-10 columns">
                {{ form.plz }}
                {{ form.plz.errors }}
              </div>
            </div>
            <div class="row collapse">
              <div class="small-3 large-2 columns">
                <span class="prefix">E-Mail</span>
              </div>
              <div class="small-9 large-10 columns">
                {{ form.email }}
                {{ form.email.errors }}
              </div>
            </div>
            <button class="small radius expand" type="submit">Ja, bitte eintragen!</button>
            <input type="hidden" value="Flüchtlingspaten" name="ref_project" />
            {% csrf_token %}
          </form>

        </div>
      </div>
    </div>
  </div>
