{% load staticfiles %}
<div class="socialee-lp-slider">
	<div class="lp-slide" style="background: url('../static/img/landingpage_bg/Anton.jpg') no-repeat center center"></div>
	<div class="lp-slide" style="background: url('../static/img/landingpage_bg/egypt.jpg') no-repeat center center"></div>
	<div class="lp-slide" style="background: url('../static/img/landingpage_bg/nyc1.jpg') no-repeat center center"></div>
	<div class="lp-slide" style="background: url('../static/img/landingpage_bg/lvp.jpg') no-repeat center center"></div>
</div>