{% load staticfiles %}
<div class="socialee-lp-slider">
	<!--<div class="lp-slide" style="background: url('../static/img/landingpage_bg/Anton.jpg') no-repeat center center"></div>-->
	<div class="lp-slide" style="background: #f89406 no-repeat center center"></div>
	<div class="lp-slide" style="background: #f2f1ef no-repeat center center"></div>
	<div class="lp-slide" style="background: #86d2e5 no-repeat center center"></div>
	<div class="lp-slide" style="background: #db0a5b no-repeat center center"></div>
	<!--<div class="lp-slide" style="background: url('../static/img/landingpage_bg/nyc1.JPG') no-repeat center center"></div>-->
</div>