{% extends "offcanvas.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row align-center align-middle full-height">
  <div class="large-8 columns">
    <h2 class="text-center">Was ist deine Idee?</h2>
    <p class="text-center">Hier kannst Du Dein <strong>Projekt</strong> oder Deine <strong>Idee</strong> starten. Juchuu.</p>

		<form method="POST" action=""> {% csrf_token %}
		{{ form }}
		<input class="button float-right" type="submit" value="Und los!"></input>
		</form>
	</div>
</div>

{% endblock content %}
