{% extends "offcanvas.html" %}
{% load static %}

{% block content %}
<div class="row align-center">
	<div class="small-12 medium-8 columns">
		<div class="callout"><div></div>
		<h2 class="text-center mt-2rem">Socialee Styleguide</h2>
		<a href="http://foundation.zurb.com/sites/docs/kitchen-sink.html">Foundation Kitchen Sink</a>
		<hr>
		<h1>h1. This  <strong>is</strong> a very large header.<small>mit "small" tag</small></h1>
		<h2>h2. This is a <em>large</em> header.<small>mit "small" tag</small></h2>
		<h3>h3. This is a medium header.<small>mit "small" tag</small></h3>
		<h4>h4. This is a moderate header.<small>mit "small" tag</small></h4>
		<h5>h5. This is a small header.<small>mit "small" tag</small></h5>
		<h6>h6. This is a tiny header.<small>mit "small" tag</small></h6>
		<h6 class="subheader">graue subheader gibt's auch für h1 bis h6</h6>

		<p class="lead">lead-class: What are your cats <em>really</em> dreaming about while they sleep?</p>
		
		<p>Normaler Paragraph lorem lorem lalala tralera dudidu <em>lorem lorem</em> lorem lorem lalala tralera dudidu lorem lorem lalala tralera dudidu lorem lorem <strong>lalala tralera dudidu</strong> lalala tralera dudidu lorem lorem lalala tralera dudidu lorem <a href="#">lorem lorem</a> lorem lalala tralera dudidu lorem lorem lalala tralera dudidu </p>

		<a class="text-link-special" href="#">text-link-special</a>

<hr>	
		<span class="sg-orange label">orange</span>
		<span class="sg-darkorange label">darkorange</span>
		<span class="sg-superdarkorange label">superdarkorange</span>
<hr>
		<span class="sg-green label">green</span>
		<span class="sg-darkgreen label">darkgreen</span>
		<span class="sg-superdarkgreen label">superdarkgreen</span>
<hr>
		<span class="sg-blue label">blue</span>
		<span class="sg-darkblue label">darkblue</span>
		<span class="sg-superdarkblue label">superdarkblue</span>
<hr>
		<span class="sg-greyblue label">greyblue</span>
		<span class="sg-darkgreyblue label">darkgreyblue</span>
		<span class="sg-superdarkgreyblue label">superdarkgreyblue</span>
<hr>
		<span class="sg-grey01 label">grey01</span>
		<span class="sg-grey02 label">grey02</span>
		<span class="sg-grey03 label">grey03</span>
		<span class="sg-grey04 label">grey04</span>
		<span class="sg-grey05 label">grey05</span>
<hr>
		<span class="sg-alertgreen label">alertgreen</span>
		<span class="sg-alertred label">alertred</span>
		<span class="sg-alertyellow label">TODO: alertorange (warning)</span>
		<span style="border: 1px solid black; color: black" class="sg-white label">white</span>
<hr>

		<form>
		  <div class="row">
		    <div class="medium-6 columns">
		      <label>Input Label
		        <input type="text" placeholder=".medium-6.columns">
		      </label>
		    </div>
		    <div class="medium-6 columns">
		      <label>Input Label
		        <input type="text" placeholder=".medium-6.columns">
		      </label>
		    </div>
		  </div>
		</form>

		<div class="row">
		  <fieldset class="large-6 columns">
		    <legend>Choose Your Favorite yo</legend>
		    <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Red</label>
		    <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
		    <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow"><label for="pokemonYellow">Yellow</label>
		  </fieldset>
		  <fieldset class="large-6 columns">
		    <legend>Check these out</legend>
		    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
		    <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
		    <input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 3</label>
		  </fieldset>
		</div>

		<fieldset class="fieldset">
		  <legend>Check these out</legend>
		  <input id="checkbox12" type="checkbox"><label for="checkbox12">Checkbox 1</label>
		  <input id="checkbox22" type="checkbox"><label for="checkbox22">Checkbox 2</label>
		  <input id="checkbox32" type="checkbox"><label for="checkbox32">Checkbox 3</label>
		</fieldset>

		<label>Password
		  <input type="password" aria-describedby="passwordHelpText">
		</label>
		<p class="help-text" id="passwordHelpText">Your password must have at least 10 characters, a number, and an Emoji.</p>
		
		<label>Password
		  <input type="password" aria-describedby="passwordHelpText">
		</label>
		<p class="help-text" id="passwordHelpText">Your password must have at least 10 characters, a number, and an Emoji.</p>
		
		<form>
		  <div class="row">
		    <div class="small-3 columns">
		      <label for="middle-label" class="text-right middle">Label</label>
		    </div>
		    <div class="small-9 columns">
		      <input type="text" id="middle-label" placeholder="Dieser Input ist rechts-außen. Pfui.">
		    </div>
		  </div>
		</form>

		<div class="input-group">
		  <span class="input-group-label">$</span>
		  <input class="input-group-field" type="number">
		  <div class="input-group-button">
		    <input type="submit" class="button" value="Submit">
		  </div>
		</div>
		
		... und auch ganz toll:
		<label for="exampleFileUpload" class="button">Upload File</label>
		<input type="file" id="exampleFileUpload" class="show-for-sr">

		<hr>

		<a class="button tiny" href="#">So Tiny</a>
		<a class="button small" href="#">So Small</a>
		<a class="button" href="#">So Basic</a>
		<a class="button hollow large" href="#">So Large</a>
		<a class="button expanded" href="#">Expand</a>
		<a class="button small expanded" href="#">Wow, Small Expand</a>
		<hr>
		<a class="button primary" href="#">Primary</a>
		<a class="button secondary" href="#">Secondary</a>
		<a class="button success" href="#">Success</a>
		<a class="button alert" href="#">Alert</a>
		<a class="button warning" href="#">Warning</a>
		<hr>
		<div class="button-group">
		  <a class="button">One</a>
		  <a class="button">Two</a>
		  <a class="button">Three</a>
		</div>
		<hr>
		<h3>Dropdown - vielleicht praktisch...</h3>
		<button class="dropdown button tiny" type="button" data-toggle="example-dropdown">Toggle Dropdown</button>
		<div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
		  Example form in a dropdown. Gar nicht so doof.
		  <form>
		    <div class="row">
		      <div class="medium-6 columns">
		        <label>Name
		          <input type="text" placeholder="Kirk, James T.">
		        </label>
		      </div>
		      <div class="medium-6 columns">
		        <label>Rank
		          <input type="text" placeholder="Captain">
		        </label>
		      </div>
		    </div>
		  </form>
		</div>

		<button class="dropdown button small" type="button" data-toggle="example-dropdown-1">Hoverable Dropdown</button>
		<div class="dropdown-pane" id="example-dropdown-1" data-dropdown data-hover="true" data-hover-pane="true">
		  Just some junk that needs to be said. Or not. Your choice.
		</div>
		<hr>
		<span class="secondary label">Secondary Label</span>
		<span class="success label">Success Label</span>
		<span class="alert label">Alert Label</span>
		<span class="warning label">Warning Label</span>
		<hr>
		<div class="success progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
		  <div class="progress-meter" style="width: 25%">
		    <p class="progress-meter-text">25%</p>
		  </div>
		</div>

		<div class="warning progress">
		  <div class="progress-meter" style="width: 50%">
		    <p class="progress-meter-text">50%</p>
		  </div>
		</div>

		<div class="alert progress">
		  <div class="progress-meter" style="width: 75%">
		    <p class="progress-meter-text">75%</p>
		  </div>
		</div>
		<hr>






		</div>
	</div>
</div>
{% endblock content %}