{% extends "offcanvas.html" %}
{% load static %}

{% block content %}
<div class="row">
	<div class="small-12 medium-8 columns small-centered">
		<h1>h1 Tag</h1>
		<h2>h2 Tag</h2>
		<p>Normaler Paragraph</p>
		<p class="lead">lead Paragraph</p>
		<a href="#">normal anchor</a>
		<a class="text-link-special" href="#">text-link-special</a>
		<a class="button" href="#">Button</a>
		<a class="hollow button" href="#">hollow Button</a>
		<a class="hollow button small" href="#">small hollow Button</a>
		<a class="hollow button tiny" href="#">tiny hollow Button</a>
		<a class="button large" href="#">large Button</a>
	</div>
</div>

{% endblock content %}