

<!DOCTYPE html>
<html class="no-js home" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <title>Socialee | coming soon</title>

    
    <link rel="stylesheet" href="http://localhost:8000/static/css/socialee.css">
    
  </head>
  <body>
          <div>
            <div class="zettel-slide-left">
                <div><img data-lazy="http://localhost:8000/media/zettels/links/000.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/001.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/002.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/003.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/004.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/005.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/006.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/007.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/008.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/009.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/010.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/011.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/012.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/013.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/014.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/015.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/016.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/017.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/018.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/019.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/020.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/021.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/022.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/023.jpg" height="639" width="450"/></div>
                <div><img data-lazy="http://localhost:8000/media/zettels/links/024.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/025.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/026.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/027.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/028.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/029.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/030.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/031.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/032.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/033.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/034.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/035.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/036.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/037.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/038.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/039.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/040.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/041.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/042.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/043.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/044.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/045.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/046.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/047.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/048.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/049.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/050.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/051.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/052.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/053.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/054.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/055.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/056.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/057.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/058.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/059.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/060.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/061.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/062.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/063.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/064.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/065.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/066.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/067.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/068.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/069.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/070.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/071.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/072.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/073.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/074.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/075.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/076.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/077.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/078.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/079.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/080.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/081.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/082.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/083.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/084.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/085.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/086.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/087.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/088.jpg" height="639" width="450"/></div>
              
                <div><img data-lazy="http://localhost:8000/media/zettels/links/089.jpg" height="639" width="450"/></div>
              
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
 


    <script src="http://localhost:8000/static/bower_components/jquery/dist/jquery.js"></script>
    
    <script src="http://localhost:8000/static/bower_components/slick.js/slick/slick.js"></script>
    
    <script>
    $('.zettel-slide-left').slick({
    adaptiveHeight: true,
    // centerMode: false,
    slidesToShow: 1,
    vertical: true,
    verticalSwiping: true,
    slidesToScroll: 1,
    autoplay: false,
    autoplaySpeed: 3000,
    speed: 2000,
    arrows: true,
    prevArrow: '#navtopleft',
    nextArrow: '#navbottomleft',
    lazyLoad: 'ondemand',
    });
    </script>

</body>
</html>