{% extends "offcanvas.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row align-middle">
  <div class="full-height"></div>
    <div class="large-12 columns">
        <p>Hier ist das Profil von {{ profile.user }}.</p>
        
        <li>Vorname: {{ profile.user.first_name }}</li>
        <li>Nachname: {{ profile.user.last_name }}</li>
        <li>Liked Projects: {{ profile.liked_projects }}</li>
        <li>PLZ: {{ profile.plz }}</li> 
        {% if profile.picture %}
        <img src="{{ profile.picture.url }}" />     	
     	{% endif %}     
        
    </div>
</div>

{% endblock content %}
