{% extends "offcanvas.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row align-middle">
  <div class="full-height"></div>
    <div class="large-12 columns">
        <p>Hier ist das Profil von {{ profile.user }}.</p>
        
        <li>Vorname: {{ profile.user.first_name }}</li>
        <li>Nachname: {{ profile.user.last_name }}</li>
        <li>Liked Projects: {{ profile.liked_projects }}</li>
        <li>PLZ: {{ profile.plz }}</li> 
        {% if profile.picture %}
        <img src="{{ profile.picture.url }}" />     	
     	{% endif %} 

         <div class="row align-center small-up-1 medium-up-2 large-up-3">
          {% for project in user_project_list %}
              {% include "project_card_element.html" %}
          {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
