{% extends "offcanvas.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row align-middle">
  <div class="full-height"></div>
    <div class="large-12 columns">
        <h2>Hallo {% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user }}{% endif %}!</h2>
        <p>Hier ist Dein Profil.</p>
        <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
        <p> {{ request.user.profile.plz }}</p>
        {% if request.user.profile.picture %}
        <img src="{{ request.user.profile.picture.url }}" />
     	{% endif %}
        <div class="row align-center small-up-1 medium-up-2 large-up-3">
        	{% for project in request.user.profile.liked_projects.all %}
        		{% include "project_card_element.html" %}
      		{% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
