<div id="videoModal" class="reveal-modal medium" data-reveal aria-labelledby="videoModalTitle" aria-hidden="true" role="dialog">
	<br/>
	<div class="flex-video widescreen vimeo">
<iframe src="https://player.vimeo.com/video/133909364?color=ff9933&title=0&byline=0&portrait=0" width="850" height="478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/133909364">Antons Reise // Crowdfunding-Video</a> from <a href="https://vimeo.com/moritzjuedes">Moritz J&uuml;des</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
	</div>
	<a href="/antons-reise" class="socialee-button left">Auf zum Projekt!</a>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>