{% extends "offcanvas.html" %}
{% load cms_tags staticfiles sekizai_tags%}

{% block content %}

<div class="row align-center">
  <div class="large-12 columns text-center">
  	{% if request.user.first_name %}
  	<h2>Hallo {{ request.user.first_name }}!</h2>
  	<p>Wie ist die Lage? Was hast Du heute vor?</p>
  	{% else %}
  	<h2>Hallo!</h2>	
  	<p>Du bist neu hier, oder? <a href="{% url 'user_profile' %}">Hier</a> kannst Du Dein Profil einrichten.</p>
  	{% endif %}

  </div>
</div>



{% endblock content %}
