{% extends "offcanvas.html" %}
{% load cms_tags staticfiles sekizai_tags%}

{% block content %}
<div class="row align-center align-middle">
<div class="full-height"></div>
  <div class="large-12 columns">
    <h3>Deine Projekte</h3>
    <div class="row align-center small-up-1 medium-up-2 large-up-3">
      {% for project in user_project_list %}
        {% include "project_card_element.html" %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="row full-height">

</div>

    <ul class="text-left">
    <p><strong>ToDo</strong></p>
      <li>Liste eigener Projekte + Counter Neuigkeiten</li>
      <li>Liste beobachteter Projekte + Counter Neuigkeiten</li>
      <li>Liste aller Freunde + Counter Neuigkeiten</li>
      <li>Link zu Profildetails</li>
    </ul>


{% endblock content %}