<div id="wipModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<div class="row">
		<div class="small-12 small-centered columns">
			<h4>Aktuelles</h4>
      <p>+++ Moritz und Neil fahren im September mit Anton dem Trecker von Westfalen nach Berlin +++ nächstes Socialee engaged Event am 16.9. in Berlin +++</p>
		<hr/></div>
	</div>
	<div class="row">
    <div class="small-12 small-centered columns">
      <h4>demnächst <small>Wir arbeiten derzeit an weiteren Funktionen für diese Seite:</small></h4>
      <ul>
        <li>verbesserte Navigation und Suche für die Zettel</li>
        <li>Möglichkeit, Ideen zu verbinden, "matchen"</li>
        <li>Kommunikation Kommunikation Kommunikation</li>
        <li>verbessertes Feedbacksystem</li>
      </ul><hr/>
      <p>Es ist schon eine aufregende Reise! <a href="mailto:hello@socialee.de?Subject=Hallo%20liebe%20Jungs%20und%20Mädels%20von%20Socialee">Schreibe uns doch eine Mail</a>, wünsche Dir ein Feature oder schreibe uns was Nettes! Schicke uns gerne auch alles, was noch nicht funktioniert! Auf dass uns die Ideen und Freunde nie ausgehen.</p>
    </div>
  </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>

</div>