{% extends "offcanvas.html" %}
{% load static sekizai_tags %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
  <div class="small-12 large-8 columns small-centered">
  <div class="callout-form">
    
    <h2 id="top_titel">Gute Idee!</h2>
    <p id="top_desc">Es gibt viele gute Menschen mit guten Ideen. Was ist Deine?</p>
    <p id="top_all">Es werden übrigens schon {{ ideas_count }} Ideen angezeigt, ich will zurück zur 
      <a href="{% url 'idea_list' %}">Übersichtsseite</a></p>
  
    <form method="POST" id="form_id" enctype="multipart/form-data">{% csrf_token %}

      <div id="idea_form">
        <img id="idea_image" src="#" alt="Deine Idee als Bild" />

        <div class="fieldWrapper">
            {{ form.picture.errors }}
            <div class="form-label">{{ form.picture.label }}</div>
              {% if form.picture.help_text %}
                <div class="second-form-label">{{ form.picture.help_text|safe }}</div>
              {% endif %}
            {{ form.picture }}
        </div>
        <label for="id_picture" id="upload" class="button button--yellow hollow"><i class="fa fa-upload" aria-hidden="true"></i> Bild Hochladen </label>

        <div class="fieldWrapper">
            {{ form.title.errors }}
            <div class="form-label">{{ form.title.label }}</div>
              {% if form.title.help_text %}
                <div class="second-form-label">{{ form.title.help_text|safe }}</div>
              {% endif %}
            {{ form.title }}
        </div>

        <div class="fieldWrapper">
            {{ form.description.errors }}
            <div class="form-label">{{ form.description.label }}</div>
              {% if form.description.help_text %}
                <div class="second-form-label">{{ form.description.help_text|safe }}</div>
              {% endif %}
            {{ form.description }}
        </div>

        <div class="fieldWrapper">
          <div id="review_button" class="button button--yellow" >Vorschau deiner Idee</div>
        </div>

      </div>

      <div id="review">
        <div class="grid-item">
          <div class="idea-card">
            <div class="idea-image">
              <img id="idea_img" src=""> 
            </div>
            <div class="idea-details">
              <h2 id="idea_title"></h2>
              <p id="idea_description"></p>
            </div>
            <div class="idea-heart">
              <span class="fa-stack fa-lg">
                <i class="fa fa-heart fa-stack-2x" aria-hidden="true"></i>
                <strong class="fa-stack-1x">0</strong>
              </span>
            </div>
          </div>
        </div>
        {% if not request.user.is_authenticated %}
        <div class="fieldWrapper">
          {{ form.email.errors }}
          <div class="form-label">{{ form.email.label }}</div>
            {% if form.email.help_text %}
              <div class="second-form-label">{{ form.email.help_text|safe }}</div>
            {% endif %}
          {{ form.email }}
        </div>
        {% endif %}

        <div class="fieldWrapper">
          <input class="button button--yellow" type="submit" value="Idee Absenden" />
          <div class="float-right" >Ich will die Idee <a id="change">nochmal ändern</a>.</div>
        </div>
      </div>

    </form>

  </div> 
</div>
</div>

{% addtoblock "js" %}
<script>

function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $("#idea_img").attr("src", e.target.result);
          $("#idea_image").show();
          $("#idea_image").attr("src", e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}
$("#review").hide();
$("#id_email").parent().hide();

$("#id_picture").change(function(){
    readURL(this);
});

$("#review_button").click(function()
  {
    if($("#id_title").val() || $("#id_description").val() || $("#id_picture").val())
    {
      $("#idea_form").children().hide();
      $("#id_email").parent().show();
      $("#idea_title").html($("#id_title").val());
      $("#idea_description").html($("#id_description").val());
      readURL($("#id_picture"));
      $("#review").show();
      $("#top_desc").hide();
      $("#top_titel").html("Vorschau deiner guten Idee");
    }
    else
    {
      $("#top_desc").html("Du hast keine Idee?");
    }
    
  });
$("#change").click(function()
  {
    $("#review").hide();
    $("#idea_form").children().show();
    $("#id_email").parent().hide();
    $("#top_desc").show();
    $("#top_desc").html("Mach sie nochmal hübscher...");  
    $("#top_titel").html("Gute Idee!");  
  });

</script>
{% endaddtoblock %}

{% endblock content %}