{% extends "offcanvas.html" %}
{% load static sekizai_tags %}

{% block content %}

<div class="c-section -solo">
  <div class="row">
    <div class="medium-10 medium-offset-1 large-8 large-offset-2 column">
      <div class="c-form">

        <h3 id="top_titel">Was ist deine Idee?</h3>
        <p class="lead">Egal, ob groß oder klein. Mit einer Idee fängt es immmer an.</p>

        <form method="POST" id="form_id" enctype="multipart/form-data">{% csrf_token %}

          <div id="idea_form">
            <div class="row">
            {% include "snippet_formfield.html" with field=form.picture size="medium-6" upload_val=" Bild hochladen " %}
            
            {% include "snippet_formfield.html" with field=form.title size="medium-12" %}

            {% include "snippet_formfield.html" with field=form.description size="medium-12" len_restricted="true" %}

            </div>
            <div class="c-form__footer">
              <div id="review_button" class="button button--yellow" >Vorschau deiner Idee</div>
              <a href="{% url 'idea_list' %}" class="text-link-special pull-right">zurück zur Übersicht</a></p>
            </div>

          </div>

          <div id="review">
            <div class="grid-item">
              <div class="idea-card-front">
                <div class="idea-image">
                  <img id="idea_img" src="">
                </div>
                <div class="idea-details">
                  <h2 id="idea_title"></h2>
                  <p id="idea_description"></p>
                </div>
                <div class="idea-heart">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-heart fa-stack-2x" aria-hidden="true"></i>
                    <strong class="fa-stack-1x">0</strong>
                  </span>
                </div>
              </div>
            </div>
            {% if not request.user.is_authenticated %}
            {% include "snippet_formfield.html" with field=form.email size="medium-12" %}
            {% endif %}

            <div class="c-form__footer">
              <input class="button button--yellow" type="submit" value="Idee Absenden" />
              <a id="change" class="text-link-special float-right-md">Idee nochmal ändern</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% addtoblock 'js' %}
<script type="text/javascript">


function fixPreview()
{
  $("#idea_form").children().hide();
  $("#idea_title").html($("#id_title").val());
  $("#idea_description").html($("#id_description").val());
  $("#idea_img").attr("src", $("#id_picture").parent().find("img").attr("src"));
}

{% if not form.email.errors %}
$("#review").hide();
$("#id_email").parent().hide();
{% else %}
$("#idea_form").children().hide();
{% endif %}

$("#review_button").click(function()
  {
    if($("#id_title").val() || $("#id_description").val() || $("#id_picture").val())
    {
      $("#id_email").parent().show();
      fixPreview();
      $("#review").show();
      // TODO das hier darf nur angezeigt werden, wenn nicht angemeldet
      $("#top_desc").html("Du kannst noch deine E-Mail-Adresse eintragen, so findest du deine Idee besser wieder und kannst bald ein Projekt daraus machen."); 
      $("#top_titel").html("Sieht gut aus, oder?!");
    }
    else
    {
      $("#top_desc").html("Eines der Felder musst du aber schon ausfüllen ;-) Oder einfach nur ein Bild hochladen.");
    }

  });
$("#change").click(function()
  {
    $("#review").hide();
    $("#idea_form").children().show();
    $("#id_email").parent().hide();
    $("#top_desc").show();
    $("#top_desc").html("Mach sie nochmal hübscher...");
    $("#top_titel").html("Gute Idee!");
  });
</script>
{% endaddtoblock %}

{% endblock content %}
