{% extends "offcanvas.html" %}
{% load static sekizai_tags %}

{% block content %}

<div class="bg-img">
  <div class="row align-center">
    <div class="small-12 medium-10 large-8 columns">
      <div class="c-form">

        <h3 id="top_titel">Was ist deine Idee?</h3>
        <p id="top_desc">Egal, ob groß oder klein. Mit einer Idee fängt es immer an.</p>

        <form method="POST" id="form_id" enctype="multipart/form-data">{% csrf_token %}

          <div id="idea_form">
            <div class="row">
              {% include "snippet_formfield.html" with field=form.picture size="small-12" upload_val="Bild hochladen" %}
              {% include "snippet_formfield.html" with field=form.title size="small-12" %}
              {% include "snippet_formfield.html" with field=form.description size="small-12" len_restricted="true" %}
              {% include "snippet_formfield.html" with field=form.private size="small-12" %}
            </div>
            <div class="c-form__footer">
              <div id="review_button" class="button">Vorschau deiner Idee</div>
              <a href="{% url 'idea_list' %}" class="text-link-special pull-right">zurück zur Übersicht</a>
            </div>
          </div>

          <div id="review">

              {# idea card TODO: show real card-layout #}
              <div class="card">
                <img id="idea_img" src="">
                <div class="card-section">
                  <h4 class="text-center" id="idea_title"></h4>
                  <p class="text-center" id="idea_description"></p>
                </div>
              </div>

              <div class="row align-center">
                <div id="id_heart_{{ idea.id }}" class="idea-heart" idea_id="{{ idea.id }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-heart fa-stack-2x" aria-hidden="true"></i>
                    <strong class="fa-stack-1x" id="heart_{{ idea.id }}">{{ idea.likes.count }}</strong>  
                  </span>
                </div>
              </div>

              {% if not request.user.is_authenticated %}
              <div class="row">
                <div class="small-12 columns">
                  <p>Trage noch deine E-Mail-Adresse ein und erstelle dir so ein Konto bei Socialee.</p>  
                </div>
                {% include "snippet_formfield.html" with field=form.email size="small-12" %}  
              </div> 
              {% endif %}

              <div class="c-form__footer">
                <input class="button" type="submit" value="Idee Absenden" />
                <a id="change" class="text-link-special pull-right float-right">Idee nochmal ändern</a>
              </div>

          </div>

        </form>
        
      </div>
    </div>
  </div>
</div>

{% addtoblock 'js' %}
<script type="text/javascript">


function fixPreview()
{
  $("#idea_title").html($("#id_title").val());
  $("#idea_description").html($("#id_description").val());
  $("#idea_img").attr("src", $("#id_picture").parents("fieldset").first().find("img").attr("src"));
}


{% if reload %}
$("#idea_form").children().hide();
$("#idea_title").html($("#id_title").val());
$("#idea_description").html($("#id_description").val());
$("#top_desc").html("Falls du ein Bild hattest, das musst du nochmal hochladen...");
{% else %}
$("#review").hide();
$("#id_email").parent().hide();
{% endif %}

$("#review_button").click(function()
  {
    if($("#id_title").val() || $("#id_description").val() || $("#id_picture").val())
    {
      fixPreview();
      $("#idea_form").children().hide();
      $("#review").show();
      $("#id_email").parent().show();
      
      $("#top_desc").html("");
      $("#top_titel").html("Sieht gut aus, oder?!");
    }
    else
    {
      $("#top_desc").html("Eines der Felder musst du aber schon ausfüllen ;-) Oder einfach nur ein Bild hochladen.").css("color", "red");
    }

  });

$("#change").click(function()
  {
    $("#review").hide();
    $("#id_email").parent().hide();
    $("#idea_form").children().show();

    $("#top_desc").html("Mach sie noch hübscher!").css("color", "black");
    $("#top_titel").html("Gute Idee!");
  });

</script>
{% endaddtoblock %}

{% endblock content %}
