{% extends "offcanvas.html" %}
{% load static sekizai_tags %}

{% block content %}

  <div class="row align-center">
    <div class="medium-10 large-8 columns">
      <div class="c-form">

        <h3>Idee bearbeiten</h3>

        <a class="button hollow" href="{% url 'delete_idea' object.id %}"><i class="fa fa-pencil" aria-hidden="true"></i> Idee löschen</a>

        <form method="POST" id="form_id" enctype="multipart/form-data">{% csrf_token %}

          <div id="idea_form">
            <div class="row">
              {% include "snippet_formfield.html" with field=form.picture size="small-12" upload_val=" Bild hochladen " %}
              {% include "snippet_formfield.html" with field=form.title size="small-12" %}
              {% include "snippet_formfield.html" with field=form.description size="small-12" len_restricted="true" %}
              {% include "snippet_formfield.html" with field=form.private size="small-12" %}
            </div>
            
            <input class="button" type="submit" value="Speichern" />
          </div>
        </form>
        
      </div>
    </div>
  </div>

{% addtoblock 'js' %}
<script type="text/javascript">

$(".input_with_img").parents("fieldset").first().find("img").attr("src", "{{ MEDIA_URL }}{{ object.picture }}");

</script>
{% endaddtoblock %}
{% endblock content %}
