{% extends "offcanvas.html" %}
{% load static sekizai_tags %}

{% block content %}

<div class="c-section -solo">
  <div class="row">
    <div class="medium-10 medium-offset-1 large-8 large-offset-2 column">
      <div class="c-form">

        <h3 id="top_titel">Idee bearbeiten</h3>

        <form method="POST" id="form_id" enctype="multipart/form-data">{% csrf_token %}

          <div id="idea_form">
            <div class="row">
            {% include "snippet_formfield.html" with field=form.picture size="medium-12" upload_val=" Bild hochladen " %}
            <img class="small-12 medium-6 pull-right" src="{{ MEDIA_URL }}{{ object.picture }}">
            
            {% include "snippet_formfield.html" with field=form.title size="medium-12" %}

            {% include "snippet_formfield.html" with field=form.description size="medium-12" len_restricted="true" %}

            {% include "snippet_formfield.html" with field=form.private size="medium-12" %}

            </div>
            <div class="c-form__footer">
              <input class="button button--yellow" type="submit" value="Speichern" />
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% addtoblock 'js' %}
<script type="text/javascript">


function fixPreview()
{
  $("#idea_form").children().hide();
  $("#idea_title").html($("#id_title").val());
  $("#idea_description").html($("#id_description").val());
  $("#idea_img").attr("src", $("#id_picture").parent().find("img").attr("src"));
}


{% if reload %}
$("#idea_form").children().hide();
$("#idea_title").html($("#id_title").val());
$("#idea_description").html($("#id_description").val());
{% else %}
$("#review").hide();
$("#id_email").parent().hide();
{% endif %}

$("#review_button").click(function()
  {
    if($("#id_title").val() || $("#id_description").val() || $("#id_picture").val())
    {
      $("#id_email").parent().show();
      fixPreview();
      $("#review").show();
      $("#top_desc").html("");
      $("#top_titel").html("Sieht gut aus, oder?!");
    }
    else
    {
      $("#top_desc").html("Eines der Felder musst du aber schon ausfüllen ;-) Oder einfach nur ein Bild hochladen.");
    }

  });
$("#change").click(function()
  {
    $("#review").hide();
    $("#idea_form").children().show();
    $("#id_email").parent().hide();
    $("#top_desc").show();
    $("#top_desc").html("Mach deine Idee noch hübscher.");
    $("#top_titel").html("Gute Idee!");
  });
</script>
{% endaddtoblock %}
{% endblock content %}
