{% extends "offcanvas.html" %}
{% load static sekizai_tags idea_tags %}

{% block content %}

<div class="c-section -solo">
  <div class="row">
    <div class="medium-10 medium-offset-1 large-8 large-offset-2 column">
      <div class="c-form">
        <h3 class="text-center">Mach mit beim Sammeln aller guten Ideen der Welt.</h3>
        <p class="-lead text-center">{% idea_count %} sind es schon. <br class="show-for-small-only">
        <a class="text-link-special" href="{% url 'create_idea' %}">Teile deine Idee</a></p>

          {% idea_list as idea_list %}
          {% include 'snippet_ideas.html'%}

        <p class="text-center"><a class="button button--yellow large" href="{% url 'create_idea' %}">Teile deine Idee</a></p>
  	 </div>
    </div>
  </div>
</div>


{% endblock content %}


