{% extends "offcanvas.html" %}
{% load static sekizai_tags %}

{% block content %}

<br>

<div class="idea-callout">

<br><br>

<h3 class="text-center">Viele Projekte und noch mehr Ideen.</h3>
<p class="text-center">Es werden {{ idea_list|length }} Ideen angezeigt. <a class="text-link-special" href="{% url 'create_idea' %}">Trag Deine eigene Idee ein.</a></p>

<br><br>

  <div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
      {% for idea in idea_list %}  
        {% include "idea_card.html" %}
      {% endfor %}
  </div>

<br><br>
<p class="text-center"><a class="text-link-special" href="{% url 'create_idea' %}">Trag Deine eigene Idee ein.</a></p>

<br><br><br>

</div>

<br>

{% addtoblock 'js' %}

  <script type="text/javascript">
  // init Masonry
    var $grid = $('.grid').masonry({
      columnWidth: '.grid-sizer',
      gutter: '.gutter-sizer',
      itemSelector: '.idea-card',
      // percentPosition: true,
      fitWidth: true,
    });
    $grid.on( 'click', '.idea-image', function( event ) {
      $( event.currentTarget ).parent('.idea-card').toggleClass('is-expanded');
      $grid.masonry('layout');
    });

    // layout Masonry after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry('layout');
    });
  </script>

{% endaddtoblock %}


{% endblock content %}


