{% extends "offcanvas.html" %}
{% load static sekizai_tags idea_tags %}

{% block content %}

<div class="row">
  <div class="small-12 medium-10 large-8 small-centered">
    <div class="idea-details-white">
    <a href="{% url 'idea_list' %}">zur Übersicht</a>
      {% if idea.picture %}
        {% if idea.title or idea.description %}<!--Bild und Titel oder Bild und Beschreibung-->
          <div class="detail-idea-image">
              <img class="center" src="{{ MEDIA_URL }}{{ idea.picture }}"> 
          </div>
            <h3 class="text-center">{{ idea.title }}</h3>
            <p class="text-center">{{ idea.description|urlizetrunc:25 }}</p>
        {% elif not idea.title and not idea.description %}<!--nur Bild-->
          <div class="detail-idea-image">
            <img src="{{ MEDIA_URL }}{{ idea.picture }}"> 
          </div>
        {% endif %}
      {% else %}<!-- kein Bild -->
        {% if idea.title and idea.description %}<!-- Titel und Beschreibung -->
            <div class="detail-green-card">
              <h2>{{ idea.title }}</h2>
            </div>  
          <div class="idea-details">
            <p>{{ idea.description|urlizetrunc:25 }}</p>
          </div>
        {% endif %}
        {% if idea.title and not idea.description %}<!-- nur Titel -->
          <div class="detail-green-card">
            <h2>{{ idea.title }}</h2>
          </div>
        {% endif %}
        {% if idea.description and not idea.title %}<!-- nur Beschreibung -->
          <div class="detail-green-card">
            <p>{{ idea.description|urlizetrunc:25 }}</p>
          </div>
        {% endif %}
      {% endif %}
    </div>  

    <div class="idea-details-dark">
      {% for comment in idea.comments.all %}
        <div class="idea_comment">
          <label>VOR {{ comment.date|timesince|upper }}{% if request.user.email = idea.author %} VON {{ user|upper }}{% endif %}</label>
          <p>{{ comment.message|urlizetrunc:25 }}</p>
        </div>
      {% endfor %}
    {% if request.user.is_authenticated %}
    <div class="">
      <div class="">
          <input autofocus="autofocus" id="comment_{{idea.id}}" name="comment" type="text"  />
          <a class="button button--yellow button--icon comment_button" id="comment_button_{{ idea.id }}" idea_id="{{ idea.id }}">Kommentieren</a>
      </div>
    </div>
    {% else %}
    <p class="white text-center">Du willst was sagen? <a href="{% url 'waitinglist' %}">Melde dich an!</a></p>
    {% endif %}
    </div>

  </div>
</div>


{% endblock content %}