<div class="grid-item">
  <div class="idea-card">
      {% if not idea.active %}
      <div class="status-unpublished">
        <p class"text-center">Noch nicht veröffentlicht</p>
      </div>
      {% endif %}
  {% if idea.picture %}
    <div class="idea-image">
      <img src="{{ MEDIA_URL }}{{ idea.picture }}"> 
    </div>
  {% endif %}
  {% if idea.title or idea.description %}
    <div class="idea-details">
      <h2>{{ idea.title }}</h2>
      <p>{{ idea.description|urlizetrunc:25 }}</p>
    </div>
  {% endif %}
  {% if not request.user.is_authenticated %}
  <p id="login_{{ idea.id }}" class="show-login-option">Gefällt dir das? <a href="{% url 'account_login' %}">Melde dich an.</a></p>  
  {% endif %}
    <div class="row align-center">
      <div class="idea-heart" idea_id="{{ idea.id }}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-heart fa-stack-2x" aria-hidden="true"></i>
          <strong class="fa-stack-1x" id="{{ idea.id }}">{% include 'like_counts.html' with idea=idea type="like" %}</strong>  
        </span>
      </div>
    </div> 
  </div>
</div>