{% load static sekizai_tags idea_tags %}

<div class="grid">

    {% for idea in idea_list %}  
      {% include "idea_card.html" %}
    {% endfor %}
</div>


{% addtoblock 'js' %}
<script type="text/javascript" src="{% static 'js/jquery.flip.js' %}"></script>
<script type="text/javascript">
function like(idea_id, comment) {
    post_to_url( '{% url "like" %}', 
                { idea_id : idea_id,
                  comment: comment
                },
                function(data){
                  $("#comments_"+idea_id).html($(data).find("#comments_"+idea_id).html());
                  $("#heart_"+idea_id).html($(data).find("#heart_"+idea_id).html());
                });
  }

function comment(idea_id, comment) {
    post_to_url( '{% url "comment" %}', 
                { idea_id : idea_id,
                  comment: comment
                },
                function(data){
                  $("#comments_"+idea_id).html($(data).find("#comments_"+idea_id).html());
                });
  }

$(".flip-card").flip({ front:'.idea-card-front', back:'.idea-card-back', trigger:'manual'});

$('.grid-item').each(function(){
  var height = $('.front_card', this).outerHeight();
   $(this).css('height', height + 50);
   $(this).find('.idea-card-front').css('height', height);
   $(this).find('.idea-card-back').css('height', height);
});

$(".turn-icon").click(
  function()
  {
    $("#flip_idea_"+$(this).attr("turn_id")).flip('toggle');
  }
  );

$(".idea-heart").click(
  function()
  {
    var id = $(this).attr('idea_id');
    $('#comment_button_'+id).hide();
    $('#like_comment_button_'+id).show();
    $("#flip_idea_"+id).flip('toggle');
  });

$(".comment_button").click(
  function()
  {
    var id = $(this).attr('idea_id');
    comment(id, $("#comment_"+id).val());
    $("#flip_idea_"+id).flip('toggle');
  });

$('.like_comment_button').hide();
$(".like_comment_button").click(
  function()
  {
    var id = $(this).attr('idea_id');
    like(id, $("#comment_"+id).val());
    $("#flip_idea_"+id).flip('toggle');
    $('#comment_button_'+id).show();
    $('#like_comment_button_'+id).hide();
  });



// Start js for cards (idea-gallery and create-idea-forms)
var delay=150; // TODO das hier ist ein quick and dirty workaround....
var $grid = $('.grid').masonry({
  columnWidth: 350,
  gutter: 30,
  itemSelector: '.grid-item',
  fitWidth: true,
  transitionDuration: '1s',
  stagger: 10,
});

$grid.imagesLoaded().progress( function() {
  $grid.masonry('layout');
});

$grid.on( 'click', '.idea-image', function( event ) {
  var id = $(event.currentTarget).attr("expand_id");
  var $griditem = $("#flip_idea_"+id).parent('.grid-item');
  $griditem.toggleClass('is-expanded');
  var height = $('.front_card', $griditem).outerHeight();
  $griditem.css('height', height + 50);
  $griditem.find('.idea-card-front').css('height', height);
  $griditem.find('.idea-card-back').css('height', height);
    setTimeout(function() {
    $grid.masonry();
    }, delay);
});
$grid.on( 'click', '.expand-icon', function( event ) {
  var id = $(event.currentTarget).attr("expand_id");
  var $griditem = $("#flip_idea_"+id).parent('.grid-item');
  $griditem.toggleClass('is-expanded');
  var height = $('.front_card', $griditem).outerHeight();
  $griditem.css('height', height + 50);
  $griditem.find('.idea-card-front').css('height', height);
  $griditem.find('.idea-card-back').css('height', height);
    setTimeout(function() {
    $grid.masonry();
    }, delay);
});

</script>

{% if not request.user.is_authenticated %}
<script type="text/javascript">
// ask if user wants to login
$(".idea-heart").click(
  function()
  {
    var delay=300;
    var id = $(this).attr('idea_id');
    $("#login_"+id).slideToggle();
    setTimeout(function() {
    $grid.masonry('layout');
    }, delay);
  });
</script>
{% endif %}

{% endaddtoblock %}