{% load static sekizai_tags idea_tags %}

<div class="grid">
    {% for idea in idea_list %}  
      {% include "idea_card.html" %}
    {% endfor %}
</div>


{% addtoblock 'js' %}
<script type="text/javascript">
function adjustHeight(id)
{
  var $griditem = $("#flip_idea_"+id).parent('.grid-item');
  var height = $('.front_card', $griditem).outerHeight(true);
  $griditem.css('height', height + 50);
  $griditem.find('.idea-card-front').css('height', height);
  $griditem.find('.idea-card-back').css('height', height);
}

function expand( event ) {
  var id = $(event.currentTarget).attr("expand_id");
  var $griditem = $("#flip_idea_"+id).parent('.grid-item');
  $griditem.toggleClass('is-expanded');
  adjustHeight(id);
  setTimeout(function() {
    $("#idea_comments_"+id).children(".idea_comment").show();
    $("#idea_comment_more_"+id).hide();
    $("#idea_comments_"+id).children(".idea_comment").each(showIfSmall);
    if ( $("#idea_comments_"+id).children(".idea_comment:visible").length != $("#idea_comments_"+id).children(".idea_comment").length)
    { 
      $("#idea_comment_more_"+id).toggle(true);
    }
    $grid.masonry();
    }, delay); 
}

function showIfSmall() {
    var id = $(this).attr('idea_id');
    var $griditem = $("#flip_idea_"+id).parent('.grid-item');
    var height = $('.front_card', $griditem).outerHeight(true);
    $(this).toggle(!($(this).position().top + this.offsetHeight > height-118-2*this.offsetHeight));
}


function idea_like(idea_id) {
    post_to_url( '{% url "idea_like" %}', 
                { idea_id : idea_id
                },
                function(data){
                  $("#heart_"+idea_id).html($(data).find("#heart_"+idea_id).html());
                  var do_comment_html = $(data).find("#do_comment_"+idea_id).html();
                  $("#do_comment_"+idea_id).html(do_comment_html);
                  $("#login_"+idea_id).fadeToggle();
                  $("#login_"+idea_id).click(
                    function(){setTimeout(function() {
                    $("#flip_idea_"+idea_id).flip('toggle');
                    },500);
                  });
                });
  }

function idea_comment(idea_id, comment) {
    post_to_url( '{% url "idea_comment" %}', 
                { idea_id : idea_id,
                  comment: comment
                },
                function(data){
                  $("#idea_comment_empty_"+idea_id).hide();
                  
                  var new_comment = $(data).find("#idea_comments_"+idea_id).first().children().first();
                  $(new_comment).css({ display: 'none'});
                  $("#idea_comments_"+idea_id).prepend(new_comment);
                  $(new_comment).slideDown('fast', function(){
                    $("#idea_comment_more_"+idea_id).html($(data).find("#idea_comment_more_"+idea_id).html());
                    $("#idea_comments_"+idea_id).children(".idea_comment").show();
                    $("#idea_comments_"+idea_id).children(".idea_comment").each(showIfSmall);
                    if ( $("#idea_comments_"+idea_id).children(".idea_comment:visible").length != $("#idea_comments_"+idea_id).children(".idea_comment").length)
                    { 
                      $("#idea_comment_more_"+idea_id).toggle(true);
                    }
                  });
                });
  }

$(".flip-card").flip({ 
  front:'.idea-card-front',
  back:'.idea-card-back',
  trigger:'manual'
});

$(".flip-card").on('flip:done',function() {
  var flip = $(".flip-card").data("flip-model");
  // alert(flip.isFlipped);
  var id = $(this).attr('idea_id');
  var isflipped = flip.isFlipped;
      if (isflipped = true ) {
        $("#id_heart_"+id).fadeToggle(200);
      }
});

$(".turn-icon").click(
  function()
  {
    var id = $(this).attr('idea_id');
    $("#flip_idea_"+$(this).attr("turn_id")).flip('toggle');
  }
  );

$(".idea_comment_button").click(
  function()
  {
    var id = $(this).attr('idea_id');
    if(  $.trim( $("#idea_comment_"+id).val()) )
      idea_comment(id, $("#idea_comment_"+id).val());
    $("#idea_comment_"+id).val("");
  });


$(".idea_comment").each(showIfSmall);

$(".idea_comments").each(function () {
  var id = $(this).attr('idea_id');
  if ( $(".idea_comment:visible", this).length != $(".idea_comment", this).length)
  { 
    //$(this).last(".idea_comment").toggle(false);
    $("#idea_comment_more_"+id).toggle(true);
  }
});

function setNum() {
  if($(this).val().length > 140)
  {
    $(this).val($(this).val().substring(0,140));
  }
  var num = 140-$(this).val().length;
  $(this).parent().find("label").html(num +" Zeichen übrig");
}
$('.idea_comment_input').each(setNum);

$('.idea_comment_input').bind('input propertychange', setNum);


// Start js for cards (idea-gallery and create-idea-forms)
var delay=150; // TODO das hier ist ein quick and dirty workaround....
var $grid = $('.grid').masonry({
  columnWidth: 320,
  gutter: 30,
  itemSelector: '.grid-item',
  fitWidth: true,
  transitionDuration: '1s',
  stagger: 10,
});

$grid.imagesLoaded().progress( function() {
  $('.grid-item').each(function(){
    var height = $('.front_card', this).outerHeight(true);
     $(this).css('height', height + 50);
     $(this).find('.idea-card-front').css('height', height);
     $(this).find('.idea-card-back').css('height', height);
  });
  setTimeout(function() {
    $grid.masonry('layout');
    }, delay);
});

$grid.on( 'click', '.expand-icon', expand);

</script>

{% if not request.user.is_authenticated %}
<script type="text/javascript">

function progressHeight(animation, progress, remainingMs)
{
  var id = $(this).attr("idea_id");
  adjustHeight(id);
}
// ask if user wants to login
$(".idea-heart").click(
  function()
  {
    var delay=300;
    var id = $(this).attr('idea_id');
    $("#login_"+id).fadeToggle( { progress: progressHeight } );
    setTimeout(function() {
    $grid.masonry('layout');
    }, delay);
  });
</script>
{% else %}
<script type="text/javascript">
$(".idea-heart").click(
  function()
  {
    var id = $(this).attr('idea_id');
    idea_like(id);
  });
</script>
{% endif %}

{% endaddtoblock %}