body {
  font-family:'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  display: block;
  margin: auto;
  font-family: Oswald, sans-serif;
  color: rgba(224, 131, 31, 0.49);
  font-size: 69px;
  line-height: 67px;
  font-weight: 800;
  text-decoration: none;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0px;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 7px;
  /*font-family: Oswald, sans-serif;*/
  color: rgba(66, 66, 66, 0.94);
}
a {
  display: block;
  color: #00e;
  font-size: 14px;
  line-height: 4px;
}
a:hover {
  font-size: 14px;
  text-decoration: none;
}
._wf-header-img-wrapper {
  height: 100vh;
  padding: 0;
  /*background-image: url('../images/NeilTrecker_fb.jpg');*/
  background-image: url('../images/Titellogo_socialee_jumpage.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
._wf-titlediv {
  position: relative;
  display: block;
  height: 240px;
  margin-right: auto;
  margin-left: auto;
}
._wf-titlerow {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 31px;
  overflow-x: visible;
  overflow-y: visible;
}
._wf-projecttitle {
  display: block;
  margin: 74px auto 0px;
  padding-top: 5px;
  box-shadow: none;
}
._wf-header-list {
  display: block;
}
._wf-label-header {
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  padding: 1px 5px;
  background-color: rgba(230, 140, 5, 0.27);
  /*font-family: Oswald, sans-serif;*/
  font-size: 14px;
}
._wf-label-header._wf-var {
  background-color: rgba(20, 19, 16, 0.27);
}
._wf-untertitel {
  margin-bottom: auto;
  font-size: 16px;
  letter-spacing: 3px;
}
._wf-map-image {
  position: static;
}
._wf-nav-bar {
  background-color: #fff;
  position: relative;
  top: 80%;
}
._wf-nav-menu-link:hover {
  color: #929296;
}
._wf-nav-menu-link:active {
  color: #0b0b0f;
}
.socialee-nav {
  background-color: white;
}
.logo {
  margin-top: 3px;
  margin-left: 5px;
  padding: 2px;
}
.aufklappen {
  position: relative;
  z-index: 10;
  width: 30px;
  margin: 3px 20px 10px;
  float: right;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.socialee-nav-menu {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
  text-align: center;
}
.socialee-nav-menu-link {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
.socialee-nav-menu-link:hover {
  text-decoration: underline;
}
.facebook {
  position: relative;
  right: 15px;
  bottom: 60px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
}
.logbuch-div {
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  height: 400px;
  padding-top: 15px;
  padding-left: 15px;
}
.logbuch-header {
  margin-left: 15px;
}
.logbuch-list {
  margin-right: 5px;
  background-color: #f2f2f2;
  box-shadow: black 1px 1px 3px 0px;
}
.log-eintr-ge {
  padding: 5px;
}
.video-slider {
  height: auto;
  margin: 22px;
}
.right-arrow {
  margin-top: 65px;
  margin-bottom: 65px;
}
html.w-mod-js *[data-ix="fade-down"] {
  opacity: 0;
  -webkit-transform: translate(0px, -22px);
  -ms-transform: translate(0px, -22px);
  transform: translate(0px, -22px);
}
html.w-mod-js *[data-ix="fade-in-slowly"] {
  opacity: 0;
}
html.w-mod-js *[data-ix="fade-in-from-right"] {
  opacity: 0;
  -webkit-transform: translate(10px, 0px);
  -ms-transform: translate(10px, 0px);
  transform: translate(10px, 0px);
}
html.w-mod-js *[data-ix="nav-closed"] {
  -webkit-transform: translate(0px, -45px);
  -ms-transform: translate(0px, -45px);
  transform: translate(0px, -45px);
}
html.w-mod-js *[data-ix="nav-open"] {
  opacity: 0.5;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
@media (max-width: 991px) {
  .aufklappen {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
  h1 {
    font-size: 43px;
    line-height: 53px;
  }
  p {
    font-size: 11px;
  }
  ._wf-titlediv {
    top: -95px;
  }
  .socialee-nav-menu-link {
    padding-right: 12px;
    padding-left: 12px;
  }
}