{% extends "offcanvas.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section class="l-section">
  <div class="row">
    <div class="c-form">
    	<div class="small-12 medium-10 medium-offset-1 column h-text-center-sm">
    		<h3 class="c-form__title">Deine Projektdaten</h3>
        <form method="POST" action="">{% csrf_token %}
          <fieldset class="c-form__fieldset">
      			{{ form|crispy }}
      			<div class="row">
              <div class="small-12 column c-form__footer">
                <input class="button button--yellow large" type="submit" value="Und los!"></input>
      			   <a class="float-right" href="{% url 'project_view' project.slug %}">zurück zum Projekt</a>
      		    </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>


{% endblock content %}
