<!--Anfang Project-Card-Element-->
<div id="{{project.id}}">
<div class="columns">      
    <div class="s-projectcard">
      
        <div class="row">
          <div class="large-8 columns">
          <h3>{{ project.title }}</h3> {# Titel #}
          <p class="tagline">{{ project.tagline }}</p> {# Tagline #}
          </div>
          <i class="fa fa-5x" aria-hidden="true"><img src="{{ project.picture.url }}" /></i>
          <div class="columns text-center">
            <p class="s-icon-text">ein Projekt von: {{ project.created_by }}</p> {# user-first_name #}
          </div>
        </div><hr>

        <div class="row">
          <div class="large-12 columns">
            <p>{{ project.description }}</p> {# short-description #}
          </div>
        </div><hr>

        <div class="row text-center">
          <div class="large-3 columns">
            {% if request.user in project.profiles.all %}
            <i class="fa fa-heart fa-3x socialeebhaber" user_id="{{request.user.username}}" id="{{project.id}}" aria-hidden="true"></i>
            {% else %}
            <i class="fa fa-heart-o fa-3x socialeebhaber" user_id="{{request.user.username}}" id="{{project.id}}" aria-hidden="true"></i>
            {% endif %}

          <div class="large-9 columns align-self-bottom"><a href="{% url 'project_view' project.slug %}" class="expanded large button">Projekt anschauen</a></div> {# login only link zum projekt #}
        </div>

    </div>
</div>
</div>
<!--Ende Project-Card-Element-->