{% extends "offcanvas.html" %}
{% load socialee_filters %}
{% load static sekizai_tags %}
{% block content %}

  <div class="row align-center">
    <div class="medium-10 large-10 columns">
      <div class="c-form">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}

          <div class="row">
            <div class="small-12 columns">
              <h3>Einstellungen</h3>
            </div>

              {% include "snippet_formfield.html" with field=form.username size="small-12" %}
              <fieldset class="small-6 columns">
                <a class="button hollow" href="{% url 'password_change' %}"><i class="fa fa-pencil" aria-hidden="true"></i> Password ändern</a>
              </fieldset>
              {% include "snippet_formfield.html" with field=form_user_data.newsletter size="small-6" %}
              {% include "snippet_formfield.html" with field=form_user_data.picture size="small-6" upload_val="Bild ändern" %}
            
          </div>

          <div class="row">
            <div class="small-12 columns">
              <input class="button" type="submit" value="Änderungen speichern" />
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </div>

{% addtoblock 'js' %}
<script type="text/javascript">
{% if form_user_data.instance.picture %}
$(".input_with_img").parents("fieldset").first().find("img").attr("src", "{{ MEDIA_URL }}{{ form_user_data.instance.picture }}");
{% endif %}

</script>
{% endaddtoblock %}
{% endblock content %}
