{% load i18n %}
{% load zinnia %}

<article id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %}" itemscope itemtype="http://schema.org/Article">

  <div class="blog-info">
    {% block entry-published %}
      <time class="published blog-time-published" datetime="{{ object.publication_date|date:"l, d. F Y" }}" itemprop="datePublished">{{ object.publication_date|date:"d. F Y" }}</time>
    {% endblock entry-published %}
    {% block entry-categories %}
      {% with categories=object.categories.all %}
      {% if categories|length %}<br>
      {% for category in categories %}
      <a class="blog-category" 
         href="{{ category.get_absolute_url }}"
         title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}"
         rel="tag category" itemprop="articleSection">{{ category }}</a>{% if not forloop.last %} {% endif %}{% endfor %}{% endif %}
      {% endwith %}
    {% endblock entry-categories %}
  </div>

    {% block entry-title %}
      <h2 class="entry-title" itemprop="name">
        <a href="{{ object.get_absolute_url }}">{{ object.title|widont }}</a>
      </h2>
    {% endblock entry-title %}

        {% block entry-image %}
        {% if object.image %}
          <div class="entry-image">
              <figure class="blog-image" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                <img src="{{ object.image.url }}" alt="{{ object.image_caption|default:object.title }}" itemprop="contentUrl" />
                {% if object.image_caption %}
                <figcaption itemprop="caption">{{ object.image_caption }}</figcaption>
                {% endif %}
              </figure>
              {% if continue_reading %}
            </a>
            {% endif %}
          </div>
        {% endif %}
        {% endblock entry-image %}

    {% block entry-body %}
      <div class="entry-body">
        {% block entry-word-count %}
        <meta itemprop="wordCount" content="{{ object.word_count }}" />
        {% endblock entry-word-count %}


        {% block entry-content %}
        <div class="entry-content" itemprop="articleBody">
          {{ object_content|safe }}
          {% block continue-reading %}
        {% if continue_reading and object_content.has_more %}
        <p class="continue-reading">
          <a href="{{ object.get_absolute_url }}"
             title="{% blocktrans with object=object.title percent=object_content.remaining_percent|floatformat:0 %}{{ percent }}% of {{ object }} still remains to read.{% endblocktrans %}"
             rel="bookmark" itemprop="url" class="button hollow small button--yellow">
             Lies hier weiter!
          </a>
        </p>
        {% endif %}
        {% endblock continue-reading %}
        </div>
        {% endblock entry-content %}

      </div>
    {% endblock entry-body %}

</article>