{% extends "zinnia/blog_base.html" %}
{% load i18n %}
{% load zinnia %}

{% block blog-content %}

<div class="row">
  <div class="small-12 medium-12 large-12 small-centered">
    <div class="grid">
    {% for object in object_list %}
      <div class="grid-item">
        <div class="idea-card">
          {% zinnia_loop_template object.content_template as template %}
          {% include template with object_content=object.html_preview continue_reading=1 %}
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>

{% endblock blog-content %}