{% extends "zinnia/blog_base.html" %}
{% load i18n zinnia sekizai_tags %}

{% block blog-content %}

<div class="row align-center">
  <div class="small-12 medium-12 large-12 columns">
    <div class="grid">
    {% for object in object_list %}
      <div class="grid-item">
        <div class="blog-card">
          {% zinnia_loop_template object.content_template as template %}
          {% include template with object_content=object.html_preview continue_reading=1 %}
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>

{% addtoblock 'js' %}
<script type="text/javascript">

// Start js for cards
var delay=150; // TODO das hier ist ein quick and dirty workaround....
var $grid = $('.grid').masonry({
  columnWidth: 350,
  gutter: 30,
  itemSelector: '.grid-item',
  fitWidth: true,
  transitionDuration: '1s',
  stagger: 10,
});

$grid.imagesLoaded().progress( function() {
  $grid.masonry('layout');
});

</script>

{% endaddtoblock %}

{% endblock blog-content %}