{% extends "offcanvas.html" %}
{% load static %}

{% block content %}

<section class="fullscreen-img" data-interchange="[{% static 'img/landingpage_bg/background-assets/background.jpg' %}, small], [{% static 'img/landingpage_bg/background-assets/background.jpg' %}, medium], [{% static 'img/landingpage_bg/background-assets/background.jpg' %}, large]">

<div class="s-space show show-for-medium"></div>
	<div class="row lp-header">
		<div class="small-9 columns">
		<h1 class="text-center">Socialee Blog</h1>
		
			{% block blog-content %}{% endblock blog-content %}
		
		</div>
	</div>
<div class="s-space"></div>
</section>

{% endblock content %}