{% extends "offcanvas.html" %}
{% load static sekizai_tags zinnia i18n %}

{% block content %}

	{% addtoblock "css" %}
		<link type="text/css" rel="stylesheet" href="{% static 'css/socialee_blog.css' %}"  />
	{% endaddtoblock %}

	{% addtoblock "blog_js" %}
		<script src="{% static 'js/blog.js' %}"></script>
	{% endaddtoblock %}

<section class="blog-background">
	<div class="s-space show show-for-medium"></div>
		<div class="row blog-layout">
			<div class="small-12 large-10 columns small-centered">
				
				<div class="hide-for-small-only">
					{% zinnia_breadcrumbs "Blog" "zinnia/blog-breadcrumbs.html" %}	
				</div>
				
				{% block blog-content %}
				{# Content is being rendered here #}
				{% endblock blog-content %}
			
			</div>
		</div>

	<div class="s-space"></div>

</section>

{% endblock content %}

{% include "zinnia/blognavbar.html" %}