{% load socialee_filters %}
<section class="friends-connections">
  <div class="row">
    <div class="small-12 medium-10 medium-offset-1 columns">
      <div class="row text-center">
        <div class="small-12 columns">
          <h3>So stehen {{ object.short_name  }} Freunde in Verbindung zu dir</h3>
        </div>
      </div>

      {% for friend in friends %}
        <div class="card-wrapper">
          {% include "snippet_you_other.html" with you=request.user.current_instance other=friend %}
        </div>
      {% endfor %}

      <!-- {% for friend in object.follows_projects.all %}
        <div class="card-wrapper">
          {% include "snippet_you_other.html" with you=request.user.current_instance other=friend %}
        </div>
      {% endfor %} -->

    </div>
  </div>
</section>

