{% load static socialee_filters sekizai_tags %}

<div class="tabs-panel" id="panel2">
  <div id="js-conversation-{{object.id}}">

  {# new comment #}
    <div class="row medium-uncollapse">
      <div class="small-12 medium-2 columns">
        <div class="row align-center">
        {% if request.user.current_instance.picture %}
          <a><img class="profile-img mb-0" src="{{ MEDIA_URL }}{{ request.user.current_instance.picture }}" alt="Profilbild"></a>
        {% elif request.user.data.picture %}
          <a><img class="profile-img mb-0" src="{{ MEDIA_URL }}{{ request.user.data.picture }}" alt="Profilbild"></a>
        {% endif %}
        </div>
        <h6 class="text-center">{{ request.user.current_instance.long_name }}</h6>
        <h6 class="text-center">{{ request.user.username }}</h6>  
      </div>

      <div class="small-12 medium-expand columns">
        <label>Kommentar schreiben</label>
        <textarea name="" id="comment_value" cols="30" rows="3"></textarea>
        <a class="button comment_button" comment_val="comment_value" instance_id="{{ object.id }}">Kommentieren</a>
      </div>
    </div>
    <div class="separator-line"></div>
    {# end new comment #}

    {% include "snippet_comment_loop.html" with comments=object.conversation.messages.all %}

  </div>
</div>


{% addtoblock 'js' %}
<script type="text/javascript">


$("#js-conversation-{{object.id}}").on('click', '.js-reply-comment', function() {
  $("#js-reply-input-"+$(this).attr("comment_id")).slideToggle();
} );


function post_comment(comment, instance_id, reply_id) {
    post_to_url( "/comment/",
                { comment : comment,
                instance_id: instance_id,
                reply_id: reply_id },
                function(data){
                  if(!reply_id) {
                    $(data).prependTo($('#js-comments-pos-'+instance_id)).hide().slideDown();
                  }
                  else {
                    $(data).prependTo($('#js-replys-pos-'+reply_id)).hide().slideDown();
                    $("#js-reply-input-"+reply_id).slideUp();
                  }
                });
};

$("#js-conversation-{{object.id}}").on('click', '.comment_button', function(event) {
    var comment_val = $(this).attr('comment_val')
     post_comment($("#"+comment_val).val(), $(this).attr('instance_id'), $(this).attr('message_id'))
 });

function message_like(message_id) {
    post_to_url( '{% url "like_message" %}', 
                { message_id : message_id
                },
                function(data){
                  $("#message_heart_"+message_id).html("<i class='fa fa-heart'></i>"+data);
                });
  }
  
  $(".message-heart").click( function()
    {
      message_like($(this).attr('comment_id'));
    });

</script>
{% endaddtoblock %}

