{% load static socialee_filters sekizai_tags %}
<div class="tabs-panel" id="panel2">
 <div class="">
  <div class="" id="js-conversation-{{object.id}}">

    <div class="comment comment__input">
      <div class="comment__header">
        <div class="row">
          <div class="comment__avatar small-12 columns">
          {% if request.user.current_instance.picture %}
            <a><img src="{{ MEDIA_URL }}{{ request.user.current_instance.picture }}" alt=""></a>
          {% elif request.user.data.picture %}
            <a><img src="{{ MEDIA_URL }}{{ request.user.data.picture }}" alt=""></a>
          {% endif %}
            <div class="comment__avatar-text">
              <h6>{{ request.user.current_instance.long_name }}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="comment__content">
      <label>Neuen Kommentar schreiben</label>
        <textarea name="" id="comment_value" cols="30" rows="5"></textarea>
      </div>
      <div class="row comment__actions">
        {% comment %}
        <div class="small-12 medium-8 columns">
          <p class="h-f22 greyblue-2">Übrigens: Projekte können mit @titel erwähnt werden.</p>
        </div>
        {% endcomment %}
        <div class="small-12 medium-4 columns">
          <a class="button expanded-sm float-right-md button--yellow comment_button" comment_val="comment_value" instance_id="{{ object.id }}">Kommentieren</a>
        </div>
      </div>
    </div>

    {% include "snippet_comment_loop.html" with comments=object.conversation.messages.all %}

    </div>
  </div>
</div>


{% addtoblock 'js' %}
<script type="text/javascript">


$("#js-conversation-{{object.id}}").on('click', '.js-reply-comment', function() {
  $("#js-reply-input-"+$(this).attr("comment_id")).slideToggle();
} );


function post_comment(comment, instance_id, reply_id) {
    post_to_url( "/comment/",
                { comment : comment,
                instance_id: instance_id,
                reply_id: reply_id },
                function(data){
                  if(!reply_id) {
                    $(data).prependTo($('#js-comments-pos-'+instance_id)).hide().slideDown();
                  }
                  else {
                    $(data).prependTo($('#js-replys-pos-'+reply_id)).hide().slideDown();
                    $("#js-reply-input-"+reply_id).slideUp();
                  }
                });
};

$("#js-conversation-{{object.id}}").on('click', '.comment_button', function(event) {
    var comment_val = $(this).attr('comment_val')
     post_comment($("#"+comment_val).val(), $(this).attr('instance_id'), $(this).attr('message_id'))
 });
</script>
{% endaddtoblock %}

