{% load static socialee_filters %}
<div class="tabs-panel" id="panel2">
 <div class="row">
  <div class="large-8 large-offset-2 small-12 columns" id="object{{ object.id }}">

    <div class="comment comment__input">
      <div class="comment__header">
        <div class="row">
          <div class="comment__avatar small-12 column">
            <!-- <img src="{{ MEDIA_URL }}{{ request.user.current_instance.picture }}" alt="1"> -->
            <a href="#"><img src="/media/avatar_profile-acc6c5a5a9d35bd7d292dfd776cfec76_mnGb9Tc.png" alt="profile image"></a>
            <div class="comment__avatar-text">
              <div class="h6">{{ request.user.current_instance.long_name }}</div>
              <div class="h-f15 greyblue-2 h-capital h-pt-5">Neuen Kommentar schreiben</div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment__content">
        <textarea name="" id="comment_value" cols="30" rows="10"></textarea>
      </div>
      <div class="row comment__actions">
        <div class="small-12 medium-8 column">
          <p class="h-f22 greyblue-2">Übrigens: Personen können mit @username erwähnt werden.</p>
        </div>
        <div class="small-12 medium-4 column">
          <a class="large button expanded-sm float-right-md button--yellow comment_button" instance_id="{{ object.id }}" href="#">Kommentieren</a>
        </div>
      </div>
    </div>

    {% for message in object.conversation.messages.all %}


        {% include "snippet_comment.html" with comment=message %}

        {% for reply in message.replys.all %}
        <div class="comment--indented">
          <div class="comment__wrap">
            {% include "snippet_comment.html" with comment=reply %}
            </div>
          </div>
        {% endfor %}
    {% endfor %}

    </div>
  </div>
</div>

