{% load socialee_filters %}
{% if request.user.current_instance %}
{% if to_follow in request.user.current_instance.follows_profiles.all or to_follow in request.user.current_instance.follows_projects.all %}
<a class="hollow button float-right follow" href="#" instance_id="{{ object.id }}">
	<i class="fa fa-minus-circle" aria-hidden="true"></i> Du Folgst {{ to_follow | short_name }}</a>
{% else %}
<a class="hollow button float-right follow" href="#" instance_id="{{ object.id }}">
	<i class="fa fa-plus-circle" aria-hidden="true"></i> Folge {{ to_follow | short_name }}</a>
{% endif %}
{% endif %}