{% load static sekizai_tags quote_tags %}

<div class="quote-footer">

  <div class="row align-center">
    <div class="small-12 medium-10 columns text-center mt-2rem mb-2rem">
    {% random_quote as random_quote %}
      <h3 class="quote white">{{ random_quote.title }}</h3>
      <p class="lead white"><strong>Das hat {{ random_quote.author }} gesagt.</strong> <br class="show-for-small-only"><a class="text--underline" href="{% url 'make_quote' %}">Was sagst Du?</a></p>
    </div>
  </div>

</div>

  <ul style="background-color: #302f35;" class="menu align-center">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'zinnia:entry_archive_index' %}">Blog</a></li>
    <li><a href="{% url 'impressum' %}">Impressum</a></li>
    <li><a href="{% url 'register' %}">Registrieren</a></li>
  </ul>