{% load static sekizai_tags quote_tags %}

<div class="c-section--bg-img c-section--img c-section--quotes">
  <div class="row">
     <div class="c-section-img-wrapper">
      <!-- <img class="section-img" src="{{ STATIC_URL }}img/app/footer_guy.png" alt="1"> -->
    </div>
    <div class="small-12 text-center">
    {% random_quote as random_quote %}
      <p class="quote white strong h1-super">{{ random_quote.title }}</p>
      <p class="author white strong h4">Das hat {{ random_quote.author }} gesagt. <br class="show-for-small-only"><a class="text--underline" href="{% url 'make_quote' %}">Was sagst Du?</a></p>
    </div>
  </div>
</div>

<footer>
  <div class="menu-centered">
    <ul class="vertical medium-horizontal menu">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'zinnia:entry_archive_index' %}">Blog</a></li>
      <li><a href="{% url 'impressum' %}">Impressum</a></li>
      <li><a href="{% url 'register' %}">Anmelden</a></li>
    </ul>
  </div>
</footer>
