{% load static sekizai_tags quote_tags %}


<div class="zitate-footer">
  <div class="row align-middle">
    <div class="columns text-center">
    {% random_quote as random_quote %}
      <p class="quote">{{ random_quote.title }}</p>
      <p class="author">Das hat {{ random_quote.author }} gesagt. <br class="show-for-small-only"><a href="{% url 'make_quote' %}">Was sagst Du?</a></p>
    </div>
  </div>
</div>

<footer>
  <div class="footer-bottom">
    <div class="row">
      <div class="small-12 columns">
        <p class="slogan"></p>
        <p class="links">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'zinnia:entry_archive_index' %}">Blog</a>
          <a href="{% url 'home' %}#manifest">Manifest</a>
          <a href="{% url 'impressum' %}">Impressum</a>
          <a href="{% url 'waitinglist' %}">Newsletter</a>
        </p>
      </div>
    </div>
  </div>
</footer>