{% load static socialee_filters %}
<section class="hero">
  <div class="row">
    <div class="small-12 column text-center-sm">
      <div class="hero__profile">
        <div class="row">
          <div class="small-12 column">
            <div class="media-object stack-for-small">
              {% if object.profile %}
              <div class="media-object-section">
                <img src="{{ MEDIA_URL }}{{ object.picture }}" alt="profile image">
              </div>
              {% endif %}
              <div class="small-12 media-object-section main-section">
                <div class="row">
                  <div class="small-12 medium-12 large-8 column profile__name header-text-h2 header-text-sm-h2">
                    {{ object.long_name  }}
                  </div>
                  {% if request.user.current_instance.id == object.id %}
                  <div class="small-12 medium-12 large-4 column header-text-h2 header-text-sm-h2">
                    {% if object.profile %}
                      <a class="button button--yellow button--icon float-right-md show-for-medium" href="{% url 'profile_updateview' request.user %}"><i class="fa fa-pencil" aria-hidden="true"></i> Profil bearbeiten</a>
                    {% else %}
                      <a class="button button--yellow button--icon float-right-md show-for-medium" href="{% url 'project_updateview' slug=project.slug %}"><i class="fa fa-pencil" aria-hidden="true"></i> Projekt bearbeiten</a>
                    {% endif %}
                  </div>
                  {% else %}
                    <div class="small-12 medium-12 large-4 column follow{{ object.id }}">
                      {% include "snippet_follow.html" with to_follow=object.commonground_ptr %}
                    </div>
                  {% endif %}

                  <div class="column small-12 profile__tagline header-text-h6 header-text-sm-h6">
                  {% if object.tagline %}
                    {{ object.tagline }}
                  {% else %}
                    Hier steht eigentlich eine Tagline.
                  {% endif %}
                  </div>
                    <div class="column small-12 profile__tagline tags tags--attribute tags--orange">
                      {% for tag in object.tags.all %}
                      <a class="tag tag--orange"><i class="fi-x-circle"></i>{{ tag }}</a>
                      {% endfor %}
                      <a class="tag tag--grey tag--more"><i class="fa fa-plus"></i> §7 Mehr</a>
                  </div>
                  <div class="column small-12">
                    <p>{% if object.description %}
                      {{ object.description }}
                    {% else %}
                      Hier steht deine Beschreibung.
                    {% endif %}
                    </p>
                    <p>Klingt interessant, <br class="show-for-small-only"> <a class="thick" href="">schreib {{ object.short_name }} mal.</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="tags-wrapper">
                <div class="row">
                  <div class="small-12 medium-6 columns">
                    <div class="tags green">
                      <div class="column h5 mb-10 strong green">{{ object.short_name }} bietet</div>
                      {%  for input in object.socialee_output.all %}
                      <a class="tag tag--green"><i class="fi-x-circle"></i>{{ input }}{% if badge_count >= 1 %}
                      <span>{{ badge_count }}</span>{% endif %}</a>
                      {% endfor %}
                      <a class="tag tag--white tag--more"><i class="fa fa-plus"></i> §7 Mehr</a>
                    </div>
                  </div>
                  <hr class="show-for-small-only">
                  <div class="small-12 medium-6 columns">
                    <div class="tags blue">
                      <div class="column h5 mb-10 strong blue">{{ object.short_name }} benötigt</div>
                      {% for output in object.socialee_input.all %}
                      <a class="tag tag--blue"><i class="fi-x-circle"></i>{{ output.title }}{% if badge_count >= 1 %}
                      <span>{{ badge_count }}</span>{% endif %}</a>
                      {% endfor %}
                      <a class="tag tag--white tag--more"><i class="fa fa-plus"></i> §7 Mehr</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
