<section class="hero">
  <div class="row">
    <div class="columns large-12">
      <div class="hero__profile">
        <div class="row">
          <div class="small-12 columns">
            <div class="media-object stack-for-small">
              <div class="media-object-section">
                {% load static %}
                <img src="{{ MEDIA_URL }}{{ object.picture }}" alt="profile image">
              </div>
              <div class="media-object-section">
              {% if not request.user == object.user %}
              <a class="hollow button float-right" href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Folge {% if user.first_name %} {{ object.user.first_name }} {% else %} {{ user.username }} {% endif %} </a>
              {% else %}
              <a class="hollow button float-right" href="{% url 'profile_updateview' request.user %}"><i class="fa fa-pencil" aria-hidden="true"></i> Profil bearbeiten</a>
              {% endif %}
                <h2>
                {% if object.user.first_name and object.user.last_name %}
                  {{ object.user.first_name }} {{ object.user.last_name }}
                  {% elif object.user.first_name and not object.user.last_name %}
                  {{ object.user.first_name }}
                  {% else %}
                  {{ object.user.username }}
                {% endif %}
                </h2>
                <h5>{% if object.tagline %}
                  {{ object.tagline }}
                  {% else %}
                  Hier steht eigentlich eine Tagline.
                {% endif %}
                </h5>
                <div class="small-12 columns">
                  <div class="tags tags--is tags--orange">
                    <a class="label label--orange"><i class="fi-x-circle"></i>§Audio</a>
                    <a class="label label--orange"><i class="fi-x-circle"></i>App</a>
                    <a class="label label--orange"><i class="fi-x-circle"></i>Book</a>
                    <a class="label label--orange"><i class="fi-x-circle"></i>Door</a>
                    <a class="label label--grey label--more"><i class="fa fa-plus"></i> §7 Mehr</a>
                    </div>
                </div>
                <p>{% if object.description %}
                  {{ object.description }}
                {% else %}
                  Hier steht deine Projektbeschreibung.
                {% endif %}
                </p>
                <p>Klingt interessant, <a href="">schreib {{ object.user_first_name }} mal</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="tags-wrapper">
              <div class="row">
                <div class="small-12 medium-6 columns">
                  <div class="tags tags--green">
                    <h4>{{ object.user.first_name }} bietet</h4>
                    <a class="label label--green"><i class="fi-x-circle"></i><span>§4</span>§Audio</a>
                    <a class="label label--green"><i class="fi-x-circle"></i>App</a>
                    <a class="label label--green"><i class="fi-x-circle"></i>Book</a>
                    <a class="label label--green"><i class="fi-x-circle"></i>Book</a>
                    <a class="label label--green"><i class="fi-x-circle"></i>Image</a>
                    <a class="label label--green"><i class="fi-x-circle"></i>App</a>
                    <a class="label label--green"><i class="fi-x-circle"></i>Image</a>
                    <a class="label label--green"><i class="fi-x-circle"></i>App</a>
                    <a class="label label--white label--more"><i class="fa fa-plus"></i> §7 Mehr</a>
                  </div>
                </div>
                <div class="small-12 medium-6 columns">
                  <div class="tags tags--blue">
                    <h4>{{ object.user.first_name }} benötigt</h4>
                    <a class="label label--blue"><i class="fi-x-circle"></i>§Audio</a>
                    <a class="label label--blue"><i class="fi-x-circle"></i>App</a>
                    <a class="label label--blue"><i class="fi-x-circle"></i>Book</a>
                    <a class="label label--blue"><i class="fi-x-circle"></i>Door</a>
                    <a class="label label--blue"><i class="fi-x-circle"></i>Image</a>
                    <a class="label label--blue"><i class="fi-x-circle"></i>App</a>
                    <a class="label label--blue"><i class="fi-x-circle"></i>Image</a>
                    <a class="label label--blue"><i class="fi-x-circle"></i>App</a>
                    <a class="label label--white label--more"><i class="fa fa-plus"></i> §7 Mehr</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
