{% extends "offcanvas.html" %}
{% load socialee_filters static sekizai_tags %}

{% block content %}

  <div class="row align-center">
    <div class="medium-10 large-10 columns">
      <div class="c-form">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}

          <div class="row">
              <div class="small-12 columns">
                <h3>Cool, dass du ein Projekt erstellst!</h3>
                <p>Wenn du willst, kannst du noch ein paar Details hinzufügen.</p>
              </div>
            
              {% include "snippet_formfield.html" with field=form.title size="small-12" %}
              {% include "snippet_formfield.html" with field=form.tagline size="small-12" %}
              {% include "snippet_formfield.html" with field=form.tags size="small-12" %}
              {% include "snippet_formfield.html" with field=form.description size="small-12" %}
                
              {# Inputs und Outputs gehen noch nicht.... #}
              {# {% include "snippet_formfield.html" with field=form.socialee_inputs size="small-6"%} #}
              {# {% include "snippet_formfield.html" with field=form.socialee_outputs size="small-6"%} #}

          </div>

          <div class="row">
            <div class="small-12 columns">
              <input class="button" type="submit" value="Projekt erstellen">
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </div>

{% comment %}
  
  <div class="row align-center">
    <div class="medium-10 large-10 columns">
      <div class="c-form">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
          <div class="row">
            <div class="small-12 column">
              <div class="row column media-object stack-for-small">
                {{ form.picture }}
                <div class="media-object-section small-4">
                  {% if idea.picture %}
                  <img class="small-12" id="js-id-picture" src="{{ MEDIA_URL }}{{ idea.picture }}" alt="project image">
                  {% endif %}
                  <label for="id_picture" id="upload" class="button button--yellow"><i class="fa fa-upload" aria-hidden="true"></i> Bild hochladen </label>
                </div>
                <div class="small-12 media-object-section main-section">
                  <div class="row">
                    <div class="small-12 medium-12 large-12 column show-for-medium header-text-h2 header-text-sm-h2">
                      <input class="button button--yellow button--icon float-right-lg" type="submit" value="Save" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-12 medium-12 large-12 column profile__name header-text-h2 header-text-sm-h2">
                      {% if object.profile %}
                        {% include "snippet_formfield.html" with field=form.first_name size="small-12" %}
                        {% include "snippet_formfield.html" with field=form.last_name size="small-12" %}
                      {% else %}
                        {% include "snippet_formfield.html" with field=form.title size="small-12" %}
                      {% endif %}
                    </div>


                    <div class="column small-12 profile__tagline header-text-h6 header-text-sm-h6">
                    {% include "snippet_formfield.html" with field=form.tagline size="small-12" %}
                    </div>

                  </div>
                </div>
                <div class="column small-12">
                {% include "snippet_formfield.html" with field=form.tags %}
                </div>
                <div class="column small-12 profile__tagline tags tags--attribute tags--orange">
                      {% for tag in object.tags.all %}
                        <a class="tag tag--orange"><i class="fi-x-circle"></i>{{ tag }}</a>
                      {% endfor %}
                    </div>
                <div class="column small-12">
                  {% include "snippet_formfield.html" with field=form.description size="small-12" %}
                </div>
              </div>
            </div>
            <div class="small-12 columns">
              <div class="column tags-wrapper">
                <div class="">
                  <div class="small-12 medium-6 columns">
                    <div class="row">
                      {% include "snippet_formfield.html" with field=form.socialee_outputs size="small-12" %}
                      <div class="tags green">
                        <div class="column h5 mb-10 strong green">{{ object.short_name }} bietet</div>
                        {%  for input in object.socialee_output.all %}
                        <a class="tag tag--green"><i class="fi-x-circle"></i>{{ input }}{% if badge_count >= 1 %}
                        <span>{{ badge_count }}</span>{% endif %}</a>
                        {% endfor %}
                      </div>
                    </div>
                  </div>

                  <hr class="show-for-small-only">

                  <div class="small-12 medium-6 columns">
                    <div class="row">
                      {% include "snippet_formfield.html" with field=form.socialee_inputs size="small-12"%}
                      <div class="tags blue">
                        <div class="column h5 mb-10 strong blue">{{ object.short_name }} benötigt</div>
                        {% for output in object.socialee_input.all %}
                        <a class="tag tag--blue"><i class="fi-x-circle"></i>{{ output.title }}{% if badge_count >= 1 %}
                        <span>{{ badge_count }}</span>{% endif %}</a>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </from>
      </div>
    </div>
  </div>

{% endcomment %}



{% endblock content %}
