{% load sekizai_tags %}


<div class="small-10 small-centered section">
<h3 class="h-text-center-sm">Lade deine Freunde ein!</h3>
<p>Erzähle deinen Freunden von deiner Idee oder deinem Projekt. So wird was draus.</p>
<div id="js-invites">
  <label>E-Mail-Adresse:</label><input class="js-invite" type="text"/>
</div>
<div id="js-add-invite" class="button button--yellow button--icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
<div id="js-inviteAll" class="button button--yellow button--icon">Einladen</div>
</div>



{% addtoblock 'js' %}
<script type="text/javascript">
function addInvite()
{
  var $invite = $("<label>E-Mail-Adresse:</label>");
  $("<input class='js-invite' type='text'/>").appendTo($invite);

   $invite.appendTo("#js-invites");
}

$("#js-add-invite").click( addInvite );


function inviteAll(emails) {
    console.log(JSON.stringify(emails));
    post_to_url( "{% url 'invitations:send-json-invite' %}",
                JSON.stringify(emails),
                function(data){
                    $('js-invites').html("<label>E-Mail-Adresse:</label><input class='js-invite' type='text'/>");
                });
  };

  $("#js-inviteAll").click( function() {
    inviteAll($(".js-invite").map(function() {
            return $(this).val();
        }).get());
  });
</script>
{% endaddtoblock %}
