{# these are the actual tabs themselfes #}
<!-- <section class="l-tabs"> -->
  <div class="row"> <!-- small-collapse DOES NOT WORK -->
    <div class="small-11 small-centered x-large-12"> <!-- small-12 medium-10 large-10 columns small-centered -->
      <ul class="small-collapse tabs hero__tabs" data-update-history="true" data-deep-link="true" data-tabs id="instance-tabs">
        <li class="small-4 column tabs-title is-active _28-26"><a href="#panel1" aria-selected="true">Info</a></li>
        <li class="small-4 column tabs-title _28-26"><a href="#panel2">Gespräch</a></li>
        <li class="small-4 column tabs-title _28-26"><a href="#panel3">Netzwerk</a></li>
      </ul>
    </div>
  </div>
<!-- </section> -->
