{# these are the actual tabs themselfes #}
<section class="l-tabs">
  <div class="row expanded small-collapse medium-uncollapse">
    <div class="small-12 small-centered">
      <ul class="small-collapse tabs hero__tabs" data-tabs data-options="data-auto-focus:false" id="example-tabs">
        <li class="small-4 column tabs-title is-active _34-18"><a href="#panel1" aria-selected="true">Info</a></li>
        <li class="small-4 column tabs-title _34-18"><a href="#panel2">Gespräch</a></li>
        <li class="small-4 column tabs-title _34-18"><a href="#panel3">Netzwerk</a></li>
      </ul>
    </div>
  </div>
</section>
