{% load socialee_filters %}

<div class="row top-bar-app">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a data-toggle="offCanvas"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
      <li class="menu-text"><a href="/">Socialee sagt: Hallo{% if request.user.first_name %} {{ request.user.first_name }}!{% else %} Welt!{% endif %}</a></li>
    </ul>
  </div>
  <div class="top-bar-right show-for-large">
    <ul class="dropdown menu" data-dropdown-menu>
      {% if not request.user.is_authenticated %}
        <li class="menu-text"><a href="{% url 'waitinglist' %}">Anmelden</a></li>
      {% else %}
      <li class="menu-text"><a href="{% url 'account_logout' %}">Abmelden</a></li>
      {% endif %}
    </ul>
  </div>
</div>