$cs: (
  orange: (
    1:#ff9e1a,
    2:#cd931f,
    3:#7a5711
  ),
  green: (
    1:#377a6d,
    2:#264a42,
    3:#4ea18f
  ),
  blue: (
    1:#54abc7,
    2:#1f7f9e,
    3:#395a7a
  ),
  greyblue: (
    1:#302f35,
    2:#5d5c67,
    3:#3f3e47
  ),
  grey: (
    f8:#f8f8f9,
    f4:#f4f4f5,
    ea:#eaeaea,
    dc:#dcdcdd,
    cb:#cbcbcc
  ),
  special: (
    white:#fff,
    red:#f4f4f5,
    green:#eaeaea
  )
);
