{% extends "offcanvas.html" %}

{% load static %}

{% block content %}

<section class="fullscreen-img" data-interchange="[{% static 'img/landingpage_bg/background-assets/background.jpg' %}, small], [{% static 'img/landingpage_bg/background-assets/background.jpg' %}, medium], [{% static 'img/landingpage_bg/background-assets/background.jpg' %}, large]">

<div class="row">
    <div class="small-12 medium-10 columns small-centered">
    <div class="socialee-callout">
		{% block allauth_content %}
		{% endblock allauth_content %}
    </div>
    </div>
</div>

</section>

{% endblock content %}
