{% extends "account/allauth_base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block allauth_content %}
<div class="socialee-callout">
    <h2>{% trans "E-Mail-Adresse bestätigen" %}</h2>

    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p class="">{% blocktrans with confirmation.email_address.email as email %}Hallo! Möchtest Du die Email-Adresse <strong>{{ email }}</strong> bestätigen? {% endblocktrans %}</p>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
      <div class="c-form__footer">
        <button class="button button--yellow" type="submit">Ja, bestätigen!</button>
      </div>
    </form>

    {% else %}

    {% url 'account_email' as email_url %}

    <p class="">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

    {% endif %}
</div>

{% endblock %}
