{% extends "account/allauth_base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block allauth_content %}

<h2>{% blocktrans %}Hier kannst du dich anmelden.{% endblocktrans %}</h2>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="-lead">{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="-lead mb-20">Wenn Du noch kein Konto bei Socialee hast, <a class="text-link-special" href="{% url 'register' %}">registriere dich!</a></p>
{% endif %}

<form class="login mt-20" method="POST" action="{% url 'account_login' %}">
  <div class="row">
    {% csrf_token %}
    {% for item in form %}
    {% include "snippet_formfield.html" with field=item size="medium-6" %}
    {% endfor %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
  </div>
  <div class="c-form__footer">
    <button class="button button--yellow" type="submit">{% trans "Anmelden" %}</button>
    <a class="pull-right" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </div>
</form>

{% endblock %}
