{% extends "account/allauth_base.html" %}

{% load i18n %}
{% load account %}
{% include "socialaccount/snippets/login_extra.html" %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

</br></br></br></br></br>
<div class="row">
  <div class="small-8 small-centered columns">
    <h1>Hak dich ein, los geht's.</h1>
    <p>Du hast noch keinen Account? <a href="{{ signup_url }}">Hier entlang.</a></p>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction small" type="submit">Log In</button>
      <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <a href="/" class="right">Raus hier!</a>
    </form>
    {% if socialaccount.providers %}
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}
  </div>
</div>

{% endblock %}
