{% extends "account/allauth_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block allauth_content %}
<h1>{% trans 'Abmelden' %}</h1>

<p>{% trans 'Bist Du sicher, dass du Dich abmelden möchtest?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="button button--yellow large" type="submit">{% trans 'Ja, raus hier.' %}</button>
  <a style="font-size: 28px;" class="text-link-special pull-right" onClick="javascript:history.go(-1);">Nee doch nicht.</a>
</form>


{% endblock %}
