{% extends "account/allauth_base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block allauth_content %}
    <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {% for item in form %}
                    {% include "snippet_formfield.html" with field=item size="small-12" %}
                {% endfor %}
                <div class="c-form__footer">
                  <input type="submit" name="action" value="{% trans 'change password' %}"/>
                </div>
            </form>
        {% else %}
            <p class="">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
