{% extends "account/allauth_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block allauth_content %}
    <h2>{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% for item in form %}
		    {% include "snippet_formfield.html" with field=item size="small-12" %}
	    {% endfor %}
        <div class="c-form__footer">
          <button class="button button--yellow" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock %}
