{% extends "account/allauth_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block allauth_content %}
    <h2>{% trans "Set Password" %}</h2>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {% for item in form %}
	    {% include "snippet_formfield.html" with field=item size="small-12" %}
	    {% endfor %}
        <div class="c-form__footer">
          <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </div>
    </form>
{% endblock %}
