{% extends "account/allauth_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block allauth_content %}

    <h2>Neues Konto eröffnen.</h2>

    <p>Wenn Du schon ein Konto hast, <a href="{{ login_url }}">logge Dich ein.</a></p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"><input>
      {% endif %}
      <button class="button button--yellow" type="submit">{% trans "Anmelden" %} &raquo;</button>
    </form>

{% endblock %}
