<section class="connections-footer">
  <div class="small-12 row align-center">
    <div class="img-wrapper">
      <img src="{{ STATIC_URL }}img/app/footer_guy.png" alt="1">
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-10 medium-offset-1 columns">
      <div class="row text-center">
        <div class="small-12 columns">
          <h1>Freunde zu Socialee einladen</h1>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et montes, ridiculus.Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</p>
            <a href="about.html" class="large button button--yellow">Einladen</a>
        </div>
      </div>
    </div>
  </div>
</section>
