<div class="tabs-panel is-active" id="panel2">
  <section class="connections">
    <div class="row">
      <div class="small-12 medium-10 medium-offset-1 columns">
        <div class="row text-center">
          <div class="small-12 columns">
            <h2 style="margin-bottom: 4rem">{{ object.user_first_name }} weitere Verbindungen</h2>
          </div>
        </div>
        <div class="row align-justify">
          <div class="small-12 medium-6 large-4">
            <div class="card">
              <div class="row align-center card-img">
                <img src="{{ STATIC_URL }}img/app/user_moritz_small.png" alt="1">
              </div>
              <div class="card-section text-center">
                <h4>Teresa Goldmann-Sucks</h4>
                <div class="small-12 columns">
                  <div class="tags tags--is tags--orange">
                    <a class="label label--orange"><i class="fi-x-circle"></i>§Audio</a>
                    <a class="label label--orange"><i class="fi-x-circle"></i>App</a>
                    <a class="label label--orange"><i class="fi-x-circle"></i>Book</a>
                  </div>
                  <div class="small-12 columns text-center">
                    <a class="small hollow button" href="#">Profil öffnen</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-4">
            <div class="card">
              <div class="row align-center card-img">
                <img src="{{ STATIC_URL }}img/app/user_moritz_small.png" alt="1">
              </div>
              <div class="card-section text-center">
                <h4>Teresa Goldmann-Sucks</h4>
                <div class="small-12 columns">
                  <div class="tags tags--is tags--orange">
                    <a class="label label--orange"><i class="fi-x-circle"></i>§Audio</a>
                    <a class="label label--orange"><i class="fi-x-circle"></i>App</a>
                    <a class="label label--orange"><i class="fi-x-circle"></i>Book</a>
                    <a class="label label--orange"><i class="fi-x-circle"></i>Boooooooooook</a>
                  </div>
                  <div class="small-12 columns text-center">
                    <a class="small hollow button" href="#">Profil öffnen</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-4">
            <div class="card">
              <div class="row align-center card-img">
                <img src="{{ STATIC_URL }}img/app/user_moritz_small.png" alt="1">
              </div>
              <div class="card-section text-center">
                <h4>Teresa Goldmann-Sucks</h4>
                <div class="small-12 columns">
                  <div class="tags tags--is tags--orange">
                    <a class="label label--orange"><i class="fi-x-circle"></i>§Audio</a>
                    <a class="label label--orange"><i class="fi-x-circle"></i>App</a>
                    <a class="label label--orange"><i class="fi-x-circle"></i>Book</a>
                  </div>
                  <div class="small-12 columns text-center">
                    <a class="small hollow button" href="#">Profil öffnen</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-4">
            <div class="card">
              <div class="row align-center card-img">
                <img src="{{ STATIC_URL }}img/app/user_moritz_small.png" alt="1">
              </div>
              <div class="card-section text-center">
                <h4>Teresa Goldmann-Sucks</h4>
                <div class="small-12 columns">
                  <div class="tags tags--is tags--orange">
                    <a class="label label--orange"><i class="fi-x-circle"></i>§Audio</a>
                    <a class="label label--orange"><i class="fi-x-circle"></i>App</a>
                    <a class="label label--orange"><i class="fi-x-circle"></i>Book</a>
                  </div>
                  <div class="small-12 columns text-center">
                    <a class="small hollow button" href="#">Profil öffnen</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-4">
            <div class="card">
              <div class="row align-center card-img">
                <img src="{{ STATIC_URL }}img/app/user_moritz_small.png" alt="1">
              </div>
              <div class="card-section text-center">
                <h4>Teresa Goldmann-Sucks</h4>
                <div class="small-12 columns">
                  <div class="tags tags--is tags--orange">
                    <a class="label label--orange"><i class="fi-x-circle"></i>§Audio</a>
                    <a class="label label--orange"><i class="fi-x-circle"></i>App</a>
                    <a class="label label--orange"><i class="fi-x-circle"></i>Book</a>
                  </div>
                  <div class="small-12 columns text-center">
                    <a class="small hollow button" href="#">Profil öffnen</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="small-12 columns">
            <a class="small hollow button" href="#">Weitere laden</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "connections_footer.html" %}
</div>
