<div class="tabs-panel is-active" id="panel1">
 <div class="row">
  <div class="large-8 large-offset-2 small-12 columns">
    <div class="comment comment__input">
      <section class="comment__top">
        <h6 class="byline">
          <a href="#">
            <div class="comment__avatar"><img src="/static/img/app/user_moritz_small.png" alt="1"></div>
            {{ object.user_first_name }} {{ object.user_last_name }}</a>
            <div class="time grey">
              <span class="data">
                NEUEN KOMMENTAR SCHREIBEN
              </span>
            </div>
          </h6>

        </section>
        <section class="comment__content">
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </section>
        <section class="comment__actions">
          <ul class="inline-list float-right">
            <a class="secondary button float-right" href="#">Kommentieren</a>
          </ul>
          <p class="grey">Übrigens: Personen können mit @username erwähnt werden.</p>
        </section>
      </div>

      <div class="comment">
        <section class="comment__top">
          <a class="hollow button float-right" href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Folge Moritz</a>
          <h6 class="byline">
            <a href="#">
              <div class="comment__avatar"><img src="/static/img/app/user_moritz_small.png" alt="1"></div>
              Moritz Jüdes</a>
              <div class="time grey">vor
                <span class="data">
                  24 Minuten
                </span>
              </div>
            </h6>

          </section>
          <section class="comment__content">
            <p>§[comment thread] Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. <a href="#">@Don Ludwig</a> Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius.</p>
            <img src="/static/img/app/ralph1.jpg" alt="">
          </section>
          <section class="comment__actions">

            <ul class="inline-list">
              <li><a href="#"><i class="fa fa-reply"></i>Antworten </a></li>
              <li><a href="#"><i class="fa fa-heart"></i>§3</a></li>
            </ul>
            <ul class="inline-list float-right">
              <li><a href="#">§Zeige Verbindungen</a></li>
              <li><a href="#">§Das ist eine Idee!</a></li>
            </ul>

          </section>

        </div>

        <div class="comment--indented">
          <div class="comment__wrap">
            <section class="comment__top">
              <a class="hollow button float-right" href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Folge Don Ludwig</a>
              <h6 class="byline">
                <a href="#">
                  <div class="comment__avatar"><img src="/static/img/app/user_moritz_small.png" alt="1"></div>
                  Don Ludwig</a>
                  <div class="time grey">vor
                    <span class="data">
                      24 Minuten
                    </span>
                  </div>
                </h6>
              </section>
              <section class="comment__content">
                <p>Wow, guys. Lots of great feedback.</p>
                <p>First, <a href="#">@Milkmusket</a>, I agree. I've struggled with that section and might take advice for <a href="#">@albanesetr</a> and focus on a single feature rather than the whole screenshot.</p>
              </section>
              <section class="comment__actions">

                <ul class="inline-list">
                  <li><a href="#"><i class="fa fa-reply"></i>Antworten </a></li>
                  <li><a href="#"><i class="fa fa-heart"></i>§3</a></li>
                </ul>

                <ul class="inline-list float-right">
                  <li><a href="#">§Zeige Verbindungen</a></li>
                  <li><a href="#">§Das ist eine Idee!</a></li>
                </ul>

              </section>
            </div>
          </div>

          <div class="comment--indented">
            <div class="comment__wrap">
              <section class="comment__top">
                <a class="hollow button float-right" href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Folge Peter Scholl-Latour</a>
                <h6 class="byline">
                  <a href="#">
                    <div class="comment__avatar"><img src="/static/img/app/user_moritz_small.png" alt="1"></div>
                    Peter Scholl-Latour</a>
                    <div class="time grey">vor
                      <span class="data">
                        24 Minuten
                      </span>
                    </div>
                  </h6>
                </section>
                <section class="comment__content">
                  <p>Wow, guys. Lots of great feedback.</p>
                  <p>First, <a href="#">@Milkmusket</a>, I agree. I've struggled with that section and might take advice for <a href="#">@albanesetr</a> and focus on a single feature rather than the whole screenshot.</p>
                </section>
                <section class="comment__actions">

                  <ul class="inline-list">
                    <li><a href="#"><i class="fa fa-reply"></i>Antworten </a></li>
                    <li><a href="#"><i class="fa fa-heart"></i>3</a></li>
                  </ul>

                  <ul class="inline-list float-right">
                    <li><a href="#">§Zeige Verbindungen</a></li>
                    <li><a href="#">§Das ist eine Idee!</a></li>
                  </ul>

                </section>
              </div>
            </div>

          </div>
        </div>
      </div>

