{% load static %}
<div class="tabs-panel" id="panel1">
 <div class="row">
  <div class="large-8 large-offset-2 small-12 columns" id="object{{ object.id }}">

    <div class="comment comment__input">
      <section class="comment__top">
        <h6 class="byline">
          <a href="#">
            <div class="comment__avatar"><img src="{{ MEDIA_URL }}{{ request.user.profile.picture }}" alt="1"></div>
            {{ request.user.username }} {{ request.user.last_name }}</a>
            <div class="time grey">
              <span class="data">
                NEUEN KOMMENTAR SCHREIBEN
              </span>
            </div>
          </h6>

        </section>
        <section class="comment__content">
          <textarea name="" id="comment_value" cols="30" rows="10"></textarea>
        </section>
        <section class="comment__actions">
          <ul class="inline-list float-right">
            <a class="secondary button float-right comment_button" page_id="{{ object.id }}" href="#">Kommentieren</a>
          </ul>
          <p class="grey">Übrigens: Personen können mit @username erwähnt werden.</p>
        </section>
    </div>

    {% for message in object.conversation.messages.all %}


        {% include "comment.html" with comment=message %}

        {% for reply in message.replys.all %}
        <div class="comment--indented">
          <div class="comment__wrap">
            {% include "comment.html" with comment=reply %}
            </div>
          </div>
        {% endfor %}
    {% endfor %}

    </div>
  </div>
</div>

