<div class="small-12 medium-6 large-4">
  <div class="card">
    <div class="row align-center card-img">
      <img src="{{ MEDIA_URL }}{{ friend.picture }}" alt="{{ friend.short_name }}">
    </div>
    <div class="card-section text-center">
      <h4>{{ friend.long_name }}</h4>
      <div class="small-12 columns">
        <div class="tags">
          {% for tag in friend.tags.all %}
            <a class="tag tag--orange"><i class="fi-x-circle"></i>{{ tag }}</a>
          {% endfor %}
        </div>
        {% include "open_instance_button.html" with instance=friend %}
      </div>
    </div>
  </div>
</div>