{% extends "offcanvas.html" %}
{% load socialee_filters %}
{% load static sekizai_tags %}
{% block content %}

<section class="c-section">
  <div class="row">
    <div class="c-form">
      <div class="small-12 medium-10 medium-offset-1 column h-text-center-sm">
        <h3 class="c-form__title">Deine Daten</h3>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
          <fieldset class="c-form__fieldset">
            <div class="small-12 column">
              <div class="row">
                {% if object.profile %}
                <div class="small-12 medium-6 column">
                  <img class="h-round" id="profile_pic" src="{{ MEDIA_URL }}{{ object.picture }}" alt="profile image">
                  <label for="id_picture" id="upload" class="button button--yellow button--upload hollow"><i class="fa fa-upload" aria-hidden="true"></i>Bild hochladen</label>
                  {% include "snippet_formfield.html" with field=form.picture size="medium-0 p-0" %}
                </div>
                {% endif %}
                <div class="small-12 column">
                  <div class="row">
                    <div class="">
                      {% include "snippet_formfield.html" with field=form.username size="medium-6" %}
                      {% include "snippet_formfield.html" with field=form.email size="medium-6"  %}
                      {% include "snippet_formfield.html" with field=form.first_name size="medium-6" %}
                      {% include "snippet_formfield.html" with field=form.last_name size="medium-6" %}
                    </div>
                    <div class="">
                    {% include "snippet_formfield.html" with field=form.tagline size="medium-12" %}
                    </div>
                      <div class="column small-12 tags tags--attribute tags--orange">
                        {% include "snippet_formfield.html" with field=form.tags %}
                        {% for tag in object.tags.all %}
                          <a class="tag tag--orange"><i class="fi-x-circle"></i>{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <div class="">
                        {% include "snippet_formfield.html" with field=form.description size="medium-12" %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="small-12 columns">
              <div class="tags-wrapper">
                <div class="row">
                  <div class="small-12 medium-6 columns">
                    <div class="tags green">
                      <h6 class="green">{{ object.short_name }} bietet</h6>
                      {% include "snippet_formfield.html" with field=form.socialee_outputs %}
                      {%  for input in object.socialee_output.all %}
                      <a class="tag tag--green"><i class="fi-x-circle"></i>{{ input }}{% if badge_count >= 1 %}
                      <span>{{ badge_count }}</span>{% endif %}</a>
                      {% endfor %}
                    </div>
                  </div>
                  <hr class="show-for-small-only">
                  <div class="small-12 medium-6 columns">
                    <div class="tags blue">
                      <h6 class="blue">{{ object.short_name }} benötigt</h6>
                      {% include "snippet_formfield.html" with field=form.socialee_inputs %}
                      {% for output in object.socialee_input.all %}
                         <a class="tag tag--blue"><i class="fi-x-circle"></i>{{ output.title }}{% if badge_count >= 1 %}
                        <span>{{ badge_count }}</span>{% endif %}</a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="small-12 column c-form__footer">
              <input class="button button--yellow large" type="submit" value="Save" />
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>

{% addtoblock "js" %}
<script>

function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $("#profile_pic").attr("src", e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#id_picture").change(function(){
    readURL(this);
});
</script>
{% endaddtoblock %}

{% endblock content %}
