{% extends "offcanvas.html" %}
{% load static sekizai_tags idea_tags %}

{% block content %}

<div class="c-section -solo">
  <div class="row align-center">
    <div class="small-12 medium-11 large-11 columns">
      <div class="c-form">
        <h3 class="text-center">Hallo {{ request.user.first_name }}!</h3>
        {% if request.user.first_name %}
          <p class="lead text-center">Hier entsteht eine Seite, die dir Übersicht über deine Ideen und Projekte gibt.</p>  
        {% endif %}

          {% own_idea_list request.user.email as idea_list %}
          {% include 'snippet_ideas.html' %}

          {% if request.user.current_instance %} 
            {% for project in request.user.current_instance.inst_follows.all %}
              {% include "project_card_element.html" %}
            {% endfor %}
          {% else %}
            {% for project in request.user.follows.all %}
              {% include "project_card_element.html" %}
            {% endfor %}
          {% endif %}

        <p class="text-center"><a class="button button--yellow" href="{% url 'create_idea' %}">Teile eine Idee</a></p>
        
     </div>
    </div>
  </div>
</div>


{% endblock content %}

