{% extends "offcanvas.html" %}
{% load static sekizai_tags idea_tags %}

{% block content %}

<div class="c-section -solo">
  <div class="row">
    <div class="small-12 medium-11 large-11 small-centered">
      <div class="c-form">
        <h6 class="text-center">Hallo {% if request.user.first_name %}{{ request.user.first_name }}!{% else %}!{% endif %}</h6>
        {% if request.user.first_name %}
        <p class="-lead text-center">Hier entsteht eine Seite, die dir Übersicht über deine Ideen und Projekte gibt.</p>  
        {% endif %}

          {% include 'snippet_ideas.html' %}

        <p class="text-center"><a class="button button--yellow" href="{% url 'create_idea' %}">Teile eine Idee</a></p>
        
     </div>
    </div>
  </div>
</div>


{% endblock content %}

