@import "fullpage.js/jquery.fullPage.scss";

.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 95.5%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -15px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    &.fp-prev {
        left: 45%;
        width: 0;
        border-width: 15.5px 15px 15.5px 0;
        border-color: transparent #333 transparent transparent;
    }

    &.fp-next {
        right: 45%;
        border-width: 15.5px 0 15.5px 15px;
        border-color: transparent transparent transparent #333;
    }
}

.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;

    &.bottom {
        bottom: 28px;
    }

    &.top {
        top: 17px;
    }
}

#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    &.right {
       right: 17px; 
    }
    &.left {
        left: 17px
    }
    ul {
        li {
            .fp-tooltip {
                position: absolute;
                top: -3px;
                color: #333;
                font-size: 12px;
                font-family: 'open sans', arial, sans-serif;
                white-space: nowrap;
                max-width: 220px;
                overflow: hidden;
                display: block;
                opacity: 0;
                width: 0;

                &.right {
                    right: 20px;
                }

                &.left {
                    left: 18px;
                }
            }
            &:hover {
                .fp-tooltip {
                    -webkit-transition: opacity 0.2s ease-in;
                    transition: opacity 0.2s ease-in;
                    width: auto;
                    opacity: 1;
                }
            }
        }
    }
    &.fp-show-active a.active + .fp-tooltip {
        -webkit-transition: opacity 0.2s ease-in;
        transition: opacity 0.2s ease-in;
        width: auto;
        opacity: 1;
    }
}