// Socialee Blog scss


@import "settings";
@import "foundation-sites/scss/foundation";
// @include foundation-everything(true);

$light-blue: #edf5f3;

// @include breakpoint(small only){
//       p {
//         font-size: 1rem;
//         line-height: 1.5rem;
//       }
//       h2 {
//         font-size: 2rem;
//         margin: 2.5rem 0 1.2rem 0;
//       }
// }

// @include breakpoint(retina) {
//       p {
//         font-size: 1rem;
//         line-height: 1.5rem;
//       }
//       h2 {
//         font-size: 2rem;
//         margin: 2.5rem 0 1.2rem 0;
//       }
//   }

.top-bar-blog {
  @include top-bar-container;
  ,.top-bar-blog ul {
    background-color: rgba($topbar-background, 0.6);
  }
  span {
    color: $primary-color;
  }
  #welcomeblog { margin:auto; }
}

.blog-background {
  min-height: 100vh;
  background-image: url('../img/landingpage_bg/background-assets/background.jpg'), url('../img/landingpage_bg/background-assets/pattern.jpg');
  background-repeat: no-repeat, repeat;
  @include breakpoint(small only) {
    background-image: url('../img/landingpage_bg/background-assets/pattern.jpg');
    background-repeat: repeat;
    }
}

.blog-callout {
  @include callout-base;
    background-color: white;
    padding: 3rem;
    width: 100%;
    p {
      color: $socialee-darkgreen;
    }
    a {
      color: $socialee-orange;
    }
  
  @include breakpoint(small only) {
    padding: 0.25rem;
      img {
      max-height: 25vh;
      padding: 1.2rem 0 0 0;
      margin: 0 auto;
      }
    }
  } 

.blog-layout {
  @include flex-align($x: center, $y: stretch);
}

.blog-info {
  margin-bottom: 1rem;
  a {
    color: white;
    &:hover {
      text-decoration: none; 
    }
  }
}

.blog-category {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  background-color: $socialee-orange;
  &:hover {
      background-color: $s-button-hover;
    }
}

.blog-time-published {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;  
}

h2.entry-title {
  font-weight: bold;
  margin-bottom: 0;
  a {
    color: inherit;
    font-size: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.entry-summary {
  p {
    font-size: 1.1rem;
  }
}

.entry-content {
  p {
  // display: inline;
  // line-height: 2.2rem;
  }
}

.infosbelowcontent {
  margin-top: 5rem;
}

.blog-image {
  margin: 3rem 0;
}

.entry-image {

}

.continue-reading {
  display: inline;
  text-align: right;
}

.write-author {
  margin-top: 0rem;
  text-align: right;
  font-size: 1.2rem;
  a {
    font-size: 1.2rem;
    font-weight: 900;
  }
}

.blog-tag {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 0.65rem;
  &:hover {
      color: $s-button-hover;
      text-decoration: none;
    }
}

.breadcrumbs {
  // padding: 0.5rem 3rem;
  // background-color: rgba($topbar-background, 0.6);
  @include breadcrumbs-container;
  a {
  font-size: 1.1rem;
  }
  li {
  font-size: 1.1rem;
  color: $primary-color;
  }
  li:not(:last-child)::after {
    color: $primary-color;
  }
}