@import "settings";
@import "foundation-sites/scss/foundation";
@include foundation-everything(true);


/* GLOBAL STYLES AND HELPERS*/
div.cms .cms-toolbar-trigger a {
    display: block;
    width: 6px;
    height: 5px;
    text-align: center;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    background: #fff;
}

.messages-callout {
  @include callout-base;
  li {
    list-style: none;
  }
}

.s-space {
  height: 5rem;
}

.button {
  text-decoration: none;
}

.full-height {
  min-height: 85vh;
}

.s-container {
  padding: 10rem;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* LANDINGPAGE STYLES*/

.lp-manifest {
    position: relative;
    /*top: -5rem;*/
  h1 {
    color: #191919;
    font-size: 1.8rem;
    display: inline-block;
    position: relative;
    /*letter-spacing: 0.05rem;*/
  }
  p {
    color: #b3b3b3;
    display: inline;
    /*font-size: 0.85rem;*/
    /*text-transform: uppercase;*/
  }
}

.lp-header {
  min-height: 95vh;
}

.lp-description {
  margin-top: 5rem;
}

/* FOOTER STYLES*/

.footer-top {
  background-color: $socialee-gray;
  text-align: center;
  padding: 0.8rem;
  border-top: 1px solid $light-gray;
  .quote {
      margin: 0;
      padding: 0;
      font-size: 1.8rem;
  }
  .quote-author {
    color: $dark-gray;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
  }
}

.footer-bottom {
  background-color: $socialee-gray;
  text-align: center;
  font-size: 1rem;
  padding: 2rem;
  border-top: 1px solid $light-gray;
  p {
    &.slogan {
      color: $dark-gray;
      font-size: 1.8rem;
      margin: 0 0 1rem;
    }
    &.copywrite {
      color: $dark-gray;
      font-size: 0.75rem;
      margin: 0;
    }
  }
  .links a {
    text-decoration: none;
    list-style: none;
    color: $dark-gray;
    padding: 3rem 0 2rem;
    margin: 0;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
}


/*PROJEKTÜBERSICHT STYLES*/

.s-projectcard{
  /*min-width: 400px;*/
  // min-width-height: 90%;
  border: solid 2px $medium-gray;
  padding: 1rem 1rem 0 1rem;
  margin: 1rem;
  background-color: $socialee-gray;
  h3 {
    line-height: 1;
    margin-bottom: 0;
  }
  .tagline {
    line-height: 1;
  }
  li {
    font-size: 95%;
    line-height: 1;
  }
  .s-icon-text {
    font-size: 0.65rem;
    font-weight: bold;
  }
}
.s-projectcard:hover {
  border: solid 2px orange;
}


/*OFFCANVAS STYLES*/

.off-canvas {
  padding-top: 0em;
  height: 100%;
}

.menu.vertical .button {
    @include button-hollow;
    margin: 0.6rem 4rem 1rem 1rem;
    border: solid 1px black;
    color: black;
}

.menu.vertical :hover .button{
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px black;
    color: $dark-gray;
}

.menu.vertical > li a {
    text-decoration: none;
    border-bottom: solid 1px white;
}

.menu.vertical > li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/*Projektseite*/

.project-header-slider-container {
  margin-top: 1rem;
  position: relative;
}

.project-header-slider {
  // This class is only used for slick to recocnize Slider
}

.project-header-slide img {
  min-width: 100%;
  max-height: 300px;
}

.slick-slider {
    margin-bottom: 0px;
}

.project-status-bar {
  background: $socialee-gray;
  background-clip: content-box;
  i {
    font-size: 2rem;
  }
  div {
    border-right: solid 1px $light-gray;
  }
  div:last-child {
   border-right: none; 
  }
  .row {
    min-height: 5rem;
  }
}

.project-content {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.project-header-titel {
  position: absolute;
  z-index: 100;
  bottom: 1rem;
  left: 0.95rem;
  div {
    padding: 0 1.5rem 0 0.5rem;
    height: 100%;
    width: 100%;
    background-color: $socialee-gray;
  }
}

.project-header-details {
  position: absolute;
  z-index: 100;
  bottom: 1rem;
  right: 1.8rem;
  div {
    padding: 0 1.5rem 0 0.5rem;
    height: 100%;
    width: 100%;
    background-color: $socialee-gray;
  }
}

.edit-project-button {
  position: absolute;
  z-index: 100;
  top: 1rem;
  right: 1.8rem;
}

// Crispy Things
.error {
  color: red;
}





