@import "settings";
@import "foundation-sites/scss/foundation";
@include foundation-everything(true);


/* GLOBAL STYLES AND HELPERS*/

.s-space {
  height: 5rem;
}

.button {
  text-decoration: none;
}

.full-height {
  min-height: 95vh;
}

.s-container {
  padding: 10rem;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* LANDINGPAGE STYLES*/

.lp-header {
  min-height: 95vh;
  h1, p {
    position: relative;
    top: -5rem;
    letter-spacing: 0.05rem;
  }
  p {
    font-size: 0.85rem;
    text-transform: uppercase;
  }
}

.lp-description {
  margin-top: 5rem;
}

/* FOOTER STYLES*/

.footer-top {
  background-color: $socialee-gray;
  text-align: center;
  padding: 0.8rem;
  border-top: 1px solid $light-gray;
  .quote {
      margin: 0;
      padding: 0;
      font-size: 1.8rem;
  }
  .quote-author {
    color: $dark-gray;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
  }
}

.footer-bottom {
  background-color: $socialee-gray;
  text-align: center;
  font-size: 1rem;
  padding: 2rem;
  border-top: 1px solid $light-gray;
  p {
    &.slogan {
      color: $dark-gray;
      font-size: 1.8rem;
      margin: 0 0 1rem;
    }
    &.copywrite {
      color: $dark-gray;
      font-size: 0.75rem;
      margin: 0;
    }
  }
  .links a {
    text-decoration: none;
    list-style: none;
    color: $dark-gray;
    padding: 3rem 0 2rem;
    margin: 0;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
}


/*PROJEKTÜBERSICHT STYLES*/

.s-projectcard{
  /*min-width: 400px;*/
  min-height: 100%;
  border: solid 2px $medium-gray;
  padding: 1rem 1rem 0 1rem;
  margin: 1rem;
  background-color: $socialee-gray;
  h3 {
    line-height: 1;
    margin-bottom: 0;
  }
  .tagline {
    line-height: 1;
  }
  li {
    font-size: 95%;
    line-height: 1;
  }
  .s-icon-text {
    font-size: 0.65rem;
    font-weight: bold;
  }
}
.s-projectcard:hover {
  border: solid 2px orange;
}


/*OFFCANVAS STYLES*/

.off-canvas {
  height: 100%;
}

.menu.vertical .button {
    margin: 0.6rem 4rem 1rem 1rem;
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px black;
    color: black;
}

.menu.vertical :hover .button{
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px black;
    color: $dark-gray;
}

.menu.vertical > li a {
    text-decoration: none;
    border-bottom: solid 1px white;
}

.menu.vertical > li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}










