@import "settings";
// @import "foundation/scss/foundation";

$bower_components_url: "/static/bower_components";

// Slick Slider 
// used only in socialee_lp_slider.html
$slick-font-path: $bower_components_url + "/slick.js/slick/fonts/";
$slick-loader-path: $bower_components_url + "/slick.js/slick/";
@import "slick.js/slick/slick";
@import "slick.js/slick/slick-theme";

// Foundation Icons
$fi-path: $bower_components_url + "/foundation-icon-fonts";
@import "foundation-icon-fonts/foundation-icons.scss";

// Behold, here are all the Foundation components.
@import "foundation/scss/foundation/components/grid";
@import "foundation/scss/foundation/components/accordion";
@import "foundation/scss/foundation/components/alert-boxes";
// @import "foundation/scss/foundation/components/block-grid";
// @import "foundation/scss/foundation/components/breadcrumbs";
@import "foundation/scss/foundation/components/button-groups";
@import "foundation/scss/foundation/components/buttons";
// @import "foundation/scss/foundation/components/clearing";
// @import "foundation/scss/foundation/components/dropdown";
// @import "foundation/scss/foundation/components/dropdown-buttons";
@import "foundation/scss/foundation/components/flex-video";
@import "foundation/scss/foundation/components/forms";
@import "foundation/scss/foundation/components/icon-bar";
// @import "foundation/scss/foundation/components/inline-lists";
@import "foundation/scss/foundation/components/joyride";
// @import "foundation/scss/foundation/components/keystrokes";
@import "foundation/scss/foundation/components/labels";
@import "foundation/scss/foundation/components/magellan";
// @import "foundation/scss/foundation/components/pagination";
@import "foundation/scss/foundation/components/panels";
// @import "foundation/scss/foundation/components/pricing-tables";
// @import "foundation/scss/foundation/components/progress-bars";
// @import "foundation/scss/foundation/components/range-slider";
@import "foundation/scss/foundation/components/reveal";
@import "foundation/scss/foundation/components/side-nav";
// @import "foundation/scss/foundation/components/split-buttons";
// @import "foundation/scss/foundation/components/sub-nav";
// @import "foundation/scss/foundation/components/switches";
// @import "foundation/scss/foundation/components/tables";
@import "foundation/scss/foundation/components/tabs";
// @import "foundation/scss/foundation/components/thumbs";
// @import "foundation/scss/foundation/components/tooltips";
@import "foundation/scss/foundation/components/top-bar";
@import "foundation/scss/foundation/components/type";
@import "foundation/scss/foundation/components/offcanvas";
@import "foundation/scss/foundation/components/visibility";

a {
  color: #f89406;
}

// Mixins
  @mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

// Socialee global styles
  .socialee-button {
        @include button();
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.7em;
        padding: 8px 16px;
        font-weight: 400;
        border-radius: 3px;
        i {
          font-size: 2rem;
          font-weight: 100;
          padding: 0;
          margin: 0;
        }
  }

  .socialee-button:hover {
    color: $orange;
  }

  .button:hover {
    color: $orange; 
  }

  button:hover {
    color: $orange; 
  }

  .errorlist {
    background-color: red;
    color: red;
    list-style: none;
  }

// jQueryUI Tooltip
  .ui-tooltip {
    background: black;    
    border: 2px solid white;
    padding: 2px 4px;
    color: white;
    border-radius: 10px;
    font: inherit;
    font-size: 0.8em !important;
    text-transform: uppercase;
    box-shadow: 0 0 4px $monsoon;
  }

// jQueryUI Accordion
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
      border: none; //1px solid #D3D3D3;
      background: #fff url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50%;
      font-weight: normal;
      color: #555;
      outline: none;
  }

  .ui-accordion .ui-accordion-content {
      padding: 0 0.5em 0 3em;
      border-top: 0px none;
      overflow: auto;
      p {
        margin-bottom: 0.25rem;
      }
  }

  .ui-accordion .ui-accordion-header {
      display: block;
      cursor: pointer;
      position: relative;
      margin: 2px 0px 0px;
      padding: 0.2em 0.2em 0.2em 2em;
      min-height: 0px;
      font-size: 1.3em;
      font-weight: 300;
    }

  .ui-widget-content {
      border: none;
      background-color: #fff;
      color: #222;
  }

  .ui-widget {
      font-family: inherit;
      font-size: inherit;
  }

// Navigation
  
  .f-topbar-fixed { padding-top: 0 ! important }  // override padding from foundation.topbar.js

  nav.top-bar:not(.expanded) {
    text-align: center;
      section.top-bar-section { 
        display: inline-block; 
    }
      section.nav-right {
        float: right;
    }
  }

  .nav-middle li a {
    margin: 0 20px 0 20px;
  }

  .top-bar-section li.active:not(.has-form) a:not(.button) {
    text-decoration: underline;
  }

  .question-wrapper {
    div {
      color: $monsoon;
    }
    div:hover {
      color: #f89406;
    }
  }

  #questionnavleft{
    cursor: pointer;
    position: relative;
    top: 110px;
    right: 8px;
    font-size: 1.5em;
    z-index: 10;
    float: left;
  }
  #questionnavright {
    cursor: pointer;
    position: relative;
    top: 110px;
    left: 8px;
    font-size: 1.5em;
    z-index: 10;
    float: right;
  }

  // .top-bar .toggle-topbar.menu-icon a {
  //     color: $monsoon;
  //     height: 34px;
  //     line-height: 33px;
  //     padding: 90px 2.91667rem 0px 1.35417rem;
  //     position: relative;
  // }

// Landingpage
  #wipModal, #manifestModal {
    p, li, {
      font-size: 1em;
      font-weight: 200;
    }
  }

  .socialee-feedback {
    position: fixed;
    right: 100px;
    top: 100px;
    font-size: 5em;
    z-index: 200;
    text-shadow:0 0 4px $orange;
    a {
      color: $monsoon;
    }
    :hover {
      color: $orange;
      text-shadow:3px 3px 3px $monsoon;
    }
  }

  .socialee-inline-buttons {
    list-style: none;
    text-align: center;
    p {
      padding: 0 8px;
      text-transform: uppercase;
      font-size: 0.75rem;
      letter-spacing: 0.05em;
      display: inline;
    }
    li {
      display: inline;
    }
  }

  .socialee-entries-wrapper {
      // max-height: 80vh;
      // overflow: auto;
      margin: 65px 25px 25px 25px;

    }
     
  .socialee-entries {
    .label-projects {
      background-color: rgba(#f89406, 0.4);
    }
    .label-inputs {
      background-color: rgba(#88D498, 0.4);
    }
    .label-outputs {
      background-color: rgba(#087CA7, 0.4);
    }
    list-style: none;
    li {
    font-size: 0.8rem;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    margin: 2px; 
    margin: 1px 0 1px 0; 
    }
  }

  
  .vertical_arrow {
    position: absolute;
    right: 0;
    bottom: -50%;
    // margin-right: 80px;
    margin-right: 7%;
    z-index: 999;
    img {
      height: 100vh;  
    }
    a {
      color: $monsoon;
      :hover {
        color: $orange;
      }
    }
    p {
      font-size: 0.8rem;
      font-weight: bold;
      position: relative;
      top: 20px;
    }
  }

  #welcome_text{
    h1 {
      font-weight: 300;
      font-size: 56px;
      line-height: 1.2em;
      color: $jet;
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
    }
    p {
      color: $oil;
      font-weight: 500;
      span {
        line-height: 1em;
      }
    }
  }

  #mach_mit {
    font-size: 0.9rem;
    position: relative;
    top: 8px;
    margin-left: 12px;
    text-decoration: underline;
    text-transform: uppercase;
    float: left;
  }

  .socialee-lp-slider {
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
  }

  .lp-slide {
    position: relative;
    top: 0px;
    height: 100vh;
    z-index: -1;
  }

  .socialee-project-slider {
    position: absolute;
    top: 0px;
    height: 100vh;
    z-index: -1;
    width: 100%;
  }

  .project-slide {
    position: relative;
    top: 0px;
  }

  .custom-lp-label {
    @include label ();
    padding: rem-calc(3 4 3);
    top: -22px;
    background-color: #f89406;
    border-radius: 2px;
    :hover { 
    color: $silver;
    }
  }

  .low1 {
    padding-top: 100px;
  }
  .low2 {
    padding-top: 65px;
  }

  .title-wrapper {
    h1 {
      font-size: 2.5rem;
      small {
        font-size: 50%;
        letter-spacing: 0.6rem;
      }
    }
    h6 {
      text-transform: uppercase;
      font-size: 0.75rem;
      letter-spacing: 0.05em;
    }
    .socialee-button {
      padding: 4px 7px;
    }
  }

  .signup {
    position: relative;
    top: -50px;
  }

  .question-slide {
    margin: 0 10px 0 10px;
    h3 {
      font-size: 1.8rem;
      font-weight: 100;
      letter-spacing: 0.11em;
      // font-style: italic;
      margin-bottom: 2px;
      padding-bottom: 0;
      line-height: 1.2em;
    }
    h6 {
      text-align: center;
      text-transform: uppercase;
      font-size: 0.7rem;
      letter-spacing: 0.05em;
      color: $monsoon;
    }
  }

  .lp-signup-form {
  //     margin-top: 38px;
  //     input {
  //     height: 1.7rem;
  //     margin-bottom: 2px;
  //     padding: 0 0 0 10px;
  //     }
  //   .prefix {
  //     line-height: 1.7rem;
  //     height: 1.7rem;
  //     margin-bottom: 2px;
  //     }
    p {
      margin-bottom: 5px;
    }
  //   ul {
  //     margin: 0;
  //     list-style: none;
  //     color: red;
  //     font-size: 0.5rem;
  //   }
  }

//off-canvas
  .offcanvas-button {
    background-color: transparent;
    border: 1px solid black !important;
    border-radius: 3px;
    padding: 14px;
    margin: 18px 30px 20px 30px;
    text-transform: uppercase;
  }
  
// Zettel section
  .zettel-wrap {
    padding-top: 30px;
  }

  .zettel-inner-wrap {
    margin: 0;
    padding: 0;
  }

  .zettel-slide-left {
    border: 1px solid black;
    border-right: none;
    padding: 0;
    margin: 0;
    cursor: ns-resize;
  }

  .zettel-slide-right {
    border: 1px solid black;
    border-left: none;
    padding: 0;
    margin: 0;
    cursor: ns-resize;
  }

  .slider-overlay-top {
      background-color: rgba(#222222, 0.8);
      z-index: 25;
      width: 100%;
      height: 7.5%;
      position: absolute;
      padding: 0 12px 0 12px;
      border-left: 1px solid #666666;
      border-right: 1px solid #666666;
      text-align: center;
      p {
        @include vertical-align;
        color: white;
        font-size: 0.8em;
      }
      i {
          cursor: pointer;
          color: white;
          font-size: 1.9em;
        }
      i:hover { color: #f89406;  
                opacity: .8; 
                filter:alpha(opacity=80); 
              }
  }

  .slider-overlay-bottom {
      background-color: rgba(#222222, 0.8);
      z-index: 25;
      width: 100%;
      height: 7.5%;
      position: absolute;
      bottom: 0;
      padding: 0 12px 0 12px;
      border-left: 1px solid #666666;
      border-right: 1px solid #666666;  
      text-align: center;
      p {
        @include vertical-align;
        color: white;
        font-size: 0.8em;
      }
      .button {
        @include vertical-align;
        margin-right: 10px;
        padding: 5px;
      }
      i {
          cursor: pointer;
          color: white;
          font-size: 1.9em;
        }
      i:hover { color: #f89406;  
                opacity: .8; 
                filter:alpha(opacity=80); 
              }
  }

  .accordion-navigation {
    >a:after {
      content: "☜";
      padding-left: 5px;
      float: right;
      font-size: 20px;
    }
    &.active a:after {
      content: "☞";
    }
  }

// Footer
  .footer {
    background-color: $white;
    text-align: center;
    font-size: 1.2rem;
    padding: 4rem;
    
    .inline-list a {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background-color: $oil;
      border-radius: 2px;
      font-size: 1.5rem;
      color: #fff;
      text-align: center;
      line-height: 35px;
      margin: 0 3px 0 0;
    }
    
    .contact {
      list-style-type: none;
      margin: 0;
      text-align: left;
      color: $oil;
      
      li {
        margin-bottom: 2rem;
        
        p {
          padding-left: 5rem;
        }
      }
      
      i {
        position: absolute;
        background-color: $oil;
        color: #fff;
        font-size: 1.2rem;
        border-radius: 50%;
        line-height: 1;
        margin: 0 0 0 -3rem;
        vertical-align: middle;
        padding: .25em .45em;
      }
    }
    
    .copywrite {
      color: #8f9296;
      font-size: 0.875rem;
      margin: 0 0 1rem 0;
    }
    
    .about {
      color: $oil;
      font-size: 1rem;
      margin: 0 0 1rem 0;
    }
    
    .footer-links a {
      list-style: none;
      font-weight: normal;
      color: $oil;
      padding: 3rem 0 2rem;
      margin: 0;
      font-size: 0.875rem;
      
      &::after {
        content: "•";
        padding: 0 0.2rem 0 0.4rem;
      }
      
      &:last-child::after {
        content: "";
        padding: 0 0.4rem 0 0.8rem;
      }
    }
    
    @media only screen and (min-width: 40.063em) {
      
      p {
        text-align: left;
      }
      
      .social {
        text-align: left;
        margin: 0;
      }
      
      .contact {
        text-align: left;
        > i {
          margin-right: 1rem;
        }
      }
      
    }
  }
   
  .logo {
    color: $oil;
    font-size: 1.5rem;
    
    i {
      margin-right: 0.5rem;
    }
  }

// Cafe
  .socialee-cafe-bg-slider {
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
  }

  .cafe-bg-slide {
    height: 100vh;
    z-index: -1;
  }

  .cafePromoSlider {

  }

  .cafePromoSlide {
    margin: 38px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    background-color: rgba(#fff, .6);
  }

  .cafe-info {

  }

  .slide {
        h2 {
          font-size: 1.5em;
        }
    .kalender {

    }
  }

  #cover { 
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: rgba(#fff, .8); 
    z-index: -1; 
    width: 100%; 
    height: 100%; 
  }

// Project Template

.so-header-image-wrapper {
  height: 25vh;
}

.so-header-image {
  background: url("/static/img/projects/antonsreise/antontitel.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  position: relative;
  .so-header-title {
    position: absolute;
    bottom: 0;
    width: 90%;
  }
  .panel {
    background-color: rgba(#f89406, .9);
    border-color: $monsoon;
    margin-bottom: 0;
    border-bottom: none;
    height: 100%;
  }
  ul {
    list-style-type: none;
  }
}

.header-label {
  @include label(
    // This options sets label padding
    $padding: 5px 5px 5px,
    // This option sets label text-size
    $text-size: 14px,
    // This option sets label background-color
    $bg: $monsoon,
    // This option sets the radius of the label
    $radius: 2px
  );
  margin-bottom: 3px;
}

.magellan-container {
  background-color: $smoke;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .active {
    font-weight: bold;
  }
  dl {
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    overflow: hidden;
    display: table;
  }
  dd {
    // display: inline;
    // width: 60px;
    float: left;
    padding: 2px;
    width: 150px;
    margin-left: auto ;
    margin-right: auto ;
  }
  a {
    color: $monsoon;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999;
}



