{% load static %}

<fieldset class="{{size}} columns">
    
    {# max-length counter #}
    {% comment %}if you want a length restriced input add this to the snippet and add the attr {"class":"input_with_bound"} to the input in forms.py {% endcomment %}
    {% if len_restricted %}
    <label class="second-form-label pull-right" for="{{field.id_for_label}}"></label>
    {% endif %}

    {# field-label and form-field / placeholders are set in forms.py #}
    <label>{{ field.label }}</label>
    {{ field }}

    {# show help text if available #}
    {% if field.help_text and not field.errors %}
    <p class="help-text">{{ field.help_text }}</p>  
    {% endif %}

    {# show errors and disable help text #}
    {% if field.errors %}
    {% for error in field.errors %}
    <p class="help-text error">{{ error }}</p>
    {% endfor %}
    {% endif %}

    {% comment %} file upload
    if you have a picture to upload add upload_val to the snippet and add the attr {"class":"input_with_img"} to the input in forms.py {% endcomment %}
    {% if upload_val %}
    <label for="{{field.id_for_label}}" class="button"><i class="fa fa-upload" aria-hidden="true"></i> {{ upload_val }}</label>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <img class="thumbnail" />
      </div>
    </div>
    {% endif %}


</fieldset>