<div class="small-12 medium-6 large-4 column end">
  <div class="card card-white">
    <div class="card-img">
      {% if instance.picture %}
      <img src="{{ MEDIA_URL }}{{ instance.picture }}" alt="{{ instance.short_name }}">
      {% else %}
      <img src="{{ MEDIA_URL }}avatar_profile-acc6c5a5a9d35bd7d292dfd776cfec76_mnGb9Tc.png" alt="profile image">
      {% endif %}
    </div>
    <div class="card-section text-center">
      <h5 class="mb-20">{{ instance.long_name }}</h5>
        <div class="tags mb-20">
          {% for tag in instance.tags.all %}
            <a class="tag tag--orange"><i class="fi-x-circle"></i>{{ tag }}</a>
          {% endfor %}
        </div>
        {% include "snippet_open_instance.html" with instance=instance %}
    </div>
  </div>
</div>
