<div class="{{ color }}"><h5>{{ title }}</h5></div>

<div class="tags {{ color }} js-content-sized">

    {% for inout in input_output.all %}
        <a class="tag tag--{{ color }} js-sized"><i class="fi-x-circle"></i>{{ inout.title }}
    {% endfor %}
    <a class="tag tag--white tag--more js-sized-more"><i class="fa fa-plus"></i>  Mehr</a>
</div>




{% comment %}
    {% if inout.badge_count >= 1 %}
        <span>{{ inout.badge_count }}</span>
    {% endif %}</a>

<div class="column mb-10 strong {{ color }} show-for-small-only"><h5>{{ title }}</h5></div>

{% endcomment %}
    