{% load socialee_filters %}
<div class="comment" id="comment{{ comment.id }}">
  <div class="comment__header">
    {% if comment.by_instance %}
      {% include "snippet_follow.html" with to_follow=comment.by_instance %}
    {% endif %}
    <div class="row">
      <div class="comment__avatar small-12 column">
        {% if comment.by_instance %}
          <a href="#"><img src="{{ MEDIA_URL }}{{ comment.by_instance.picture }}" alt="profile image"></a>
        {% else %}
          <img src="{{ STATIC_URL }}img/app/ralph1.jpg" alt="{{comment.by_user}}">
        {% endif %}
          <div class="comment__avatar-text">
            <div class="h6">{{ comment.by_instance.long_name }} </div>
            <div class="h-f15 greyblue-2 h-capital h-pt-5">vor {{ comment.date|timesince }}</div>
          </div>
      </div>
    </div>
  </div>
  
  <div class="comment__content">
    <p>{{ comment.message| link_ats }}</p>
  </div>
  <div class="comment__actions">
    <ul class="inline-list">
      <li><a href="#"><i class="fa fa-reply"></i>§Antworten </a></li>
      <li><a href="#"><i class="fa fa-heart"></i>§3</a></li>
    </ul>
    <ul class="inline-list show-for-medium float-right">
      <li><a href="#">§Zeige Verbindungen</a></li>
      <li><a href="#">§Das ist eine Idee!</a></li>
    </ul>
    <ul class="dropdown menu inline-list float-right show-for-small-only" data-dropdown-menu>
      <li>
        <a href="#">mehr</a>
        <ul class="menu">
          <li><a href="#">§Zeige Verbindungen</a></li>
          <li><a href="#">§Das ist eine Idee!</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
