{% load socialee_filters static %}

{# Edit-Mode if own idea #}
{% if request.user.email == idea.author %}
<div class="card edit">
{% else %}
<div class="card">
{% endif %}

  <div class="card-section">
    <a style="font-weight: normal;" {% if idea != "preview" %} href="{% url 'idea_detail' idea.pk %}" {% endif %}>
    {# Bild und Label #}
    {% if idea.picture or idea == "preview" %}
      <img class="float-center" src="{{ MEDIA_URL }}{{ idea.picture }}" id="idea_img">
      <div class="row align-center">
      {% if idea.active %}
        <div class="socialee-label shrink column text-center">Idee</div>
      {% else %}
        <div class="socialee-label grey shrink column text-center">Idee</div>
      {% endif %}
      </div>
    {% else %}
      <div class="row align-center">
        <div class="socialee-label shrink column text-center">Idee</div>
      </div>
    {% endif %}
    {# End Bild und Label #}

    {# Statusbereich #}
    {% if idea.private or not idea.active or not idea.enabled %}
    <div class="row align-center text-center mt-05rem">
      
      {% if not idea.active and idea != "preview"%}
      <div class="columns">
        <p class="meta mb-0">Inzwischen ein Projekt</p>
      </div>
      {% endif %}

      {% if not idea.enabled %}
      <div class="columns">
        <p class="meta mb-0">wird geprüft</p>
      </div>
      {% endif %}

      {% if idea.private %}
      <div class="columns">
        <p class="meta red mb-0"><i class="fa fa-lock" aria-hidden="true"></i><strong> Nicht öffentlich</strong></p>
      </div>  
      {% endif %}
    </div>

    <div class="separator-line"></div>
    {% endif %}
    {# END Statusbereich #}


    {# Titel #}
    <h4 class="text-center mt-05rem" id="idea_title">{{ idea.title }}</h4>

    {# Beschreibung #}
    <p class="text-center small" id="idea_description">{{ idea.description|truncatechars:600|urlizetrunc:25|url_target_blank|safe }}{% if idea.description|length > 599 %} |<a href="{% url 'idea_detail' idea.pk %}"> mehr</a>{% endif %}</p>

    {# Link zur Projektseite #}
    {% if not idea.active and idea != "preview" %}
    <div class="row align-center">
      <a class="button darkblue small" href="{% url 'project_view' idea.project.slug %}">Projektseite öffnen</a>
    </div>
    {% endif %}

    {# Autor & Zeit #} 
    <p class="meta text-center mt-2rem mb-0">{% if idea.authorUser %}{{ idea.authorUser }} {% else %} Anonym {% endif %} &#183; vor {{ idea.subm_date|timesince}}</p>

    <div class="separator-line"></div>

    </a>
    {# End Clickable Area #}

    {# Likes und Kommentare #}
    <div class="row align-center">
      <div class="shrink column">
      
        {% if request.user.is_authenticated %}

            {% if idea in request.user.likes_ideas.all  %}
            <div class="button-wrapper" idea_id="{{ idea.id }}" id="heart_{{ idea.id }}">
              <div class="like-button orange">
                <i class="fa fa-heart orange" aria-hidden="true"></i> {{ idea.likes.count }}
              </div>
            </div>
            {% else %}
            <div class="button-wrapper" idea_id="{{ idea.id }}" id="heart_{{ idea.id }}">
              <div class="like-button grey">
                <i class="fa fa-heart" aria-hidden="true"></i> {{ idea.likes.count }}
              </div>
            </div>
            {% endif %}
          
        {% else %}

          <div class="button-wrapper">
            <div class="like-button grey">
              <a href="{% url 'account_login' %}"><i class="fa fa-heart" aria-hidden="true"></i> {{ idea.likes.count }}</a>
            </div>
          </div>

        {% endif %}

      </div>

      <div class="shrink column">
        <div class="button-wrapper">
          <div class="button-pill">
            <i class="fa fa-comment" aria-hidden="true"></i> {{ idea.comments.count }}
          </div>
        </div>
      </div>

    </div>
    {# End Likes und Kommentare #}

  </div>
  {% if request.user.email == idea.author %}
  <div class="row">
    <div class="small-12 columns card-edit-section">
      <p class="text-center mb-0"><a href="{% url 'idea_edit' idea.pk %}"><i class="fa fa-pencil"></i> Idee bearbeiten</a></p>
    </div>
  </div>
  {% endif %}
</div>

